.node--stuff-list.node--full .field--stuff-item {
  padding: .5em;
  border-top: 1px solid $accent-dividers;
  
  &:last-child {
    border-bottom: 1px solid $accent-dividers;
  }

  .field--stuff-item-label {
    color: $gray;
    text-transform: uppercase;
  }

  // .field--stuff-item-content {
  //   display: none;
  // }
}

.stuff-list--grid {
  max-width: 313px;
  margin: 0 auto;

  @include breakpoint($tablet) {
    width: 33.333%;
    float: left;
  }
}