/*
Content Reveal

Simple tool to make content hidden and revealed when a trigger is clicked. It
doesn't matter where on the page the trigger and target content are, but the
trigger element must target the content via a <code>data-reveal-target="target-id"</code>
attribute. The <code>.reveal__content</code> container must have an <code>id</code>
attribute that matches the <code>data-reveal-target</code>.

Markup: reveal.hbs

Style guide: interactive.reveal
*/
.reveal__content {
  @extend %reveal-hidden;

  video {
    width: 100%;
  }
}

.reveal__close {
  position: absolute;
  z-index: 5;
  right: 6px;
  top: 6px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  font-size: em(15px);
  color: #fff;
  text-align: center;
  font-weight: bold;
  transition: background .25s;

  &:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.4);
  }
}

@include breakpoint($tablet-min) {
  .reveal__close {
    right: 8px;
    top: 8px;
    width: 35px;
    height: 35px;
    line-height: 32px;
    font-size: em(20px);
  }
}

@include breakpoint($desktop-min) {
  .reveal__close {
    right: 10px;
    top: 10px;
    width: 45px;
    height: 45px;
    line-height: 43px;
    font-size: em(24px);
  }
}
