/*
Ajax Consumption

This section explains how to consume the header and footer through AJAX. We
will expose the following items for consumption:

- Logo
- Main navigation menu
- Secondary navigation menu
- Footer menu

On page load, all - or whichever items you choose - will be loaded via an asynchronous
call. Both JSON and JSONP will be supported, and you are welcome to choose whichever
approach works best for you. (*JSONP is a simple way to overcome
browser restrictions when sending JSON responses from different domains from the client.*)

The general goal of this approach is to alleviate the work in manually updating parts of the
DOM as well as general consistency of the header/footer across multiple websites.

#### Javascript
This example shows you how to easily consume the data with a simple AJAX call.

**NOTE! This script is not included in the build! It is an example of how you
can get the data with a few lines of javascript. When building this out on
production, be sure to replace the domain with cdn.tableau.com (i.e. after
the new website goes live.) **
```
$(document).ready(function() {
    // Declare some variables.
    var domain = 'redesign-tableau.gotpantheon.com',//replace with cdn.tableau.com when live.
        lang = $('html').attr('lang') || 'en',
        lang_map = {
          'en' : '',
          'fr' : 'fr-fr/',
          'de' : 'de-de/',
          'pt-br' : 'pt-br/',
          'es' : 'es-es/',
          'zh-hans' : 'zh-cn/',
          'ja' : 'ja-jp/',
          'ko' : 'ko-kr/'
        },
        protocol = location.protocol';

    // An example of loading the menus via AJAX (json).
    // Prepend the language if appropriate.
    $.ajax({
      url: protocol + '://' + domain + '/' + lang_map[lang] + 'ajax/megamenu',
      type: 'GET',
      dataType: 'json',
      success: tabAjaxMegaMenu,
      error: function (xhr, ajaxOptions, error) {
        console.log(xhr.status);
        console.log(error);
      }
    });

    // An example of loading the menus via AJAX (jsonp).
    // Prepend the language if appropriate.
    $.ajax({
      url: protocol + '://' + domain + '/' + lang_map[lang] + 'ajax/megamenu' +
      '/jsonp/' + 'tabAjaxMegaMenu',
      type: 'POST',
      dataType: 'jsonp'
  });
}
```

This javascript file (part of the styleguide) includes the callback function
**tabAjaxMegaMenu** used in the example above. The code below will be
responsible for replacing the DOM placeholders.


```
(function($) {
  // Callback function to insert the menu into the DOM.
  window.tabAjaxMegaMenu = function(data) {
    var commands = {
    insert: function (response) {
      $(response.selector)[response.method](response.data);
    }
  };

  // Execute our commands.
    for (var i in data) {
    if (data[i]['command'] && commands[data[i]['command']]) {
      commands[data[i]['command']](data[i]);
    }
  }

  // Trigger event when our menu has been loaded.
    $(document).trigger('tabAjaxMegaMenu:ready');
  };
})(jQuery);
```

Weight: 100

Markup: ajax_consumption.hbs

Style guide: navigation.ajax_consumption
*/
