/*
Default Headings

Used for title and prominent labels of content.

Markup: headings-kss.hbs

Weight: 20

Styleguide typography.headings
*/

h1, .heading--h1,
h2, .heading--h2,
h3, .heading--h3,
h4, .heading--h4,
h5, .heading--h5,
h6, .heading--h6 {
  margin: .5em 0;
  font-family: $text-open-sans;
  font-weight: 100;
  line-height: 1.2;

  b,
  strong {
    font-family: $text-open-sans;
    font-weight: 400;
  }
}

h1, .heading--h1 {
  font-size: em(48px);
  line-height: 1.25;
  color: $text-headlines;

  a {
    color: $text-headlines;
  }

  @include breakpoint($tablet-only) {
    font-size: em(45px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(32px);
  }
}

h2, .heading--h2 {
  font-size: em(36px);
  line-height: 1.39;
  color: $text-headlines;

  a {
    color: $text-headlines;
  }

  @include breakpoint($tablet-only) {
    font-size: em(32px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(28px);
  }
}

h3, .heading--h3 {
  font-size: em(26px);
  color: $text-dark-body;
  -webkit-font-smoothing: auto;

  a {
    color: $text-dark-body;
  }

  @include breakpoint($mobile-only) {
    font-size: em(22px);
  }
}

h4, .heading--h4 {
  font-size: em(23px);
  color: $text-dark-body;

  a {
    color: $text-dark-body;
  }

  @include breakpoint($tablet-only) {
    font-size: em(20px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(18px);
  }
}

h5, .heading--h5 {
  font-size: 1.25em;
  color: $text-dark-body;
  line-height: 1.5;
  -webkit-font-smoothing: auto;

  a {
    color: $text-dark-body;
  }
}

h6, .heading--h6 {
  font-size: 1em;
}

/*
Headings Template

Just registering this template as a partial

Markup: heading.hbs

Hidden: true

Styleguide typography.heading-template
*/
