/*
Default Headings

Used for title and prominent labels of content.

Markup: headings-kss.hbs

Weight: 3

Styleguide typography.headings
*/

h1, .heading--h1,
h2, .heading--h2,
h3, .heading--h3,
h4, .heading--h4,
h5, .heading--h5,
h6, .heading--h6 {
  margin: .5em 0;
  font-family: $text--benton-thin;
  font-weight: 100;
  line-height: 1.2;
}

h1, .heading--h1 {
  font-size: em(50px);

  @include breakpoint($tablet-only) {
    font-size: em(45px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(32px);
  }
}

h2, .heading--h2 {
  font-size: em(36px);

  @include breakpoint($tablet-only) {
    font-size: em(32px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(28px);
  }
}

h3, .heading--h3 {
  font-size: em(26px);
}

h4, .heading--h4 {
  font-size: em(23px);
}

h5, .heading--h5 {
  font-size: 1.25em;
}

h6, .heading--h6 {
  font-size: 1em;
}

/*
Headings Template

@todo remove this once #11 is resolved

Markup: heading.hbs

Weight: 100

Styleguide typography.heading-template
*/


/*
Context-specific Headings

These heading classes are used for specific contexts.

Markup: context-headings.hbs

Nodefault: true

Nocode: true

Weight: 4

.heading--homepage - Homepage Hero (70px) - uses `<h1>`
.heading--product - Product Landing/Product Detail Hero (50px) - uses `<h1>`
.heading--download - Download Success (48px) - uses `<h1>`
.heading--medium - Medium headers (36px) - uses `<h2>`
.heading--small - Small Headline/Product labels (26px) - uses `<h3>`
.heading--x-small - XS Headline (23px) - uses `<h4>`
.heading--label - HP Hero Eyebrow/News title/Demo (20px) - uses `<h5>`

Styleguide typography.context-headings
*/

.heading--homepage {
  @extend h1;
  font-family: $text--benton-thin;
  font-weight: 100;
  font-size: em(70px);
  line-height: 1;
  color: $text-headlines;
  
  a {
    color: $text-headlines;
  }

  @include breakpoint($tablet-only) {
    font-size: em(45px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(32px);
  }
}

.heading--product {
  @extend h1;
  font-family: $text--benton-thin;
  font-weight: 100;
  color: $text-headlines;
  
  a {
    color: $text-headlines;
  }

  @include breakpoint($tablet-only) {
    font-size: em(32px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(27px);
  }
}

.heading--download {
  @extend h1;
  font-family: $text--benton-thin;
  font-weight: 100;
  font-size: em(48px);
  line-height: 1.25;
  color: $text-headlines;
  
  a {
    color: $text-headlines;
  }

  @include breakpoint($tablet-only) {
    font-size: em(28px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(20px);
  }
}

.heading--medium {
  @extend h2;
  font-family: $text--benton-thin;
  font-weight: 100;
  line-height: 1.39;
  color: $text-headlines;
  
  a {
    color: $text-headlines;
  }

  @include breakpoint($tablet-only) {
    font-size: em(28px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(20px);
  }
}

.heading--small {
  @extend h3;
  font-family: $text--benton-light;
  color: $text-dark-body;
  -webkit-font-smoothing: auto;
  
  a {
    color: $text-dark-body;
  }

  @include breakpoint($tablet-only) {
    font-size: em(20px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(18px);
  }
}

.heading--x-small {
  @extend h4;
  font-family: $text--benton-book;
  color: $text-dark-body;
  
  a {
    color: $text-dark-body;
  }

  @include breakpoint($tablet-only) {
    font-size: em(20px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(18px);
  }
}

.heading--label {
  @extend h5;
  font-family: $text--benton-light;
  margin: 0;
  font-size: em(20px);
  color: $text-dark-body;
  line-height: 1.5;
  -webkit-font-smoothing: auto;
  
  a {
    color: $text-dark-body;
  }
}
