/*
Default Headings

Used for title and prominent labels of content.

Markup: headings-kss.hbs

Weight: 20

Styleguide typography.headings
*/

h1, .heading--h1,
h2, .heading--h2,
h3, .heading--h3,
h4, .heading--h4,
h5, .heading--h5,
h6, .heading--h6 {
  margin: .5em 0;
  font-family: $text--benton-thin;
  font-weight: 100;
  line-height: 1.2;
}

h1, .heading--h1 {
  font-size: em(48px);
  line-height: 1.25;
  color: $text-headlines;

  a {
    color: $text-headlines;
  }

  @include breakpoint($tablet-only) {
    font-size: em(45px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(32px);
  }
}

h2, .heading--h2 {
  font-size: em(36px);
  line-height: 1.39;
  color: $text-headlines;

  a {
    color: $text-headlines;
  }

  @include breakpoint($tablet-only) {
    font-size: em(32px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(28px);
  }
}

h3, .heading--h3 {
  font-size: em(26px);
  font-family: $text--benton-light;
  color: $text-dark-body;
  -webkit-font-smoothing: auto;

  a {
    color: $text-dark-body;
  }
}

h4, .heading--h4 {
  font-size: em(23px);
  font-family: $text--benton-book;
  color: $text-dark-body;

  a {
    color: $text-dark-body;
  }

  @include breakpoint($tablet-only) {
    font-size: em(20px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(18px);
  }
}

h5, .heading--h5 {
  font-size: 1.25em;
  font-family: $text--benton-light;
  color: $text-dark-body;
  line-height: 1.5;
  -webkit-font-smoothing: auto;

  a {
    color: $text-dark-body;
  }
}

h6, .heading--h6 {
  font-size: 1em;
}

/*
Headings Template

Just registering this template as a partial

Markup: heading.hbs

Hidden: true

Styleguide typography.heading-template
*/


/*
Special Heading Formats

Heading modifiers used for specific use-cases.

Markup: special-heading.hbs

Nodefault: true

Nocode: true

Weight: 21

.heading--huge - Larger heading reserved for special cases (70px) - uses `<h1>`

Styleguide typography.special-headings
*/

.heading--huge {
  @extend h1;
  font-size: em(70px);
  line-height: 1;

  @include breakpoint($tablet-only) {
    font-size: em(60px);
  }

  @include breakpoint($mobile-only) {
    font-size: em(48px);
  }
}
