/*
Responsive iframe

Proportionately scales an iframe when the container is resized (via viewport).
Apply this to a wrapper element around the iframe.

Parameters:
  $width - The default width of the iframe (or reduced aspect ratio)
  $height - The default height of the iframe (or reduced aspect ratio)

Returns:
  Styles to proportionately scale an iframe
*/

@mixin responsive-iframe($width, $height) {
  position: relative;
  padding-bottom: $width/$height * 100%; 
  height: 0;
  
  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
