/*
Heading Highlight

Highlight style for headings. Modifiers can be used to color the highlight 
related to a particular product.

Markup: heading-highlight.hbs

Weight: 5

.heading-highlight--desktop - Desktop colored highlight
.heading-highlight--server - Server colored highlight
.heading-highlight--online - Online colored highlight
.heading-highlight--public - Public colored highlight
.heading-highlight--reader - Reader colored highlight
.heading-highlight--mobile - Mobile colored highlight
.heading-highlight--negative - White colored highlight

Style guide: typography.heading-highlight
*/

.heading-highlight {
  position: relative;
  padding-top: 1.3em;
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    width:50px;
    height: 3px;
    top: 0;
    background: #cdcdcd;
  }

  /* Create a class for each product color */
  @each $name, $color in $product-colors {
    &.heading-highlight--#{"" + $name}:before {
      background: $color;
    }
  }

  &.heading-highlight--negative:before {
    background: $text-negative;
  }
}
