/*
Base Text Link

The base styles common to all text links across the site

Markup: link-base.hbs

Weight: 15

Style guide: typography.link-base
*/

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/*
Formatted Text Links

Text-based links, unlike CTA buttons, don't have a colored box around them, 
although they can have an accompanying icon similar to CTAs. All links underline
on hover.

Markup: link.hbs

Weight: 20

.link--arrow - Link with an arrow icon

Style guide: typography.link-formatted
*/

.link {
  @extend .text--benton-book;
  font-size: em(11px);
  letter-spacing: 1px;
  color: $text-link;
  text-transform: uppercase;

  &.link--arrow:after {
    content: url(/assets/images/icons/icon-arrow-orange.png);
    padding-left: 1em;
  }
}
