/*
Typography

Weight: 10

Styleguide typography
*/

/*
Base Copy

The base copy style across the site. The base typeface is Whitney which is 
licensed and hosted by typography.com. Base font size is 16px.

Markup: base.hbs

Weight: 1

Styleguide typography.base
 */
body {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  font-family: 'Gill Sans W01 Light', Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.6;
}

/*
Headings

Used for title and prominent labels of content.

Markup: headings.hbs

Weight: 2

h1 - First level heading. Reserved for page titles. 3em
h2 - Second level heading. Used mostly for section titles. 2.5em
h3 - Third level heading. 2em
h4 - Fourth level heading. 1.5em
h5 - Fifth level heading. 1.25em
h6 - Sixth level heading. 1em

Styleguide typography.headings
*/

h1,
.heading--h1,
h2,
.heading--h2,
h3,
.heading--h3,
h4,
.heading--h4,
h5,
.heading--h5,
h6,
.heading--h6 {
  margin: .5em 0;
  font-weight: 900;
  line-height: 1;
}

h1,
.heading--h1 {
  font-size: 3em;
}
h2,
.heading--h2 {
  font-size: 2.5em;
}
h3,
.heading--h3 {
  font-size: 2em;
}
h4,
.heading--h4 {
  font-size: 1.5em;
}
h5,
.heading--h5 {
  font-size: 1.25em;
}
h6,
.heading--h6 {
  font-size: 1em;
}


/** 
 * Links
 */
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/** 
 * Paragraphs
 */
p {

}

/*
Formatted Text

Markup: formatted.hbs

Weight: 3

.text--bold - Bold text for emphasis. Same as <strong>
.text--light - Light text. Default for non-headings
.text--italic - Italic text for emphasis. Same as <em>
.text--caps - All caps text
.text--right - Right justified text
.text--left - Left justified text
.text--centered - Center justified text
.text--justified - Justified text
.text--huge - Huge text - 48px
.text--big - Big text - 32px
.text--base-size - Base size text - 16px
.text--small - Small text - 12px
.text--tiny - Tiny text - 10px
.text--lineheight-zero - Line height set to zero.
.text--negative - Negative Text colored text.
.text--light-body - Negative/light Body colored text.
.text--medium-body - Default Med. Body colored text.
.text--dark-body - Default Dark Body colored text.
.text--link - Link Orange colored text.
.text--headlines - Headlines colored text.
.text--nav-items - Nav Items colored text.
.text--data-sources - Data Sources colored text.
.text--stories - Stories colored text.
.text--learning - Learning colored text.
.text--highlight - Highlight Text colored text.
.text--mission-1 - Mission 1 colored text.
.text--mission-2 - Mission 2 colored text.
.text--mission-3 - Mission 3 colored text.

Styleguide typography.formatted
*/
strong,
.text--bold {
  font-weight: bold;
}
.text--light {
  font-weight: 100;
}
em,
.text--italic {
  font-style: italic;
}
.text--caps {
  text-transform: uppercase;
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--centered {
  text-align: center;
}
.text--justified {
  text-align: justified;
}
.text--huge {
  font-size: $text-huge;
}
.text--big {
  font-size: $text-big;
}
.text--base-size {
  font-size: 16px;
}
.text--small {
  font-size: $text-small;
}
.text--tiny {
  font-size: $text-tiny;
}
.text--lineheight-zero {
  line-height: 0;
}
/* Create a class for each text color */
@each $name, $color in $text-colors {
  .text--#{"" + $name} {
    color: $color;
  }
}
