/*
Font Families

All text on tableau.com is set in either Benton Sans or Merriweather. This 
includes body copy as well as page and section headers.

**BentonSans** is primarily used for section headers and titling in it’s Thin 
case, but it is also used in it’s Book case in buttons and other scenarios. 
Occasionally BentonSans Medium is used in article templates.

**Merriweather** is used in it’s Light case mainly for body copy and in the 
Stories and Articles sections.

Markup: fonts.hbs

Weight: 1

.text--benton-thin - Benton Sans Thin
.text--benton-light - Benton Sans Light
.text--benton-book - Benton Sans Book
.text--benton-medium - Benton Sans Medium
.text--merriweather-light - Merriweather Light

Style guide: typography.fonts
*/

.text--benton-thin {
  font-family: 'Benton Sans Thin', Helvetica, sans-serif;
  font-weight: 100;
}

.text--benton-light {
  font-family: 'Benton Sans Light', Helvetica, sans-serif;
}

.text--benton-book {
  font-family: 'Benton Sans Book', Helvetica, sans-serif;
}

.text--benton-medium {
  font-family: 'Benton Sans Medium', Helvetica, sans-serif;
}

.text--merriweather-light {
  font-family: 'Merriweather', serif;
}


/*
Body Copy

Main body copy for longer chunks of content in the body of a page.

Markup: body.hbs

Weight: 2

.text--body-large - Large body copy (15px)
.text--body-medium - Medium body copy (14px)
.text--body-small - Small body copy (12px)

Style guide: typography.base
 */

$base-font-size: 14px;

body,
.kss-example-preview-wrapper,
.text--body-large,
.text--body-medium,
.text--body-small {
  @extend .text--merriweather-light;
  font-weight: normal;
  font-style: normal;
  font-size: $base-font-size;
  color: $text-dark-body;
  line-height: 1.86;
  -webkit-font-smoothing: antialiased;
}

.text--body-large {
  font-size: em(15px);
}

.text--body-small {
  font-size: em(12px);
  line-height: 1.66;
}


/*
Default Headings

Used for title and prominent labels of content.

Markup: headings-kss.hbs

Weight: 3

Styleguide typography.headings
*/

h1, .heading--h1,
h2, .heading--h2,
h3, .heading--h3,
h4, .heading--h4,
h5, .heading--h5,
h6, .heading--h6 {
  @extend .text--benton-thin;
  margin: .5em 0;
  line-height: 1.2;
}

h1, .heading--h1 {
  font-size: em(50px);
}

h2, .heading--h2 {
  font-size: em(36px);
}

h3, .heading--h3 {
  font-size: em(26px);
}

h4, .heading--h4 {
  font-size: em(23px);
}

h5, .heading--h5 {
  font-size: 1.25em;
}

h6, .heading--h6 {
  font-size: 1em;
}

/*
Headings Template

@todo remove this once #11 is resolved

Markup: heading.hbs

Weight: 100

Styleguide typography.heading-template
*/


/*
Context-specific Headings

These heading classes are used for specific contexts.

Markup: context-headings.hbs

Weight: 4

.heading--homepage - Homepage Hero (70px) - uses <h1>
.heading--product - Product Landing/Product Detail Hero (50px) - uses <h1>
.heading--download - Download Success (48px) - uses <h1>
.heading--medium - Medium headers (36px) - uses <h2>
.heading--small - Small Headline/Product labels (26px) - uses <h3>
.heading--x-small - XS Headline (23px) - uses <h4>
.heading--label - HP Hero Eyebrow/News title/Demo (20px) - uses <h5>

Styleguide typography.context-headings
*/

.heading--homepage {
  @extend h1;
  @extend .text--benton-thin;
  font-size: em(70px);
  line-height: 1.21;
  color: $text-headlines;
}

.heading--product {
  @extend h1;
  @extend .text--benton-thin;
  color: $text-headlines;
}

.heading--download {
  @extend h1;
  @extend .text--benton-thin;
  font-size: em(48px);
  line-height: 1.25;
  color: $text-headlines;
}

.heading--medium {
  @extend h2;
  @extend .text--benton-thin;
  line-height: 1.39;
  color: $text-headlines;
}

.heading--small {
  @extend h3;
  @extend .text--benton-light;
  color: $text-dark-body;
  -webkit-font-smoothing: auto;
}

.heading--x-small {
  @extend h4;
  @extend .text--benton-book;
  color: $text-dark-body;
}

.heading--label {
  @extend h5;
  @extend .text--benton-light;
  margin: 0;
  font-size: em(20px);
  color: $text-dark-body;
  -webkit-font-smoothing: auto;
}


/*
Other Type Treatments

Other treatments used for text throughout the site

Markup: context-headings.hbs

Weight: 5

.text--large-copy - Large Copy
.text--sub-nav - Sub Nav Mission
.text--dropdown - Dropdown Copy
.text--label - Label/Nav item

Style guide: typography.other
*/

.text--large-copy {
  @extend .text--benton-light;
  font-size: em(24px);
  color: $text-dark-body;
}

.text--sub-nav {
  @extend .text--benton-light;
  font-size: em(22px);
  color: $text-headlines;
}

.text--dropdown {
  @extend .text--benton-light;
  font-size: em(16px);
  color: $text-medium-body;
  line-height: 1.875;
}

.text--label {
  @extend .text--benton-book;
  font-size: em(11px);
  letter-spacing: 1px;
  // color: $text-dark-body;
  text-transform: uppercase;
}


/*
Formatted Text

Markup: formatted.hbs

Weight: 6

.text--bold - Bold text for emphasis. Same as <strong>
.text--light - Light text. Default for non-headings
.text--italic - Italic text for emphasis. Same as <em>
.text--caps - All caps text
.text--right - Right justified text
.text--left - Left justified text
.text--centered - Center justified text
.text--justified - Justified text
.text--huge - Huge text (36px)
.text--big - Big text (24px)
.text--base-size - Base size text (14px)
.text--small - Small text (12px)
.text--tiny - Tiny text - 10px
.text--lineheight-zero - Line height set to zero.

Style guide: typography.formatted
*/
strong,
.text--bold {
  font-weight: bold;
}
.text--light {
  font-weight: 100;
}
em,
.text--italic {
  font-style: italic;
}
.text--caps {
  text-transform: uppercase;
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--centered {
  text-align: center;
}
.text--justified {
  text-align: justified;
}
.text--huge {
  font-size: em(36px);
}
.text--big {
  font-size: em(24px);
}
.text--base-size {
  font-size: $base-font-size;
}
.text--small {
  font-size: em(12px);
}
.text--tiny {
  font-size: em(10px);
}
.text--lineheight-zero {
  line-height: 0;
}


/*
Text Colors

Colors to be used in the text palette.

Markup: colors.hbs

Weight: 7

.text--negative - Negative Text colored text.
.text--light-body - Negative/light Body colored text.
.text--medium-body - Default Med. Body colored text.
.text--dark-body - Default Dark Body colored text.
.text--link - Link Orange colored text.
.text--headlines - Headlines colored text.
.text--nav-items - Nav Items colored text.
.text--data-sources - Data Sources colored text.
.text--stories - Stories colored text.
.text--learning - Learning colored text.
.text--highlight - Highlight Text colored text.
.text--mission-1 - Mission 1 colored text.
.text--mission-2 - Mission 2 colored text.
.text--mission-3 - Mission 3 colored text.

Style guide: typography.colors
*/

/* Create a class for each text color */
@each $name, $color in $text-colors {
  .text--#{"" + $name} {
    color: $color;
  }
}
