/*
Detail Field

Field with a label.

Markup: detail-field.hbs

Weight: 70

.detail-field--secondary - Secondary "sidebar" field.

Styleguide: compound.detail-field
*/

.detail-field {

  .detail-field__label {
    @extend .heading--h5;
  }

  // Right "sidebar" layout position.
  &.detail-field--secondary {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid $accent-dividers;

    .detail-field__items {
      @extend .heading--h5;
      font-family: $text--benton-light;
      color: inherit;
    }

    .detail-field__label {
      @extend .text--label;
    }

    @include breakpoint($mobile-max) {
      color: $text-dark-body;
    }
  }
}
