/* 
Primary CTA

Primary CTA buttons (Solid) should be used when a single or important page 
action is required.

Markup: cta.hbs

.cta--orange - Orange colored CTA button.
.cta--desktop - Desktop colored CTA button.
.cta--server - Server colored CTA button.
.cta--online - Online colored CTA button.
.cta--public - Public colored CTA button.
.cta--reader - Reader colored CTA button.
.cta--mobile - Mobile colored CTA button.

Style guide: buttons.cta
*/
.cta {
  @extend .text--benton-book;
  display: inline-block;
  margin: 0.5em;
  padding: 17px 25px;
  background-color: $button-orange;
  border-radius: 0;
  -webkit-appearance: none;
  cursor: pointer;
  letter-spacing: 1px;
  line-height: 1;
  font-size: 11px;
  color: $text-negative;
  text-transform: uppercase;
  @include transition(background-color 0.25s, color 0.35s);

  &:hover,
  &:focus {
    background-color: $button-orange-hover;
    text-decoration: underline;
  }

  &:active {
    background-color: $button-final;
    text-decoration: underline;
  }

  @each $name, $colors in $button-colors {
    &.cta--#{"" + $name} {
      background-color: nth($colors, 1);

      &:hover,
      &:focus {
        background-color: nth($colors, 2);
      }
    }
  }

  &.cta--download:after,
  &.cta--play:after {
    display: inline-block;
    padding-left: 1em;
  }

  &.cta--download:after {
    content: ">";
  }

  &.cta--play:after {
    content: "▶";
  }
}


/* 
Secondary CTA

Secondary CTA buttons (Stroked Orange) should be used when multiple page actions are
present, or somewhat important page actions are required.

Markup: cta-secondary.hbs

Style guide: buttons.cta-secondary
*/

.cta--secondary {
  border: 2px solid $text-link;
  padding: 15px 23px;
  background: transparent;
  color: $text-link;

  &:hover,
  &:focus {
    background: transparent;
  }

  &:active {
    border-color: $button-final;
    background: transparent;
    color: $button-final;
  }
}


/* 
Tertiary CTA

Tertiary CTA buttons (Stroked alternate) should be used when a utility action, 
or an action not directly related to the page is required. When hovering over a 
Stroked button the copy is underlined.

Markup: cta-tertiary.hbs

Style guide: buttons.cta-tertiary
*/

.cta--tertiary {
  border: 2px solid $button-orange;
  padding: 15px 23px;
  background: transparent;
  color: $button-orange;

  &:hover,
  &:focus {
    background: transparent;
  }

  &:active {
    border-color: $button-final;
    background: transparent;
    color: $button-final;
  }
}
