/*
Links

Various link styles for use throughout the site.

Weight: 20

Style guide: links
 */

/* 
CTA

A call to action button that links to something important.

Markup: cta.hbs

Style guide: links.cta
*/
.cta,
input[type=submit] {
  display: inline-block;
  margin: 0 1em 1em 0;
  padding: 8px 22px;
  background-color: transparent;
  border: 1px solid $button-orange;
  border-radius: 0;
  -webkit-appearance: none;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.6;
  color: $button-orange;
  text-transform: uppercase;
  @include transition(background-color 0.25s, color 0.35s);

  &:hover,
  &:focus {
    background-color: $button-orange;
    color: $white;
    text-decoration: none;
  }

  &:active {
    background-color: $button-final;
    color: $white;
    text-decoration: none;
  }
}
