/*
Formatted Text Links

Text-based links, unlike CTA buttons, don't have a colored box around them,
although they can have an accompanying icon similar to CTAs. All links underline
on hover.

Markup: link-formatted.hbs

Weight: 20

.link--arrow - Link with an arrow icon
.link--arrow-before - Link with a preceding arrow icon
.link--expand - Link with an expand icon
.link--collapse - Link with a collapse icon
.link--share - Link with a share icon
.link--download - Link with a download icon
.link--close - Link with a close "X" icon
.link--social-twitter - Link with social twitter icon
.link--people - Link with people icon
.link--calendar - Link with calendar icon
.link--adobe-pdf - Link with PDF download icon
.link--community - Link with community forums icon
.link--email - Link with sending email icon
.link--export - Link with export icon
.link--globe - Link with globe icon
.link--invite-people - Link with add people icon
.link--link - Link with link icon
.link--newsletter - Link with email newsletter icon
.link--settings - Link with settings gears icon
.link--upload - Link with upload icon

Style guide: buttons-links.link-formatted
*/

// Map of icons in the form of: modifier-name: ($icon--variable, position)
$icons: (
  arrow: ($icon--arrow-right, after),
  arrow-before: ($icon--arrow-left, before),
  expand: ($icon--view-more, before),
  collapse: ($icon--view-less, before),
  share: ($icon--share, before),
  close: ($icon--close-window-style2, after),
  download: ($icon--download, before),
  social-twitter: ($icon--social-twitter, before),
  people: ($icon--people, before),
  calendar: ($icon--calendar, before),
  adobe-pdf: ($icon--adobe-pdf, before),
  community: ($icon--community, before),
  email: ($icon--email, before),
  export: ($icon--export, before),
  globe: ($icon--globe, before),
  invite-people: ($icon--invite-people, before),
  link: ($icon--link, after),
  newsletter: ($icon--newsletter, before),
  settings: ($icon--settings, before),
  upload: ($icon--upload, before),
);

.link {
  @extend .text--benton-book;
  font-size: em(11px);
  letter-spacing: 1px;
  color: $text-link;
  text-transform: uppercase;

  &:before,
  &:after {
    @extend .icon;
    text-decoration: none;
    font-size: 1.5em;
    padding-bottom: 1px;
    padding-right: 0.5em;
  }

  &:after {
    padding-right: 0;
    padding-left: 0.5em;
  }

  // Create links for all the icons.
  @each $name, $details in $icons {
    &.link--#{$name}:#{nth($details, 2)} {
      content: nth($details, 1);
    }
  }
}
