/*
Formatted Text Links

Text-based links, unlike CTA buttons, don't have a colored box around them,
although they can have an accompanying icon similar to CTAs. All links underline
on hover.

Markup: link-formatted.hbs

Weight: 20

.link--arrow - Link with an arrow icon
.link--arrow-before - Link with a preceding arrow icon
.link--expand - Link with an expand icon
.link--collapse - Link with a collapse icon
.link--share - Link with a share icon
.link--download - Link with a download icon

Style guide: buttons-links.link-formatted
*/

.link {
  @extend .text--benton-book;
  font-size: em(11px);
  letter-spacing: 1px;
  color: $text-link;
  text-transform: uppercase;

  &.link--icon-before:before,
  &.link--icon-after:after,
  &.link--arrow-before:before,
  &.link--expand:before,
  &.link--collapse:before,
  &.link--share:before,
  &.link--download:before,
  &.link--arrow:after {
    @extend .icon;
    text-decoration: none;
    font-size: 1.5em;
    padding-bottom: 1px;
    padding-right: 0.5em;
  }

  &.link--arrow:after {
    padding-right: 0;
    padding-left: 0.5em;
  }

  &.link--arrow-before:before {
    content: $icon--arrow-left;
  }

  &.link--expand:before {
    content: $icon--view-more;
  }

  &.link--collapse:before {
    content: $icon--view-less;
  }

  &.link--share:before {
    content: $icon--share;
  }

  &.link--download:before {
    content: $icon--download;
  }

  &.link--arrow:after {
    content: $icon--arrow-right;
  }

  // Create links for all the icons.
  @each $name, $icon in $icons {
    &.link--icon-before {
      &.link--#{$name}:before {
        content: $icon;
      }
    }

    &.link--icon-after {
      &.link--#{$name}:after {
        content: $icon;
        padding-right: 0;
        padding-left: 0.5em;
      }
    }
  }
}
