/*
Heading Highlight

Highlight style for headings. Modifiers can be used to color the highlight
related to a particular product.

Markup: heading-highlight.hbs

Weight: 50

Bgcolor: #eee

.heading-highlight--negative - White colored highlight
.heading-highlight--mission - Mission blue colored highlight

Style guide: typography.heading-highlight
*/

.heading-highlight {
  position: relative;
  padding-top: 30px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 3px;
    top: 0;
    background: $heading-accent;
  }

  &.heading-highlight--negative:before {
    background: $text-negative;
  }

  &.heading-highlight--mission:before {
    background: $text-mission-1;
  }
}
