/* 
Data Source Link

A large CTA-style link specifically for linking to data sources.

Markup: data-source-link.hbs


.data-source-link--desktop - Desktop colored Data Source Link.
.data-source-link--server - Server colored Data Source Link.
.data-source-link--online - Online colored Data Source Link.
.data-source-link--public - Public colored Data Source Link.
.data-source-link--reader - Reader colored Data Source Link.
.data-source-link--mobile - Mobile colored Data Source Link.

Style guide: buttons-links.data-source
*/

.data-source-link {
  position: relative;
  display: inline-block;
  float: left;
  width: 66px;
  height: 66px;
  padding: 15px;
  margin: 0 2em 2em 0;
  border: 2px solid $button-orange;
  background: transparent;
  color: $button-orange;
  text-align: center;
  transition: color .5s, border .5s;

  &:hover,
  &:focus {
    background: transparent;
    text-decoration: none;
  }
  
  .data-source-link__number {
    font-family: $text--benton-thin;
    font-weight: 100;
    font-size: em(50px);
    line-height: 66px;
  }

  .data-source-link__label {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: .5em;
  }

  &:active {
    border-color: $button-final;
    background: transparent;
    color: $button-final;
  }

  @each $name, $colors in $button-colors {
    &.data-source-link--#{"" + $name} {
      border-color: nth($colors, 1);
      color: nth($colors, 1);

      &:hover,
      &:focus {
        border-color: nth($colors, 2);
        color: nth($colors, 2);
      }
    }
  }

  @include breakpoint($tablet-min) {
    & + ul {
      margin-left: 120px;
      margin-top: 0;
    }
  }

  @include breakpoint($mobile-only) {
    float: none;
    margin: 0 0 2em 0;
  }
}
