<div class="text-teaser-item grid--4 {{ modifier_class }}">
  {{#if type}}<p class="text-teaser-item__type">{{ type }}</p>{{/if}}
  <h4 class="text-teaser-item__title">
    <a href="{{ url }}">{{ title }}</a>
  </h4>
</div>

{{! NOTE: Duplicate Mustache template used for front-end LiftIgniter rendering. }}
