/*
Subnavigation

A secondary navigation which sticks to the top of the page when scrolling and is
used to navigate to anchors on the same page. Useful when a page is rather long
and broken up into distinct sections.

Markup: subnav.hbs

Style guide: navigation.subnav
*/

.subnav {
  @extend .bg--dark-gray-1;
  padding: .5em 0;
  position: relative;

  &.stuck {
    position: fixed;
  }

  .subnav__cta .cta {
    margin: 0 0 0 2em;
  }

  .subnav__title {
    margin: 0.4em 0;
  }

  .subnav__links {
    background: $bg-dark-gray-1;

    ul {
      float: left;
      margin: 0.8em 0 0 2em;
    }

    li {
      padding: 0 10px;

      a {
        position: relative;
        padding: 2px;
        border-bottom: 2px solid transparent;
        color: $text-light-body;
        text-decoration: none;
        @extend .text--benton-book;
        transition: color .5s, border .5s;

        &:hover {
          color: $text-negative;
        }
      }
    }

    li.is-active a {
      border-bottom: 2px solid $text-negative;
      color: $text-negative;
    }
  }

  @include breakpoint($desktop-only) {
    .subnav__title {
      float: left;
    }

    .subnav__links ul {
      float: left;
      margin: 0.8em 0 0 2em;
    }

    .subnav__cta {
      opacity: 0;
      height: 0;
      float: right;
      transition: opacity .5s;
    }

    &.stuck .subnav__cta {
      opacity: 1;
      height: auto;
    }
  }


  @include breakpoint($tablet-max) {
    padding: 1px 0 0;

    .subnav__links {
      position: relative;
      margin: 0;
      box-sizing: border-box;
      border-top: 1px solid $text-medium-body;

      &:after,
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 80px;
        height: 54px;
        top: 0;
        z-index: 1;
        pointer-events: none;
      }

      &.fade-right:after {
        right: 0;
        background-image: linear-gradient(to right, rgba(70, 70, 70, 0), $bg-dark-gray-1);
      }

      &.fade-left:before {
        background-image: linear-gradient(to left, rgba(70, 70, 70, 0), $bg-dark-gray-1);
        left: 0;
      }

      &.stuck {
        position: fixed;
        left: 0;
        padding-left: 2em;
        padding-right: 2em;

        &:after,
        &:before {
          right: 2em;
        }
      }

      .subnav__links-wrapper {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        padding: 0.25em 0;

        ul {
          margin: 0;
        }

        li {
          padding: .5em 1em .5em 0;
        }
      }

      .subnav__cta {
        text-align: right;
      }
    }
  }

  @include breakpoint($mobile-only) {
    .subnav__links.stuck {
      padding-left: 1em;
      padding-right: 1em;

      &:after,
      &:before {
        right: 1em;
      }
    }

    .subnav__cta .cta {
      display: inline-block;
    }
  }
}
