<div class="subnav bg--dark-gray-1 sticky--desktop sticky--tablet">
  <div class="content-container content-container--wide">
    <h5 class="subnav__title heading--label">{{ title }}</h5>

    {{# anchors}}
      <div class="subnav__links bg--dark-gray-1 sticky--mobile">
        <div class="subnav__links__wrapper">
          {{> link-list}}
        </div>
      </div>
    {{/anchors}}

    {{# cta}}
      <div class="subnav__cta">
        {{> cta}}
      </div>
    {{/ cta}}
  </div>
</div>