/*
Hero Slideshow

Slideshow formatted specifically for use as a Hero. Depends on the Hero component

Markup: hero-slideshow.hbs

Style guide: interactive.hero-slideshow
*/

.hero-slideshow {
  margin: 0 auto;
  overflow: hidden;

  .hero-slideshow__slide {
    position: relative;
  }


  // Slick dots
  .slick-dots {
    height: 20px;
    bottom: 0;

    li {
      margin: 0;

      &.slick-active button:before {
        opacity: .75;
        color: #666;
      }

      button:before {
        color: $white;
        font-size: 9px;
        opacity: 1;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 0 0 10px rgba(0, 0, 0, 0.6);
        transition: color .25s;
      }
    }
  }

  @include breakpoint($tablet-only) {
    .content-container {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  @include breakpoint($mobile-only) {
    .slick-dots {
      bottom: auto;
      top: 0;
      margin-top: 40%;
    }

    .hero-slideshow__arrow {
      display: none;
    }
  }

}
