/*
Hero Slideshow

Slideshow formatted specifically for use as a Hero. Depends on the Hero component

Markup: hero-slideshow.hbs

Style guide: interactive.hero-slideshow
*/

.hero-slideshow {
  margin: 0 auto;
  overflow: hidden;

  // DOM order can vary with these wrappers so have to cover two cases.
  &.slick-slider,
  .slick-slider {
    padding-left: 0;
    padding-right: 0;
  }

  .hero-slideshow__slide {
    position: relative;
  }

  @include breakpoint($tablet-only) {
    .content-container {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  @include breakpoint($mobile-only) {
    .hero-slideshow__arrow {
      display: none;
    }
  }
}
