.kss-section--depth-2 {
  margin: 3em 0 4em;
  padding-left: 2em;
  border-left: 1px solid #E9762D;
}

.kss-examples {

  .kss-example-details {
    @extend .kss-clearfix;

    .kss-example-desc {
      width: 80%;
      float: left;
    }

    .kss-example-name {
      width: 20%;
      float: left;
      text-align: right;
    }
  }

  .kss-example-preview {
    position: relative;
    margin-bottom: 2em;
    border: 1.5em solid #F7F9FB; 
    @extend .kss-clearfix;
  }
}
