.kss-nav {
  padding: 1em 2em;

  ul {
    list-style: none;
    padding: 0;

    ul {
      padding-left: 1em;
    }

    a {
      display: block;
      padding: 8px;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
      -webkit-transition: background .25s;
      -moz-transition:    background .25s;
      -o-transition:      background .25s;
      transition:         background .25s;
    }

    a:hover {
      text-decoration: none;
      background: #ddd;
    }

    ul a {
      font-weight: normal;
    }
  }

}
