/*
Global Navigation

The global navigation bar that sits at the top of each page. Contains primary,
secondary, and sub navigation as well as the global search bar.

Check out [the documentation](section-documentation.html#kssref-documentation-global-nav-ajax)
for consuming the content for the global nav via ajax.

Markup: global-nav.hbs

Style guide: navigation.global
*/

// Global styles shared by Desktop/Tablet/Mobile
.global-nav__top {
  position: relative;
  padding: em(28px) 0;
  background: $bg-white;

  .global-nav__logo {
    max-width: 200px;
    float: left;

    @include breakpoint(max-width $content-max) {
      max-width: 140px;
      margin-top: 6px;
    }

    a {
      display: block;
      line-height: 0;
    }
  }

  .global-nav__search-toggle {
    @extend .icon;
    text-indent: -999em;
    overflow: hidden;
    font-size: 0;
    color: $text-dark-body;

    &:before {
      content: $icon--search;
      cursor: pointer;
      font-size: 1.25em;
      font-size: $base-font-size * 1.25;
    }
  }

  // Global Search Bar Styles
  .global-nav__search {
    display: none;
    position: absolute;
    z-index: $zindex-nav + 1;

    &:before {
      @extend .icon;
      content: $icon--search;
      position: absolute;
      display: block;
      cursor: pointer;
      font-size: 1.25em;
      text-align: center;
    }

    input[type='text'],
    input[type='search'] {
      @extend .text--large-copy;
      width: 100%;
      padding-left: 2em;
      border: none;
      text-align: left;
      background: transparent;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $text-medium-body;
      }

      &::-webkit-search-cancel-button {
        display: none;
      }

      // This must be separate to work. Go figure.
      &::-ms-clear {
        display: none;
      }
    }

    .global-nav__search-close {
      @extend .icon;
      position: absolute;
      right: 0;
      text-align: center;
      font-size: 1.6em;
      color: $text-dark-body;

      &:after {
        content: $icon--close-window-style2;
      }
    }
  }
}

// Desktop-specific Styles
@include breakpoint($desktop-only) {
  .global-nav__top {
    .global-nav__logo,
    .global-nav__primary-menu,
    .global-nav__secondary-menu {
      float: left;
      opacity: 1;
      transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .global-nav__logo {
      margin-right: 3em;
    }

    .global-nav__primary-menu {
      @extend .text--body-small;
      margin-right: 1em;

      ul {
        margin: 0.8em 0 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          // Remove the spacing between items due to letter spacing.
          margin-right: -4px;

          a {
            position: relative;
            padding: 10px 12px;
            color: $text-nav-items;
            font-family: $text--benton-book;

            @include breakpoint(max-width $content-max) {
              padding: 10px 8px;
            }

            &:after {
              content: "";
              position: absolute;
              opacity: 0;
              width: 0;
              height: 0;
              top: 48px;
              left: 50%;
              margin-left: -20px;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-bottom: 20px solid $bg-light-gray-2;
              pointer-events: none;
              transition: opacity 250ms linear;
            }

            &.is-open {
              padding-bottom: 40px;

              &:after {
                opacity: 1;
                transition: opacity 150ms linear;
              }
            }
          }
        }
      }
    }

    .global-nav__secondary-menu {
      position: relative;
      float: right;
      padding-right: 45px;
      text-align: right;

      li a.link {
        padding: 10px;
        color: $text-headlines;

        @include breakpoint(max-width 1300px) {
          padding: 10px 8px;
        }
      }

      .global-nav__search-toggle {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
      }

      li a.cta {
        margin: 0 0 0 10px;
      }
    }

    // Global Search Bar Styles
    .global-nav__search {
      right: 0;
      width: 100%;
      height: 100%;

      &:before {
        height: 45px;
        width: 45px;
        line-height: 45px;
      }

      input[type='text'],
      input[type='search'] {
        @extend .text--large-copy;
        position: absolute;
        right: 0;
        height: 45px;
        padding: 0 0 0 45px;
      }

      .global-nav__search-close {
        @extend .icon;
        width: 45px;
        height: 45px;
        top: 0;

        &:after {
          line-height: 45px;
        }
      }
    }

    // Tweaks for when the search bar is shown
    &.global-nav--search-shown {
      .global-nav__logo,
      .global-nav__primary-menu,
      .global-nav__secondary-menu {
        opacity: 0;
      }
    }

    .global-nav__hamburger {
      display: none;
    }
  }

  .global-nav__drawers {
    position: relative;
    z-index: $zindex-nav;
    width: 100%;
    background: $bg-light-gray-2;

    .global-nav__drawer-controls {
      display: none;
    }

    .global-nav__drawer {
      // display: none;
      position: absolute;
      overflow: hidden;
      width: 100%;
      background: $bg-light-gray-2;
      visibility: hidden;
      opacity: 0;
      transition: visibility 250ms linear, opacity 250ms linear;

      &.is-open {
        visibility: visible;
        opacity: 1;
        z-index: $zindex-nav + 1;
        transition: visibility 150ms linear, opacity 150ms linear;
      }
    }

    .global-nav__drawer-inner {
      display: flex;
      align-items: center;
    }

    .global-nav__drawer-inner,
    .global-nav__drawer-secondary {
      min-height: 275px;
      box-sizing: border-box;
    }

    .sub-nav__item-description,
    .global-nav__drawer-link-list {
      @extend .text--body-small;
    }

    .sub-nav__item-link {
      margin-bottom: 0;
    }

    .global-nav__drawer-link-list ul {
      // @TODO provide support for IE <10 - https://github.com/BetleyWhitehorne/CSS3MultiColumn
      -webkit-column-count: 3;
      -moz-column-count:    3;
      column-count:         3;
      -webkit-column-gap:   4em;
      -moz-column-gap:      4em;
      column-gap:           4em;
    }

    .global-nav__drawer-secondary {
      @include span(4 last);
      position: relative;
      padding: 2em;
      background: $nav-drawer-gray-2;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        z-index: 1;
        background: $nav-drawer-gray-2;
      }

      & > * {
        z-index: 2;
        position: relative;
      }

      .sub-nav__item-title,
      .sub-nav__item-description {
        margin: 0;
        line-height: 1.5;
      }

      .sub-nav__item {
        margin-top: .75em;
      }
    }
  }

  // Autocomplete
  .ui-autocomplete {
    display: block;
    position: absolute;
    z-index: $zindex-nav;
    padding: 10px 45px;
    list-style: none;

    // @todo this is a dirty hack to push the autocomplete list down. Find better fix.
    border-top: 27px solid #fff;
    background: #fefefe;
    outline: none;
    @extend .text--large-copy;
  }
}

// Tablet and Mobile Styles
@include breakpoint($tablet-max) {
  .global-nav__top {
    padding-top: 1em;
    padding-bottom: 1em;
    height: 64px;

    .relative {
      position: initial;
    }

    .global-nav__mobile-wrapper {
      position: absolute;
      display: flex;
      opacity: 0;
      visibility: hidden;
      top: 64px;
      left: 0;
      width: 100%;
      flex-flow: column;
      z-index: $zindex-nav;
      background: $nav-drawer-gray-1;

      &.is-mobile {
        transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1), visibility 0s 0.5s;

        &.is-open {
          opacity: 1;
          visibility: visible;
          transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1);
        }
      }

    }

    .global-nav__hamburger {
      position: absolute;
      top: 0;
      right: 0;
      width: 36px;
      height: 36px;
      padding: 14px;
      transition: background .5s cubic-bezier(0.77, 0, 0.175, 1);

      &.open {
        background: $nav-drawer-gray-1;
      }
    }

    .global-nav__primary-menu {
      order: 1;
      padding-top: 1.5em;

      li {
        display: block;
        padding: 0 1em;

        a {
          display: block;
          padding: 6px 0.5em;
          border-bottom: 1px solid $nav-drawer-gray-2;
          color: $text-nav-items;
          font-family: $text--benton-light;
          font-size: em(24px);
          color: $text-dark-body;
        }

        a.expandable:after {
          content: url('../images/shame/icons/expand-right.png');
          float: right;
          margin-top: -2px;
        }

        &:last-child a {
          border-bottom: 0;
        }
      }
    }

    .global-nav__secondary-menu {
      order: 2;
      text-align: center;
      padding: 24px;

      li:last-child {
        display: block;
      }

      a.link,
      a.search {
        padding: 12px;
        color: $text-headlines;
      }
    }

    .global-nav__search {
      width: 100%;
      height: 100%;
      top: 0;
      padding: 1em 2em;
      box-sizing: border-box;
      pointer-events: none;
      background: $nav-drawer-gray-2;

      &:before {
        margin-top: 1.5em;
      }

      input[type='text'],
      input[type='search'] {
        width: 100%;
        padding: 1em 0 1em 1.5em;
        border-bottom: 1px solid $form-border-accent;
      }

      .global-nav__search-close {
        @extend .icon;
        width: 64px;
        height: 64px;
        top: -64px;
        background: $nav-drawer-gray-2;

        &:after {
          line-height: 64px;
        }
      }
    }

    &.global-nav--search-shown .global-nav__search {
      pointer-events: inherit;
    }
  }

  .global-nav__drawers {
    position: absolute;
    width: 100%;
    overflow: hidden;

    .global-nav__drawer {
      display: none;
      width: 100%;
      margin-left: 100%;
      position: relative;
      z-index: 15;
      background: $bg-light-gray-2;

    }

    .content-container {
      padding: 0;
    }

    .global-nav__drawer-controls {
      padding:1em 2em 0;
    }

    .global-nav__drawer-primary,
    .global-nav__drawer-secondary {
      padding: 2em;
    }

    .global-nav__drawer-primary {
      padding-top: 1em;
    }

    .global-nav__drawer-primary,
    .global-nav__drawer-secondary,
    .sub-nav__item {
      width: auto;
      float: none;
      clear: both;
      margin: 0;
    }


    .sub-nav__item {
      border-bottom: 1px solid $nav-drawer-gray-2;

      &:last-child {
        border-bottom: 0;
      }

      .sub-nav__item-title {
        margin: .5em 0;
        padding: 0;

        &:before {
          display: none;
        }
      }
    }

    .global-nav__drawer-secondary .sub-nav__item {
      border-bottom-color: $text-light-body;
    }

  }
}



// Tablet-specific Styles
@include breakpoint($tablet-only) {
  .global-nav__top {
    .global-nav__primary-menu li {
      padding: 0 2em;

      a {
        padding: 6px 0;
      }
    }

    .global-nav__secondary-menu {
      a.cta {
        display: inline-block;
        width: 100%;
        max-width: 550px;
        margin-left: 0;
        margin-right: 0;
        box-sizing: border-box;
        text-align: center;
      }
    }
  }

  .global-nav__drawers .sub-nav__item {
    @extend %clearfix;

    .sub-nav__item-title {
      @include span(4);
    }

    .sub-nav__item-title--tablet-full {
      @include span(full);
    }

    .sub-nav__item-description {
      @include span(last 8);
    }

    .global-nav__drawer-link-list ul,
    .global-nav__drawer-link-list ol {
      column-count: 2;
      // Using css columns causes the 2nd column bullets to disappear. This
      // adjusts them back to being visible.
      list-style-position: inside;
      margin-left: -1em;
    }
  }
}
