/*
Global Navigation

The global navigation bar that sits at the top of each page.

Markup: global-nav.hbs

Style guide: navigation.global
*/

// Global styles shared by Desktop/Tablet/Mobile
.global-nav {
  position: relative;
  padding: em(28px) 0;
  background: $bg-white;

  .global-nav__logo {
    max-width: 200px;
    float: left;

    @include breakpoint(max-width $content-max) {
      max-width: 140px;
      margin-top: 6px;
    }

    a {
      display: block;
      line-height: 0;
    }
  }
}

// Desktop-specific Styles
@include breakpoint($desktop-only) {
  .global-nav {
    .global-nav__logo,
    .global-nav__menu {
      float: left;
      opacity: 1;
      transition: opacity .5s $ease-in-out;
    }

    .global-nav__logo {
      margin-right: 3em;
      min-height: 39px;
    }

    .global-nav__menu {
      @extend .text--body-small;
      margin-right: 1em;

      ul {
        margin: 0.8em 0 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          // Remove the spacing between items due to letter spacing.
          margin-right: -4px;

          a {
            position: relative;
            padding: 10px 12px;
            font-family: $text--benton-book;

            @include breakpoint(max-width $content-max) {
              padding: 10px 8px;
            }
          }
        }
      }
    }

    .global-nav__hamburger {
      display: none;
    }
  }
}

// Tablet and Mobile Styles
@include breakpoint($tablet-max) {
  .global-nav {
    padding-top: 1em;
    padding-bottom: 1em;
    height: 64px;

    .relative {
      position: initial;
    }

    .global-nav__mobile-wrapper {
      position: absolute;
      display: flex;
      opacity: 0;
      visibility: hidden;
      top: 64px;
      left: 0;
      width: 100%;
      flex-flow: column;
      z-index: $zindex-nav;
      background: $nav-drawer-gray-1;

      &.is-mobile {
        transition: opacity .5s $ease-in-out, visibility 0s 0.5s;

        &.is-open {
          opacity: 1;
          visibility: visible;
          transition: opacity .5s $ease-in-out;
        }
      }
    }

    .global-nav__hamburger {
      position: absolute;
      top: 0;
      right: 0;
      width: 36px;
      height: 36px;
      padding: 14px;
      transition: background .5s $ease-in-out;

      &.open {
        background: $nav-drawer-gray-1;
      }
    }

    .global-nav__menu {
      order: 1;
      padding-top: 1.5em;

      li {
        display: block;
        padding: 0 1em;

        a {
          display: block;
          padding: 6px 0.5em;
          border-bottom: 1px solid $nav-drawer-gray-2;
          font-family: $text--benton-light;
          font-size: em(24px);
          color: $text-dark-body;
        }
      }
    }
  }
}

// Tablet-specific Styles
@include breakpoint($tablet-only) {
  .global-nav__top .global-nav__menu li {
    padding: 0 2em;

    a {
      padding: 6px 0;
    }
  }
}
