/*
Modal Message

Display a warning/error message to the user in a modal box.

Please refrain from using this component for showing information and/or
content. Use the "Content reveal" component instead.

Markup: modal-message.hbs

Style guide: interactive.modal-message
*/

.modal-message {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(27, 27, 27, 0.8);
  z-index: $zindex-modal;
  opacity: 0;
  transition: opacity 400ms $ease-in-out;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  .modal-message__dialog {
    @extend %absolute-centered;
    width: 400px;
    padding: 1em;
    color: $dark-gray;
    background-color: $white;
    border: 2px solid $accent-dividers;
  }

  .modal-message__icon {
    float: left;
    padding-right: 2em;
  }

  .modal-message__content {
    @extend .text--body-small;
    width: auto;
    overflow: hidden;
    margin-top: 2em;
  }

  .modal-message__close:after {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0.5em;
    cursor: pointer;
    color: $dark-gray;
    content: $icon--close-window-style2;
    font-family: "tableau-icons";
    font-size: 1.5em;
  }

  &.modal-message--loading {
    .modal-message__icon {
      background: url('../images/interactive/loader/loader.gif') no-repeat center center;
      background-size: 32px;
      width: 32px;
      height: 32px;
    }

    .modal-message__content {
      margin: 0;
    }

    .modal-message__close {
      display: none;
    }
  }

  @include breakpoint($mobile-max) {
    .modal-message__dialog {
      width: 90%;
    }
  }
}
