<div class="mobile-filter-set">

</div>

<div class="filter-set">
  <span class="filter-set__heading">Nick Roles:</span>
  <div class="form-field__wrapper">
    <input class="form-field" type="radio" id="radio-all" name="filter_group" value="all" checked="checked">
    <label class="form-field__label" for="radio-all">All</label>
  </div>

  {{#each inputs}}
    <div class="form-field__wrapper">
      <input class="form-field" type="radio" id="radio-{{id}}" name="filter_group" value="{{value}}">
      <label class="form-field__label" for="radio-{{id}}">{{label}}</label>
    </div>
  {{/each}}
</div>
