/*
Tab Label

An inline indicator. This element helps identify an aspects about the item in consideration.

Markup: label-tag.hbs

Weight: 0

.label-tag--purple - A purple tag label

Style guide: labels.tag
*/

.label-tag {
  @extend .text--label;
  display: inline-block;
  padding: em(4px) em(6px) em(3px) em(8px);
  margin-left: em(6px);
  line-height: 1;
  vertical-align: middle;

  @each $name, $colors in $label-colors {
    &--#{"" + $name} {
      background-color: nth($colors, 1);
      color: nth($colors, 2);
    }
  }
}

// The other left.
[dir="rtl"],
.direction--rtl {
  .label-tag {
    margin-left: initial;
    margin-right: em(6px);
  }
}
