/*
Content Lists

Lists of content that generally have a title, thumbnail and/or a description and link through to the full version of the content.

Styleguide 8
*/

/* 
Basic Teaser List

A basic list of teasers, used for things like a list of blog posts.

Markup:
<div class="teaser-list grid-4 {$modifiers}"> 
  <a href="#">
    <div class="teaser-list__thumbnail"> 
      <img src="http://placecage.com/300/200">
    </div> 
    <div class="teaser-list__info">
      <h2 class="teaser-list__title">
        Listed Item Title
      </h2>
      <p class="teaser-list__description">
        Semper. Recusandae, vestibulum! Viverra cupidatat nostrud similique class mollis. Eius eget, nam! Pharetra? 
      </p>
    </div>
  </a>
</div>

.teaser-list--colored-title - Variation with a colored box around the title

Styleguide 8.1
*/
.teaser-list {
  @include clearfix;

  img {
    @include transition(opacity .25s);
  }

  & > a {
    display: block;
    color: $base-font-color;
    @include transition(color .25s);

    &:hover {
      color: $link-color;
      text-decoration: none;
    }

    &:hover img {
      opacity: 0.85;
    }
  }

  .teaser-list__thumbnail {
    display: inline-block;
    line-height: 0;
    background: #000;
    
    & a:hover img {
      opacity: 0.9;
    }
  }
  
  .teaser-list__title {
    margin: 0.5em 0;
  }

  .teaser-list__secondary-label {
    margin: 0.5em 0;
    color: $gray;
  }

  &.teaser-list--colored-title {
      max-width: 295px;

    .teaser-list__title {
      margin: -10px 0 0;
      padding: .75em;
      background: $salmon;
      text-align: center;
      color: $white;
      font-weight: 200;
      @include transition(background .25s);
    }

    &:hover .teaser-list__title {
      background: $salmon-dark;
    }

    &:nth-child(3n+2) .teaser-list__title {
      background: $green;
    }

    &:nth-child(3n+2):hover .teaser-list__title {
      background: $green-dark;
    }

    &:nth-child(3n+3) .teaser-list__title {
      background: $teal;
    }

    &:nth-child(3n+3):hover .teaser-list__title {
      background: $teal-dark;
    }
    @include breakpoint($mobile) {
      margin: 0 auto;
    }
  }

}

.teaser-list__row {
  margin: 0 0 2em;
}

/* 
Full-width Teaser List

A full-width list of teasers, used for things like a list of blog posts.

Markup:
<div class="teaser-list teaser-list--full-width"> 
  <div class="teaser-list__thumbnail grid-3"> 
    <a href="#">
      <img src="http://placecage.com/223/223">
    </a>
  </div> 
  <div class="teaser-list__info grid-9 grid-last">
    <h2 class="teaser-list__title">
      <a href="#">Blog Post or something</a>
    </h2>
    <div class="teaser-list__secondary-label">
      <span>Friday, April 10, 2015</span> - <span>Make Me Smarter</span>
    </div> 
    <p class="teaser-list__description">
      Semper. Recusandae, vestibulum! Viverra cupidatat nostrud similique class mollis. Eius eget, nam! Pharetra? Litora condimentum expedita amet numquam, adipiscing pulvinar at interdum fringilla purus possimus fames.
    </p>
    <div class="class="teaser-list__read-more">
      <a href="/blog/another-post">Read More</a> 
    </div>
  </div>
</div>

Styleguide 8.2
*/

.teaser-list.teaser-list--full-width {
  padding: 2em 0;
  border-bottom: 1px solid $light-gray;
  
  .teaser-list__title {
    margin: 0 0 0.5em;
  }
}
