/*
Sidebar Nav

Jump-nav used in the sidebars to navigate between sub-sections of a single page

Markup: sidebar_nav.hbs

Style guide: navigation.sidebar
*/
.sidebar--nav {
  ul {
    margin: 0;
    @extend %plain-list;
  }

  li a {
    display: block;
    padding: .5em 0;
    color: $gray;
    @extend .text--bold;
    @include transition(color .25s);
  }

  li a:hover,
  li.active a {
    color: $text-link;
    text-decoration: none;
  }

  .sidebar--nav--toggle {
    display: none;
  }
}

@include breakpoint($mobile) {
  .sidebar--nav {
    opacity: 0;
    position: relative;
    margin: 0 -10px;
    background: $bg-dark-gray-1;
    @include transition(opacity .25s);

    li {
      height: 0;
      overflow: hidden;
      @include transition(height .25s);
    }

    li.active,
    &.open li {
      height: 41px;
    }

    li a {
      padding: .5em;
      color: $white;
    }

    .sidebar--nav--toggle {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
      cursor: pointer;
    }

    &.open .sidebar--nav--toggle {
      @include transform(rotate(180deg));
    }
  }

  .sidebar--nav.stuck {
    opacity: 1;
    width: 100%;
    margin: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }
}
