/*
Location

Details about a geo-graphic location, with a map.

Weight: 80

Markup: location.hbs

Style guide: gizmos.location
*/

.location {
  @extend %clearfix;

  .location__general {
    @extend .heading--h5;
  }

  .location__map-image {
    float: left;
    margin: 25px 25px 0 0;
  }

  .location__address {
    float: left;
  }
}
