/*
Block Grid

Used when a layout has a variable number of alike items that need to be
presented in a grid. Each grid item is then aligned vertically to the top of
its row and may be of varying height.

Markup: block-grid.hbs

Weight: 21

.block-grid--2 - A 2 column block grid
.block-grid--3 - A 3 column block grid
.block-grid--4 - A 4 column block grid
.block-grid--5 - A 5 column block grid

Style guide: layout.block-grid
*/

.block-grid {
  @extend %clearfix;
}

.block-grid__item {
  margin-bottom: gutter();
}

@include breakpoint($tablet-min) {
  .block-grid--2 .block-grid__item {
    @include gallery(6);
  }

  .block-grid--3 .block-grid__item {
    @include gallery(4);
  }

  .block-grid--4 .block-grid__item {
    @include gallery(3);
  }

  .block-grid--5 .block-grid__item {
    @include gallery(3 of 15);
    margin-bottom: gutter(15);
  }
}
