/*
Animate mixin

Parameters:
  $keyframes - The @keyframes rule to use for the animation
  $duration - Length of animation
  $easing - The easing tunction to use
  $loop - Number of times to loop over the animation

Returns:
  Vendor prefixed animation rules
*/

@mixin animate($keyframes, $duration, $easing, $loop) {
  -webkit-animation: $keyframes $duration $easing $loop;
     -moz-animation: $keyframes $duration $easing $loop;
      -ms-animation: $keyframes $duration $easing $loop;
       -o-animation: $keyframes $duration $easing $loop;
          animation: $keyframes $duration $easing $loop;
}
