// Extend component to work with Drupal DOM.

.content-search {
  position: relative;

  label,
  .views-widget-sort-by,
  .views-widget-sort-order,
  .form-item-field-geofield-distance-distance,
  .form-item-field-geofield-distance-unit,
  .geofield-proximity-origin-from {
    display: none;
  }

  h2.element-invisible {
    width: 0;
  }

  input[type='search'] {
    // Override Drupal's form-autocomplete throbber.
    background-image: none !important;
  }

  #autocomplete {
    position: absolute;
    top: 4em !important;
    left: 0;
    right: 0;
    z-index: $zindex-dropdown;
    background: $bg-light-gray-1;
    border-radius: 0 0 2em 2em;
    box-shadow: 2px 2px 3px $accent-dividers inset;
    text-align: left;

    li {
      @include transition(background .25s ease-in-out);
      @include break;
      @extend %clearfix;
      display: block;
      margin: 0;
      padding: em(18px) em(32px);
      border-bottom: 1px solid $accent-dividers;
      color: inherit;
      background: rgba($bg-light-gray-2, 0.5);
      text-decoration: none;
      &:last-child {
        border-bottom: 0;
      }
      &.selected,
      &:hover {
        background: $bg-light-gray-2;
      }
    }
  }

  // Ensure no margin around content search form-field.
  .views-widget-filter-field_geofield_distance,
  .form-type-searchfield {
    margin: 0;
  }
}

.content-search .views-exposed-form .views-exposed-widget {
  padding: 0;
}
