<form class="content-search" autocomplete="off">
  <input class="content-search__input" type="search" name="{{ id }}" placeholder="{{ placeholder }}">
  <button class="content-search__button" type="submit" name="{{ id }}Submit"><i class="icon icon--search"></i></button>
</form>
