<div class="{{modifier_class}} padding-two">
  <h2>Lorem ipsum dolor sit amet</h2>
  <p>
    This sentence demonstrates <a href="#">a link in content</a> to see how links look on this color. Sit sed maecenas ratione molestias qui, bibendum vulputate ut! Aspernatur nunc! Qui. Lacus nulla? Sodales curabitur purus blandit quibusdam, molestiae.
  </p>
</div>
