<div class="l-menu box--dark-blue">
  <ul class="menu">
    <li class="first leaf active-trail"><a href="#">About</a></li>
    <li class="leaf"><a href="#">Content</a></li>
    <li class="leaf"><a href="#">Expo Hall</a></li>
    <li class="leaf"><a href="#">FAQ</a></li>
  </ul>
</div>
