/*
Base Form Styles

A simple example form.
Markup: form.hbs

Weight: 0

Style guide: forms.base
*/


.form--fields {
  label {
    display: inline-block;
    min-width: 110px;
  }
}


/*
Input Fields

Nothing to see here yet...

Markup: form_input.hbs

Weight: 1

Style guide: forms.input
*/
input[type=text],
input[type=tel],
input[type=password],
input[type=number],
input[type=email] {
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 0.7em;
  border: 0;
  border-radius: 0;
  background: $white;
  color: $text-dark-body;
  
  @include breakpoint($mobile-only) {
    width: 100%;
  }
}

input::-webkit-input-placeholder {
  color: #eee;
}


/*
Submit Buttons

Nothing to see here yet...

Markup: form_button.hbs

.submitting - In the process of submitting
.submitted - Successfully submitted
.errored - Error occured while submitting

Weight: 2

Style guide: forms.buttons
*/
input[type=submit] {
  
}
input[type=submit].submitting,
input[type=submit].submitted,
input[type=submit].errored {
  cursor: inherit;
}


input[type=submit].submitting {
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;
  background-color: $button-final;
  border-color: $button-final;
  color: $white;
  background-image: -webkit-gradient(linear, left top, right bottom,
    color-stop(.25, rgba(255, 255, 255, .25)), color-stop(.25, transparent),
    color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .25)),
    color-stop(.75, rgba(255, 255, 255, .25)), color-stop(.75, transparent),
    to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .25) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%,
    transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .25) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%,
    transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .25) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%,
    transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .25) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%,
    transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .25) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%,
    transparent 75%, transparent);
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
}

input[type=submit].submitted {
  background-color: $button-final;
  border-color: $button-final;
  color: $white;
}

input[type=submit].errored {
  background-color: $error;
  border-color: $error;
  color: $white;
}

@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  };
}

@-moz-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  };
}


/*
Validation Messages

Nothing to see here yet...

Markup: form_validation.hbs

Weight: 3

Style guide: forms.validation
*/
.invalid {
  display: none;
  color: $error;
}


/*
Confirmation Messages

Nothing to see here yet...

Markup: form_confirmation.hbs

Weight: 4

Style guide: forms.confirmation
*/
