/*
Colors

The global color pallete used to style all components.

Style guide: colors
*/


/*
Colors template

Just loading the template as a partial

Markup: colors.hbs

Hidden: true

Style guide: colors.template
*/


/*
Text Colors

Colors used for typography.

Markup: colors-text.hbs

Nocode:
true

Bgcolor: #F7F9FB

Weight: 1

Style guide: colors.text
*/

$text-white: #fff;            // White Text - rgb(255, 255, 255)
$text-light-body: #bbb;       // light Body - rgb(187, 187, 187)
$text-medium-body: #787878;   // Default Med. Body - rgb(120, 120, 120)
$text-dark-body: #333;        // Default Dark Body - rgb(51, 51, 51)
$text-link: #2c2ee8;          // Link color - rgb(44, 46, 232)
$text-headlines: #000;        // Headlines - rgb(0, 0, 0)
$text-form-error: #c72035;    // Form error - rgb(199, 32, 53)


/*
Background Colors

Colors used for backgrounds of elements or whole sections of a page.

Markup: colors-background.hbs

Nocode: true

Bgcolor: #F7F9FB

Weight: 2

Style guide: colors.background
*/

$bg-white: #fff;              // White BG - rgb(255, 255, 255)
$bg-light-gray-1: #fafafa;    // Light Gray 1 - rgb(250, 250, 250)
$bg-light-gray-2: #ebebeb;    // Light Gray 2 - rgb(235, 235, 235)
$bg-dark-gray-1: #464646;     // Dk Gray 1 - rgb(70, 70, 70)
$bg-dark-gray-2: #333;        // Dk Gray 2 - rgb(51, 51, 51)
$bg-dark-gray-3: #1b1b1b;     // Dk Gray 3 - rgb(27, 27, 27)


/*
Button Colors

Colors used for buttons.

Markup: colors-buttons.hbs

Nocode: true

Bgcolor: #F7F9FB

Weight: 3

Style guide: colors.buttons
*/

$button-orange: #e8762c;        // Button Orange - rgb(232, 118, 44)
$button-orange-hover: #ea8442;  // Button  Hover - rgb(234, 132, 66)
$button-final: #c92434;         // Final Progress - rgb(201, 36, 52)
$button-light: $text-white;  // Light Button - rgb(255, 255, 255)
$button-dark: $text-dark-body;  // Dark Button - rgb(51, 51, 51)
$button-dark-hover: #444;  // Dark Button Hover - rgb(68, 68, 68)


/*
Accent Colors

Colors used for accents.

Markup: colors-accent.hbs

Nocode: true

Bgcolor: #F7F9FB

Weight: 5

Style guide: colors.accent
*/

$accent-dividers: #dedede;              // Dividers - rgb(222, 222, 222)
$gradient-orange-red: #ff9824, #c71f35; // Color Gradient
$nav-drawer-gray-1: #f0f0f0;            // Gray for Nav Drawer - rgb(240, 240, 240)
$nav-drawer-gray-2: #ddd;               // Gray 2 for Nav Drawer - rgb(221, 221, 221)
$heading-accent: #cdcdcd;               // Accent gray for heading highlights - rgb(205, 205, 205)
$form-border-accent: #8f8f8f;
$accent-dark-blue: #23529c;             // Highlighted body icons and eyebrows - rgb(35, 82, 156)

/*
Basic Colors

Some basic colors

#Style guide: colors.basic
*/

$gray: #999;
$medium-gray: #777;
$light-gray: #f2f2f2;
$dark-gray: #333;
$white: #fff;
$black: #000;


/*
Text colors mapping in form of:
  modifier-name: $text-color
*/

$text-colors: (
  negative: $text-white,
  light-body: $text-light-body,
  medium-body: $text-medium-body,
  dark-body: $text-dark-body,
  link: $text-link,
  headlines: $text-headlines,
  form-error: $text-form-error,
);


/*
Button colors mapping in the form of:
  modifier-name: ($base-color, $hover-color)
*/

$button-colors: (
  orange: ($button-orange, $button-orange-hover),
  light: ($button-light, $button-light),
  dark: ($button-dark, $button-dark-hover)
);


/*
Background colors mapping in the form of:
  mdifier-name: ($bg-color, $copy-color, $heading-color)
*/

$background-colors: (
  white: ($bg-white, $text-dark-body, $text-headlines),
  light-gray-1: ($bg-light-gray-1, $text-dark-body, $text-headlines),
  light-gray-2: ($bg-light-gray-2, $text-dark-body, $text-headlines),
  dark-gray-1: ($bg-dark-gray-1, $text-light-body, $text-white),
  dark-gray-2: ($bg-dark-gray-2, $text-light-body, $text-white),
  dark-gray-3: ($bg-dark-gray-3, $text-light-body, $text-white),
);


// Misc colors
$error: #DD1E06;
$teal-dark: #7099a5;
$form-border: #c2c2c2;
$transparent: rgba(255,255,255,0);
