/*
Colors

The global color pallete used to style all components.

Style guide: colors
*/


/*
Colors template

Just loading the template as a partial

Markup: colors.hbs

Hidden: true

Style guide: colors.template
*/


/*
Text Colors

Colors used for typography.

Markup: colors-text.hbs

Nocode:
true

Bgcolor: #F7F9FB

Weight: 1

Style guide: colors.text
*/

$text-negative: #fff;         // Negative Text - rgb(255, 255, 255)
$text-light-body: #bbb;       // Negative/light Body - rgb(187, 187, 187)
$text-medium-body: #787878;   // Default Med. Body - rgb(120, 120, 120)
$text-dark-body: #333;        // Default Dark Body - rgb(51, 51, 51)
$text-link: #eb912c;          // Link Orange - rgb(235, 145, 44)
$text-headlines: #000;        // Headlines - rgb(0, 0, 0)
$text-nav-items: #212535;     // Nav Items - rgb(33, 37, 53)
$text-data-sources: #a3b9cb;  // Data Sources - rgb(163, 185, 203)
$text-stories: #847094;       // Stories - rgb(132, 112, 148)
$text-learning: #6f99a5;      // Learning - rgb(111, 153, 165)
$text-highlight: #53bd92;     // Highlight Text - rgb(83, 189, 146)
$text-mission-1: #316cc8;     // Mission - rgb(13, 129, 190)
$text-mission-2: #7dcdf1;     // Mission - rgb(125, 205, 241)
$text-mission-3: #5facce;     // Mission - rgb(95, 172, 206)
$text-form-float-label: #0076A3;    // Form label
$text-form-error: #c72035;    // Form error state


/*
Background Colors

Colors used for backgrounds of elements or whole sections of a page.

Markup: colors-background.hbs

Nocode: true

Bgcolor: #F7F9FB

Weight: 2

Style guide: colors.background
*/

$bg-white: #fff;              // White BG - rgb(255, 255, 255)
$bg-light-gray-1: #fafafa;    // Light Gray 1 - rgb(250, 250, 250)
$bg-light-gray-2: #ebebeb;    // Light Gray 2 - rgb(235, 235, 235)
$bg-dark-gray-1: #464646;     // Dk Gray 1 - rgb(70, 70, 70)
$bg-dark-gray-2: #333;        // Dk Gray 2 - rgb(51, 51, 51)
$bg-dark-gray-3: #1b1b1b;     // Dk Gray 3 - rgb(27, 27, 27)
$bg-about-featured: #457387;  // About/Feat - rgb(69, 115, 135)
$bg-data-sources: #2e4c65;    // Data Sources - rgb(46, 76, 101)


/*
Message colors

Colors used for message backgrounds.

Markup: colors-background.hbs

Nocode: true

Bgcolor: #F7F9FB

Weight: 2

Style guide: colors.background
*/
$msg-default-bg: #E8F7F1;    // Green background - rgb(232, 247, 241)
$msg-default-text: #47B282;  // Green text - rgb(71, 178, 128)
$msg-warning-bg: #fff6b6;    // Yellow background, TEMPORARY
$msg-warning-text: #8f8017;  // Yellow text, TEMPORARY
$msg-error-bg: #f9e4e4;      // Red background - rgb()
$msg-error-text: #c92434;    // Red text - rgb(201, 36, 52)


/*
Button Colors

Colors used for buttons.

Markup: colors-buttons.hbs

Nocode: true

Bgcolor: #F7F9FB

Weight: 3

Style guide: colors.buttons
*/

$button-orange: #e8762c;        // Button Orange - rgb(232, 118, 44)
$button-orange-hover: #ea8442;  // Button  Hover - rgb(234, 132, 66)
$button-final: #c92434;         // Final Progress - rgb(201, 36, 52)
$button-light: $text-negative;  // Light Button - rgb(255, 255, 255)
$button-dark: $text-dark-body;  // Dark Button - rgb(51, 51, 51)
$button-dark-hover: #444;  // Dark Button Hover - rgb(68, 68, 68)


/*
Product Colors

Specific brand colors for Tableau products.

Note: These colors have been deprecated and removed from the style guide.

Markup: colors-product.hbs

Nocode: true

Bgcolor: #F7F9FB

Weight: 4

// Style guide: colors.product
*/

// $product-desktop: #23529c;    // Desktop - rgb(35, 82, 156)
// $product-server: #7fa9bb;     // Server - rgb(127, 169, 187)
// $product-online: #58a3b9;     // Online - rgb(88, 163, 185)
// $product-public: #324E7A;     // Public - rgb(37, 88, 133)
// $product-reader: #B28CCF;     // Reader - rgb(178, 140, 207)
// $product-mobile: #DB8E6A;     // Mobile - rgb(219, 142, 106)


/*
Accent Colors

Colors used for accents.

Markup: colors-accent.hbs

Nocode: true

Bgcolor: #F7F9FB

Weight: 5

Style guide: colors.accent
*/

$accent-dividers: #dedede;              // Dividers - rgb(222, 222, 222)
$gradient-orange-red: #ff9824, #c71f35; // Color Gradient
$nav-drawer-gray-1: #f0f0f0;            // Gray for Nav Drawer - rgb(240, 240, 240)
$nav-drawer-gray-2: #ddd;               // Gray 2 for Nav Drawer - rgb(221, 221, 221)
$heading-accent: #cdcdcd;               // Accent gray for heading highlights - rgb(205, 205, 205)
$form-border-accent: #8f8f8f;


/*
Basic Colors

Some basic colors

#Style guide: colors.basic
*/

$gray: #999;
$light-gray: #f2f2f2;
$dark-gray: #333;
$white: #fff;
$black: #000;


/*
Text colors mapping in form of:
  modifier-name: $text-color
*/

$text-colors: (
  negative: $text-negative,
  light-body: $text-light-body,
  medium-body: $text-medium-body,
  dark-body: $text-dark-body,
  link: $text-link,
  headlines: $text-headlines,
  nav-items: $text-nav-items,
  data-sources: $text-data-sources,
  stories: $text-stories,
  learning: $text-learning,
  highlight: $text-highlight,
  mission-1: $text-mission-1,
  mission-2: $text-mission-2,
  mission-3: $text-mission-3
);


/*
Button colors mapping in the form of:
  modifier-name: ($base-color, $hover-color)
*/

$button-colors: (
  orange: ($button-orange, $button-orange-hover),
  light: ($button-light, $button-light),
  dark: ($button-dark, $button-dark-hover)
);


/*
Background colors mapping in the form of:
  mdifier-name: ($bg-color, $copy-color, $heading-color)
*/

$background-colors: (
  white: ($bg-white, $text-dark-body, $text-headlines),
  light-gray-1: ($bg-light-gray-1, $text-dark-body, $text-headlines),
  light-gray-2: ($bg-light-gray-2, $text-dark-body, $text-headlines),
  dark-gray-1: ($bg-dark-gray-1, $text-light-body, $text-negative),
  dark-gray-2: ($bg-dark-gray-2, $text-light-body, $text-negative),
  dark-gray-3: ($bg-dark-gray-3, $text-light-body, $text-negative),
  about-featured: ($bg-about-featured, $text-negative, $text-negative),
  data-sources: ($bg-data-sources, $text-negative, $text-negative),
  nav-drawer-gray-1: ($nav-drawer-gray-1, $text-dark-body, $text-headlines),
  nav-drawer-gray-2: ($nav-drawer-gray-2, $text-dark-body, $text-headlines),
);


/*
Product colors mapping in the form of:
  mdifier-name: $color

Note: Deprecated color set.
*/

// $product-colors: (
//   desktop: $product-desktop,
//   server: $product-server,
//   online: $product-online,
//   public: $product-public,
//   reader: $product-reader,
//   mobile: $product-mobile,
// );


/**
 * Label colors
 */

$label-colors: (
  purple: ($text-stories, $text-negative)
);

// Misc colors
$error: #DD1E06;
$teal-dark: #7099a5;
$form-border: #c2c2c2;
$transparent: rgba(255,255,255,0);
