/*
Eyebrow Badge

An stylized element that acts as a large, formatted badge to emphasize content.

Markup: eyebrow-badge.hbs

Weight: 0

.eyebrow-badge--date - A date eyebrow badge, with a month and day

Style guide: labels.eyebrow-badge
*/

.eyebrow-badge {
  display: inline-block;
  padding: 1em;
  background: $teal-dark;
  color: $text-negative;
  font-family: $text--benton-book;


  &--date {
    width: 3.5em;
    height: 3.5em;
    text-align: center;

    .eyebrow-badge__label {
      @extend .text--label;
      display: block;
    }

    .eyebrow-badge__text {
      display: block;
      font-family: $text--benton-thin;
      font-size: em(36px);
      color: $text-negative;
      line-height: 1.3;
    }
  }
}
