/*
Pager

Used to navigate between the different pages of content that uses pagination.

Markup: pager.hbs

Style guide: navigation.pager
*/

.pager {
  @extend %inline-list;
  margin: 1em 0;
  line-height: 1.5em;
  text-align: center;

  .pager__endcap {
    @extend .text--label;

    a {
      color: $text-medium-body;
      padding: 0.5em 1em;
    }

    // Hide pager links if they would unnecessarily navigate to the
    // current page.
    &.pager__endcap--current a {
      display: none;
    }

    &.pager__endcap--first a:before,
    &.pager__endcap--previous a:before,
    &.pager__endcap--next a:after,
    &.pager__endcap--last a:after {
      @extend .icon;
      height: 1.3em;
      text-decoration: none;
    }

    &.pager__endcap--first a:before {
      content: $icon--arrow-left;
      padding-right: 0.5em;
    }

    &.pager__endcap--previous a:before {
      content: $icon--arrow-left;
      padding-right: 0.5em;
    }

    &.pager__endcap--next a:after {
      content: $icon--arrow-right;
      padding-left: 0.5em;
    }

    &.pager__endcap--last a:after {
      content: $icon--arrow-right;
      padding-left: 0.5em;
    }
  }

  .pager__page {
    margin: 0 .1em;

    a {
      display: inline-block;
      width: 2em;
      height: 2em;
      border: 1px solid $accent-dividers;
      border-radius: 50%;
      text-align: center;
      font-family: $text-open-sans;
      color: $text-medium-body;
      font-size: 0.75em;
      transition: color .25s;
    }

    a:hover {
      color: $black;
      text-decoration: none;
    }

    &.pager__page--current a {
      color: $text-dark-body;
      border: 1px solid $text-dark-body;
    }
  }

  @include breakpoint($tablet-max) {
    line-height: 2.25em;

    .pager__endcap a {
      padding: 1em 1em;
    }

    .pager__page a {
      width: 2.25em;
      height: 2.25em;
      font-size: 1em;
    }
  }
}
