<div class="sidebar--nav grid-3">
  <span class="sidebar--nav--toggle"><i class="icon-triangle-down"></i></span>
  <ul>
    <li class-"active"><a href="#section-1">Section 1</a></li>
    <li><a href="#section-2">Section 2</a></li>
    <li><a href="#section-3">Section 3</a></li>
  </ul>
</div>
