/*
Responsive Filters

Given sets of filter options as checkboxes or radio buttons, generate dynamic
mobile equivalents wrapped into a select elements and bind the same filtering
behavior to them. This component displays radios/checkboxes on a desktop
viewport and a select list on tablet and smaller viewports. Resize your browser
to see the example in action.

Markup: responsive-filter.hbs

Style Guide: forms.responsive-filter

Weight: 100
*/

.responsive-filter {
  @include breakpoint($desktop-min) {
    .responsive-filter__select {
      display: none;
    }
  }

  @include breakpoint($tablet-max) {
    .responsive-filter__radios {
      display: none;
    }
  }
}
