/*
Shameful hacks that should be fixed
*/


/* Used on Desktop Pricing seciton */
.shame__links a {
  color: $text-dark-body;
  text-decoration: underline;
}


/*
Image based icons

@TODO get design to make SVGs and migrate to iconfont generation.
*/

.icon--circle-filled-orange,
.icon--product-mobile,
.icon--product-public,
.icon--product-reader,
.icon--database,
.icon--diagram,
.icon--management,
.icon--play-orange,
.icon--statistics,
.icon--expand,
.icon--collapse,
.icon--slideshow-prev-light,
.icon--slideshow-next-light,
.icon--slideshow-prev-dark,
.icon--slideshow-next-dark,
.icon--magnifying-glass {
  display: inline-block;
}

.icon--play-orange:before {
  content: url(../images/shame/icons/icon-play-orange.png);
}

.icon--circle-filled-orange:before {
  content: url(../images/shame/icons/icon-circle-filled-orange.png);
}

.icon--product-mobile:before {
  content: url(../images/shame/icons/icon-product-mobile.png);
}
.icon--product-public:before {
  content: url(../images/shame/icons/icon-product-public.png);
}
.icon--product-reader:before {
  content: url(../images/shame/icons/icon-product-reader.png);
}
.icon--product-mobile:before,
.icon--product-public:before,
.icon--product-reader:before {
  display: inline-block;
  height: 40px;
}

.icon--database:before {
  content: url(../images/shame/icons/database.png);
}
.icon--diagram:before {
  content: url(../images/shame/icons/diagram.png);
}
.icon--management:before {
  content: url(../images/shame/icons/management.png);
}
.icon--statistics:before {
  content: url(../images/shame/icons/statistics.png);
}

.icon--expand:before {
  content: url(../images/shame/icons/expand.png);
}
.icon--collapse:before {
  content: url(../images/shame/icons/collapse.png);
}

.icon--slideshow-prev-light:before {
  content: url('../images/shame/icons/slideshow-prev-light.png');
}
.icon--slideshow-next-light:before {
  content: url('../images/shame/icons/slideshow-next-light.png');
}
.icon--slideshow-prev-dark:before {
  content: url('../images/shame/icons/slideshow-prev-dark.png');
}
.icon--slideshow-next-dark:before {
  content: url('../images/shame/icons/slideshow-next-dark.png');
}

.icon--magnifying-glass:before {
  content: url('../images/shame/icons/icon-magnifying-glass.png');
}
