/* 
Shameful hacks that should be fixed
*/

/* hack for Desktop additional features on mobile */
@include breakpoint($mobile-only) {
  .shame__additional-features {
    .grid--1 {
      float: left;
    }

    .grid--5 {
      margin-left: 4em;
    }
  }
}
.shame__additional-features:nth-of-type(odd) {
  clear: left;
}


/* Used on Desktop Product page */
@include breakpoint($tablet-min) {
  .shame__image-left {
    float: left;
    width: 80%;
    margin-right: 5%;
    margin-left: -10%;
  }
  .shame__image-right {
    float: right;
    width: 80%;
    margin-left: 5%;
    margin-right: -10%;
    text-align: right;
  }

  .shame__text-right {
    float: right;
    width: 25%;
  }

  .shame__text-left {
    float: left;
    width: 25%;
  }
}


/* Used on Desktop Pricing seciton */
.shame__links a {
  color: $text-dark-body;
  text-decoration: underline;
}
