/*
Interactive Components

This section displays examples of components that have interactivity. Most
Interactivity is defined via Javascript.

Styleguide 6
*/


/*
Accordion

An accordion of content that allows you to expand and collapse sections of 
content.

Markup:
<div class="accordion">
  <div class="accordion--item">
    <h3 class="accordion--item--title">This is an accordion item</h3>
    <div class="accordion--item--content">
      <p>Recusandae iste cupidatat provident hic incididunt inventore exercitationem habitant diam fugiat occaecat quod dignissim optio cum facilis sapiente! Autem pretium.</p>
    </div>
  </div>
  <div class="accordion--item">
    <h3 class="accordion--item--title">Another accordion item</h3>
    <div class="accordion--item--content">
      <p>Recusandae iste cupidatat provident hic incididunt inventore exercitationem habitant diam fugiat occaecat quod dignissim optio cum facilis sapiente! Autem pretium.</p>
    </div>
  </div>
  <div class="accordion--item">
    <h3 class="accordion--item--title">One more accordion item</h3>
    <div class="accordion--item--content">
      <p>Recusandae iste cupidatat provident hic incididunt inventore exercitationem habitant diam fugiat occaecat quod dignissim optio cum facilis sapiente! Autem pretium.</p>
    </div>
  </div>
</div>

Styleguide 6.1
*/
.accordion--item {
  position: relative;
  padding: 0 1em;
  border-top: 1px solid $light-gray;
  @extend %fade-bg;
  
  &:last-child {
    border-bottom: 1px solid $light-gray;
  }
  
  &:hover,
  &.open {
    background-color: $gray; 
  }
}

.accordion--item--title {
  margin: 0;
  padding: 1.3em 40px 1.3em 0;
  position: relative;
  cursor: pointer;
  font-weight: $font-weight-light;
  text-transform: uppercase;

  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    content: "+";
    font-family: 'tc-icons';
    font-weight: $font-weight-light;
    line-height: 1;
  }
}

.accordion--item.open .accordion--item--title:after {
  content: "-";
}

.accordion--item--content {
  padding-bottom: 1.5em;
  
  p:first-child,
  ul:first-child {
    margin-top: 0;
  }
  
  p:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}
