/* 
Boxes & Containers

Used as wrappers to apply certain styles around elements.

Styleguide 3 
*/


/*
Padded box

Adds padding to a container element. The <code>.box--teal</code> class is used
to differentiate the box from the background. You will usually want to use a
padded box on a container with a background color.

Markup: 
<div class="box--padded {$modifiers} box--teal">
  <h3>A box with some nice padding</h3>
  <p>
    Maxime. Temporibus minim atque ullamcorper, aptent, necessitatibus lacinia tempor volutpat irure torquent! Voluptas inventore! Consectetur minus imperdiet fringilla est, posuere, repellat porro repudiandae nam, officia elit sodales lorem! Molestias minima! Imperdiet maiores class lectus quae lacus, amet varius doloremque interdum.
  </p>
</div>

.box--padded--one - A box with 1em (16px) of padding
.box--padded--two - <strong>(Default)</strong> A box with 2em (32px) of padding
.box--padded--three - A box with 3em (48px) of padding

Styleguide 3.1
*/
.box--padded {
  padding: 2em;
  
  &.box--padded--one {
    padding: 1em;
  }

  &.box--padded--three {
    padding: 3em;
  }
}


/* 
Colored Backgrounds

These classes will apply a background to any container div. It does not apply
any other styles, except the background-color and a text color if needed for 
legibility. <code>.grid-6</code> and <code>.box--padded</code> are used here
just to make the examples look better.

Markup:
<div class="{$modifiers} grid-6 box--padded">
  <p>
    This sentence demonstrates <a href="#">a link in content</a> to see how links look on this color. Sit sed maecenas ratione molestias qui, bibendum vulputate ut! Aspernatur nunc! Qui. Lacus nulla? Sodales curabitur purus blandit quibusdam, molestiae.
  </p>
</div>

.box--dark-blue - Box with dark-blue background.
.box--teal - Box with teal background.
.box--salmon - Box with salmon background.
.box--bright-teal - Box with bright-teal background.
.box--green - Box with green background.
.box--navy - Box with navy background.
.box--light-gray - Box with light gray background.
.box--gray - Box with gray background.
.box--dark-gray - Box with dark-gray background.
.box--white - Box with white background.

Styleguide 3.4
*/

/* Create a class for each theme color */
@each $name, $color in $theme-colors {
  .box--#{"" + $name} {
    background-color: $color;
    color: $white;
  }
}

/* Text color overrides for lighter backgrounds */
.box--light-gray,
.box--white {
  color: $base-font-color;
}

.box--teal a,
.box--salmon a,
.box--bright-teal a,
.box--green a,
.box--gray a {
  color: $dark-blue;
}

/*
Marginless Stretchy Boxes

Percentage width boxes that butt up against eachother with no margin. Typically,
a collored background would be applied with a <code>.box--{color}</code> class.
In a mobile layout, all stretchy boxes default to stacking one ontop of the other
and in a tablet layout stretchy boxes default to a 50% split. A 
<code>.box__stretchy--tablet-full</code> class can be applied to a box to force 
it to be full-width on a tablet. This is useful when there are an odd number of 
boxes and you want to fill the extra blank space.

Markup:
<div class="box__stretchy box__stretchy--fifths">
  <p>Aspernatur nunc! Qui. Lacus nulla? Sodales curabitur purus blandit quibusdam, molestiae.</p>
</div>
<div class="box__stretchy box__stretchy--fifths">
  <p>Aspernatur nunc! Qui. Lacus nulla? Sodales curabitur purus blandit quibusdam, molestiae.</p>
</div>
<div class="box__stretchy box__stretchy--fifths">
  <p>Aspernatur nunc! Qui. Lacus nulla? Sodales curabitur purus blandit quibusdam, molestiae.</p>
</div>
<div class="box__stretchy box__stretchy--fifths">
  <p>Aspernatur nunc! Qui. Lacus nulla? Sodales curabitur purus blandit quibusdam, molestiae.</p>
</div>
<div class="box__stretchy box__stretchy--fifths">
  <p>Aspernatur nunc! Qui. Lacus nulla? Sodales curabitur purus blandit quibusdam, molestiae.</p>
</div>

Styleguide 3.5
*/

.box__stretchy {

  &.box__stretchy--halves,
  &.box__stretchy--thirds,
  &.box__stretchy--fourths,
  &.box__stretchy--fifths,
  &.box__stretchy--sixths {
    float: left;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
  }

  @include breakpoint($tablet) {
    &.box__stretchy--halves,
    &.box__stretchy--thirds,
    &.box__stretchy--fourths,
    &.box__stretchy--fifths,
    &.box__stretchy--sixths {
      width: 50%;
    }

    &.box__stretchy--tablet-full {
      width: 100%;
    }
  }

  @include breakpoint($desktop) {

    &.box__stretchy--thirds {
      width: 1/3 * 100%;
    }

    &.box__stretchy--fourths {
      width: 25%;
    }

    &.box__stretchy--fifths {
      width: 20%;
    }

    &.box__stretchy--sixths {
      width: 1/6 * 100%;
    }
  }
}
