/*
Form Styles

Form elements such as text fields and submit buttons used to make forms that the
user can submit information through. Here's an example form:

Markup:
<label for="first-name">First Name:</label>
<input type="text" name="first-name" id="first-name"/>
<br>
<label for="last-name">Last Name:</label>
<input type="text" name="last-name" id="last-name"/>
<br>
<label for="email-field">Email:</label>
<input type="email" name="email-field" id="email-field"/>
<br><br>
<input type="submit" value="Submit" />

Styleguide 7
*/
.form--fields {
  label {
    display: inline-block;
    min-width: 110px;
  }
}


/*
Input Fields

Nothing to see here yet...

Markup:
<label for="text-field">Text Field:</label>
<input type="text" name="text-field" id="text-field"/>
<br>
<label for="email-field">Email Field:</label>
<input type="email" name="email-field" id="email-field"/>
<br>
<label for="password-field">Password Field:</label>
<input type="password" name="password-field" id="password-field"/>

Styleguide 7.1
*/
input[type=text],
input[type=tel],
input[type=password],
input[type=number],
input[type=email] {
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 0.7em;
  border: 0;
  border-radius: 0;
  background: $light-gray;
  color: $dark-gray;
  
  @include breakpoint($mobile) {
    width: 100%;
  }
}

input::-webkit-input-placeholder {
  color: #eee;
}


/*
Submit Buttons

Nothing to see here yet...

Markup:
<input type="submit" class="cta {$modifiers}" value="Submit {$modifiers}" />

.submitting - In the process of submitting
.submitted - Successfully submitted
.errored - Error occured while submitting

Styleguide 7.2
*/
input[type=submit] {
  
}
input[type=submit].submitting,
input[type=submit].submitted,
input[type=submit].errored {
  cursor: inherit;
}


input[type=submit].submitting {
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;
  background-color: $teal;
  border-color: $teal;
  color: $white;
  background-image: -webkit-gradient(linear, left top, right bottom,
    color-stop(.25, rgba(255, 255, 255, .25)), color-stop(.25, transparent),
    color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .25)),
    color-stop(.75, rgba(255, 255, 255, .25)), color-stop(.75, transparent),
    to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .25) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%,
    transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .25) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%,
    transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .25) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%,
    transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .25) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%,
    transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .25) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%,
    transparent 75%, transparent);
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
}

input[type=submit].submitted {
  background-color: $green;
  border-color: $green;
  color: $white;
}

input[type=submit].errored {
  background-color: $error;
  border-color: $error;
  color: $white;
}

@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  };
}

@-moz-keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  };
}


/*
Validation Messages

Nothing to see here yet...

Markup:
<span class="invalid">This is an error message</span>

Styleguide 7.3
*/
.invalid {
  display: none;
  color: $error;
}


/*
Confirmation Messages

Nothing to see here yet...

Markup:
<span class="confirmation">This is a confirmation message</span>

Styleguide 7.3
*/
