
.logo {
  padding: 5px 10px;
  display: inline-block;
  vertical-align: middle;
  margin: 0.5em;

  &.logo--box {
    width: 120px;
    height: 45px;
    background: #fff;
    border: 1px solid #aaa;
  }

  img {
    vertical-align: middle;
  }
}
