.slick--slider {
  .slick-dots {
    bottom: -60px;
  }  
  
  .slick-dots li {
    margin: 0 3px;

    button:before {
      opacity: 0.4;
      color: $white;
      font-size: 12px;
      @extend %fade-bg;
    }

    &.slick-active button:before {
      opacity: 0.9;
    }

    button:hover:before, 
    button:focus:before {
      opacity: 1;
    }
  }

  .slideshow--copy {
    padding: 2em 1em 1em 0;

    @include breakpoint($mobile) {
      padding: 1em;
    }
  }
}

.slideshow--dots--inset .slick-slider{
  margin-bottom: 0;
  
  .slick-dots {
    bottom: 0px;
  }

  .slick-dots li button:before {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
}
