/*
Vertical Spacer

Used to create vertical spacing between sections of content without just a stack
of <code>&lt;br&gt;</code> tags. The examples here use an <code>&lt;hr&gt;</code>
, but you can also use a <code>&lt;div&gt;</code>. The default spacing is 4em, 
but you can use modifier classes to to 2em or 6em as well.

Markup:
<div class="grid-6 box--padded box--green">
  <p>
    Maxime. Temporibus minim atque ullamcorper, aptent, necessitatibus lacinia tempor volutpat irure torquent! Voluptas inventore!
  </p>
</div>
<hr class="spacer {$modifiers}">
<div class="grid-6 box--padded box--white">
  <p>
    Repellat porro repudiandae nam, officia elit sodales lorem! Molestias minima! Imperdiet maiores class lectus quae lacus, amet varius doloremque interdum.
  </p>
</div>

.spacer--two - Spacer with 2em (32px) of space.
.spacer--four - Spacer with 4em (64px) of space.
.spacer--six - Spacer with 6em (96px) of space.

Styleguide 3.6
*/
.spacer {
  clear: both;
  height: 4em;
  margin: 0;
  padding: 0;
  border: 0;

  &.spacer--two {
    height: 2em;
  }

  &.spacer--six {
    height: 6em;
  }
}
