/*
Large Teaser

A large teaser with a high-resolution preview image, meant to be displayed as a
single full-width item. An example use case would be to display each slide of a
slideshow as a large teaser.

Markup: large-teaser.hbs

Weight:

Style guide: teasers.large-teaser
*/

.large-teaser {

  .large-teaser__thumbnail {
    @extend %clearfix;
    margin-bottom: 1em;
  }

  .large-teaser__title {
    @include span(4);

    h4 {
      margin: 0;
    }
  }

  .large-teaser__description {
    @include span(8);
    @extend .vertical-divider;
    box-sizing: border-box;
    margin-right: 0;

    .large-teaser__link {
      line-height: 1;
    }
  }
}
