/*
Global Footer

The global footer that is displayed at the bottom of each page. Contains several
navigation links, social buttons, and a copyright line.


Markup: global-footer.hbs

Weight: 50

Style Guide: navigation.footer
*/

.global-footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background: $bg-dark-gray-3;


  .global-footer__first {
    float: left;
    width: 60%;
  }

  .global-footer__second {
    float: right;
    width: 40%;
    text-align: right;
  }

  .global-footer__menu {
    float: left;
    margin-bottom: 1em;

    li {
      padding: 0 1em;
      line-height: 30px;

      a {
        color: $text-light-body;
        font-family: $text--benton-book;
      }
    }
  }

  .global-footer__social {
    margin-bottom: 1em;

    li {
      line-height: 30px;
    }

    a {
      color: $text-light-body;
      font-size: 1.2em;
      padding-left: 1em;
      text-decoration: none;
    }
  }

  .global-footer__copyright {
    @extend .text--label;
    @extend .text--medium-body;
  }

  @include breakpoint($tablet-max) {
    .global-footer__first {
      width: 65%;
    }

    .global-footer__second {
      width: 35%;
    }

    .global-footer__menu li {
      padding: 0 .5em;
    }
  }

  @include breakpoint($mobile-only) {
    padding-top: 1em;
    padding-bottom: 1em;

    .global-footer__first,
    .global-footer__second {
      float: none;
      width: auto;
      text-align: center;
    }

    .global-footer__menu {
      float: none;
      margin: 1em 0 0;
    }

    .global-footer__social li a {
      padding: .5em;
    }
  }
}
