/*
Global Footer

The global footer that is displayed at the bottom of each page. Contains several
navigation links, the language selector, social buttons, and a copyright line.

Check out [the documentation](section-documentation.html#kssref-documentation-global-nav-ajax)
for consuming the content for the global footer via ajax.

Markup: global-footer.hbs

Weight: 50

Style Guide: navigation.footer
*/

.global-footer {

  .global-footer__language,
  .global-footer__menu {
    float: left;
  }

  .global-footer__first {
    float: left;
    width: 60%;
    padding-top: 22px;
    @extend .text--body-small;
  }

  .global-footer__second {
    float: right;
    width: 40%;
    text-align: right;
  }

  .global-footer__language {
    position: relative;
    margin-right: 1em;
    padding: 2px 16px;
    cursor: pointer;
    background: $bg-dark-gray-2;
    @extend .text--benton-book;

    &:after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 5px;
      border-top: 5px solid $white;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      transition: transform 0.5s;
    }

    .global-footer__language__options {
      position: absolute;
      bottom: 100%;
      left: 0;
      max-height: 0;
      overflow: hidden;
      background: $bg-dark-gray-2;
      transition: max-height 0.5s ease-out;

      .selected {
        display: none;
      }

      a {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding: 2px 16px;
        color: $text-light-body;
      }
    }

    &:hover {
      &:after {
        transform: rotate(180deg);
      }

      .global-footer__language__options {
        max-height: 240px
      }
    }

  }


  .global-footer__menu li {
    padding: 0 1em;
    line-height: 30px;

    a {
      color: $text-light-body;
      font-family: $text--benton-book;
    }
  }

  .global-footer__social li a {
    color: $text-light-body;
    font-size: 1.2em;
    padding-left: 1em;
    text-decoration: none;
  }

  @include breakpoint($tablet-max) {
    .global-footer__first {
      width: 65%;
    }

    .global-footer__second {
      width: 35%;
    }

    .global-footer__menu li {
      padding: 0 .5em;
    }

  }

  @include breakpoint($mobile-only) {
    .global-footer__first,
    .global-footer__second {
      float: none;
      width: auto;
      text-align: center;
    }

    .global-footer__language {
      float: none;
      margin-right: 0;

      .global-footer__language__options {
        width: 100%;
      }
    }

    .global-footer__menu {
      float: none;
      margin: 2em 0 1em;
    }

    .global-footer__social li a {
      padding: .5em;
    }

  }
}
