@font-face {
  font-family: 'Benton Sans Thin';
  src: local('Benton Sans Thin');
  src:  url('//cdns.tblsft.com/sites/all/fonts/bentonsans-thin.eot#iefix')  format('embedded-opentype'),
        url('//cdns.tblsft.com/sites/all/fonts/bentonsans-thin.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Benton Sans Light';
  src: local('Benton Sans Light');
  src:  url('//cdns.tblsft.com/sites/all/fonts/bentonsans-light.eot#iefix')  format('embedded-opentype'),
        url('//cdns.tblsft.com/sites/all/fonts/bentonsans-light.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Benton Sans Book';
  src: local('Benton Sans Book');
  src:  url('//cdns.tblsft.com/sites/all/fonts/bentonsans-book.eot#iefix')  format('embedded-opentype'),
        url('//cdns.tblsft.com/sites/all/fonts/bentonsans-book.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Benton Sans Medium';
  src: local('Benton Sans Medium');
  src:  url('//cdns.tblsft.com/sites/all/fonts/bentonsans-medium.eot#iefix')  format('embedded-opentype'),
        url('//cdns.tblsft.com/sites/all/fonts/bentonsans-medium.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather');
  src:  url('//cdns.tblsft.com/sites/all/fonts/merriweather-light.eot#iefix')  format('embedded-opentype'),
        url('//cdns.tblsft.com/sites/all/fonts/merriweather-light.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather');
  src:  url('//cdns.tblsft.com/sites/all/fonts/merriweather-bold.eot#iefix')  format('embedded-opentype'),
        url('//cdns.tblsft.com/sites/all/fonts/merriweather-bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

// Italic
@font-face {
  font-family: 'Benton Sans Book';
  src: local('Benton Sans Book');
  src:  url('//cdns.tblsft.com/sites/all/fonts/bentonsans-book-italic.eot#iefix')  format('embedded-opentype'),
        url('//cdns.tblsft.com/sites/all/fonts/bentonsans-book-italic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather');
  src:  url('//cdns.tblsft.com/sites/all/fonts/merriweather-light-italic.eot#iefix')  format('embedded-opentype'),
        url('//cdns.tblsft.com/sites/all/fonts/merriweather-light-italic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather');
  src:  url('//cdns.tblsft.com/sites/all/fonts/merriweather-bold-italic.eot#iefix')  format('embedded-opentype'),
        url('//cdns.tblsft.com/sites/all/fonts/merriweather-bold-italic.woff') format('woff');
  font-style: italic;
  font-weight: 700;
}
