/*
Font Families

**OpenSans** is primarily used for section headers and titling.

**Merriweather** is used mainly for body copy.

Markup: fonts.hbs

Nodefault: true

Nocode: true

Weight: 0

.text--open-sans-light - Open Sans Light
.text--open-sans-normal - Open Sans Normal
.text--merriweather - Merriweather Light

Style guide: typography.fonts
*/

.text--open-sans-light {
  font-family: $text-open-sans;
  font-weight: 100;
}

.text--open-sans-normal {
  font-family: $text-open-sans;
}

.text--merriweather {
  font-family: $text-merriweather;
}
