/*
Location

Details about a geo-graphic location, with a map.

Weight: 60

Markup: location.hbs

Style guide: compound.location
*/

.location {
  @extend %clearfix;

  .location__general {
    @extend .heading--h5;
  }

  .location__map-image {
    float: left;
    margin: 0 20px 0 0;
  }

  .location__address {
    @extend .text--body-small;
    float: left;

    p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
}
