/**
 * Base type sizing
 */
$base-font-size: 18px;
$base-line-height: 1.4;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$text-huge:  3em;
$text-big:  2em;
$text-small:  0.75em;
$text-tiny:  0.63em;
