/**
 * SASS vars
 */

$susy: (
  columns: 12,
  container: auto,
);

// Device sizes
$mobile: max-width 739px;
$tablet: 740px;
$desktop: 980px;


// Layout units
$menu-height-wide: 78px;
$menu-height-mobile: 49px;
$grid-columns: 12;
$grid-container-width: 960px;
$grid-column-padding: 10px;
$section-vert-spacing: 3em;
$footer-height: 98px;



// $phone-portrait: em(320px, 16px);
// $phone-landscape: em(480px, 16px);
// $tablet: em(768px, 16px);
// $tablet-landscape: em(1024px, 16px);
// $desktop: em(1024px, 16px);
// $desktop-wide: em(1440px, 16px);

// // Static widths, heights, etc.
// $content-max-width: 1280px;
// $admin-menu-height: 29px;
// $header-height-small: 70px;
// $header-height-large: 80px;
// $footer-height: 100px;
// $sidebar-width: 210px;
// $search-width: 220px;
// $header-icon-width: $base-line-height;
// $body-icon-width: $base-line-height;
