<div class="hero {{ modifier_class }}">
  {{# img }}
    <div class="hero__image">
      <img src="{{ src }}"/>
    </div>
  {{/ img }}

  {{# text }}
    <div class="hero__copy content-container">
      <div class="hero__copy__inner">
        {{# sub_title }}
          {{> heading }}
        {{/ sub_title }}
        
        <div class="hero__copy__headline clearfix">
          {{# headline }}
            {{> heading }}
          {{/ headline }}
        </div>
        
        <div class="hero__copy__cta clearfix">
          {{# cta }}
            {{> cta }}
          {{/ cta }}
        </div>

        {{# link }}
          {{> link}}
        {{/ link }}
      </div>
    </div>
  {{/ text }}
</div>
