<div class="hero {{ modifier_class }}">
  {{#if video}}
    {{# video }}
      <div class="hero__video">
        <video autoplay="" loop="">
          <source src="{{ src }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    {{/ video }}
  {{else}}
    {{# img }}
      <div class="hero__image">
        <img src="{{ src }}"/>
      </div>
    {{/ img }}
  {{/if}}


  {{# text }}
    <div class="hero__copy content-container">
      <div class="hero__copy__inner">
        {{# sub_title }}
          {{> heading }}
        {{/ sub_title }}
        
        <div class="hero__copy__headline clearfix">
          {{# headline }}
            {{> heading }}
          {{/ headline }}
        </div>
        
        <div class="hero__copy__cta clearfix">
          {{# cta }}
            {{> cta }}
          {{/ cta }}
        </div>

        {{# link }}
          {{> link}}
        {{/ link }}
      </div>
    </div>
  {{/ text }}
</div>
