/*
Typography

Weight: 10

Style guide: typography
*/


/*
Buttons

Buttons and CTAs used to draw more attention than a standard text link.

Weight: 20

Style guide: buttons
*/


/* 
Boxes & Containers

Used as wrappers to apply certain styles around elements.

Weight: 30

Style guide: boxes 
*/


/*
Images

Image assets displayed as thumbnails or within the content of a page.

Weight: 35

Style guide: images
*/


/*
Content Lists

Lists of content that generally have a title, thumbnail and/or a description and
link through to the full version of the content.

Weight: 40

Style guide: lists
*/


/*
Form Styles

Form elements such as text fields and submit buttons used to make forms that the
user can submit information through. Here's an example form:

Weight: 50

################################################################################
# Style guide: forms ###########################################################
################################################################################
*/


/*
Tables

Used for tabular data

Weight: 60

################################################################################
# Style guide: tables ##########################################################
################################################################################
*/


/*
Navigation

Navigational tools used across the site

Weight: 70

Style guide: navigation
*/


/*
Interactive Components

This section displays examples of components that have interactivity. Most
Interactivity is defined via Javascript.

Weight: 80

Style guide: interactive
*/


/*
Layout 

Components used for page layout

Weight: 90

Style guide layout
*/

