/*
Content Flyout

Simple tool to make content hidden and flyout when a trigger is clicked.

Markup: flyout.hbs

Style guide: interactive.flyout
*/

.flyout__slideout {
  width: 100%;
  overflow: auto;
}
.flyout__content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
}

.flyout__close-wrapper {
  position: absolute;
  width: 100%;
  padding-top: 3em;
  @extend .content-container;

  .flyout__close-link {
    position: relative;
    z-index: 5;
    float: right;

    
    &:hover {
    }
  }
}
