/*
Hamburger

Hamburger icon for mobile navigation.

Markup: hamburger.hbs

.hamburger--open - Open state of hamburger icon.

Style guide navigation.hamburger
*/

.hamburger {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;

  .hamburger__patty, 
  .hamburger__patty:before, 
  .hamburger__patty:after {
    position: absolute;
    display: block;
    height: 1px;
    width: 36px;
    background: #000;
    font-size: 0;
    text-indent: -999em;
    @include transition(all .5s);

  }

  .hamburger__patty:before, 
  .hamburger__patty:after {
    content: '';  
  }
  .hamburger__patty {
    top: 18px
  }
  .hamburger__patty:before {
    top: -4px; 
  }
  .hamburger__patty:after {
    top: 4px;
  }

  &.hamburger--open .hamburger__patty {
    background-color: transparent;
  }
  &.hamburger--open .hamburger__patty:before, 
  &.hamburger--open .hamburger__patty:after {
    top: 0;
  }
  &.hamburger--open .hamburger__patty:before {
    transform: rotate(45deg);
  }
  &.hamburger--open .hamburger__patty:after {
    transform: rotate(-45deg);
  }
}
