<header>
  <div class="global-nav content-container content-container--wide">
    <div class="relative clearfix">
      {{# logo}}
        <div class="global-nav__logo">
          <a href="{{ link }}">
            <img src="{{ src }}" alt="Tableau Software" />
          </a>
        </div>
      {{/logo}}

      <nav class="global-nav__primary-menu">
        {{# primary}}
          {{> link-list}}
        {{/primary}}
      </nav>

      <nav class="global-nav__secondary-menu">
        {{# secondary}}
          {{> link-list}}
        {{/secondary}}
      </nav>

      <div class="global-nav__search">
        <input type="search" placeholder="Search" name="q" autocomplete="off">
        <a href="#" class="global-nav__search__close"></a>
        <div id="predictive-container">
          <ul id="predictive-terms"></ul>
        </div>
      </div>
    </div>
  </div>

  <div class="global-nav__drawer box--light-gray-1">
    <div class="content-container content-container--wide">
      <div class="sub-navigation grid--8 box__padded box__padded--two">
        <div class="sub-nav__item grid--4">
          <h3>
            <a href="/products/desktop.html">Tableau Desktop</a>
          </h3>
          <p>Business analytics anyone can use.</p>
          <p>
            <a class="link--arrow" href="/products/desktop.html">Learn More</a>
          </p>
        </div>
        <div class="sub-nav__item grid--4">
          <h3>
            <a href="#">Tableau Server</a>
          </h3>
          <p>Rapid-fire business intelligence, today.</p>
          <p>
            <a class="link--arrow" href="">Learn More</a>
          </p>
        </div>
        <div class="sub-nav__item grid--4 grid--last">
          <h3>
            <a href="#">Tableau Online</a>
          </h3>
          <p>The power of Tableau, in the cloud.</p>
          <p>
            <a class="link--arrow" href="">Learn More</a>
          </p>
        </div>
      </div>

      <div class="sub-navigation-more grid--4 grid--last box__padded box__padded--two">
        <h3>More Tableau Products</h3>
        <ul class="plain-list">
          <li>
            <a href="#">
              <h6>Tableau Mobile</h6>
            </a>
            <p>Tableau straight from your phone.</p>
          </li>
          <li>
            <a href="#">
              <h6>Tableau Public</h6>
            </a>
            <p>Publish interactive data online.</p>
          </li>
          <li>
            <a href="#">
              <h6>Tableau Reader</h6>
            </a>
            <p>Read saved files from Tableau Desktop.</p>
          </li>
        </ul>
        <div class="sub-navigation-more-bg"></div>
      </div>

    </div>
  </div>
</header>
