/*
Subnavigation

Each Product page on TableauSoftware.com uses a simplified navigation. It is has
main categories throughout the page as jump links.

Markup: subnav.hbs

Style guide: navigation.subnav
*/

.subnav {
  padding: .5em 0;
  position: relative;

  &.stuck {
    position: fixed;
  }

  .subnav__title,
  .subnav__links,
  .subnav__cta {
    float: left;
  }

  .subnav__cta {
    opacity: 0;
    height: 0;
    float: right;
    transition: opacity .5s;

    .cta {
      margin: 0;
    }
  }

  &.stuck .subnav__cta {
    opacity: 1;
    height: auto;
  }

  .subnav__title {
    margin: 0.4em 0;
  }

  .subnav__links {
    margin: 0.8em 0 0 2em;
    padding: 0;
    
    li {
      padding: 0 10px;
      
      a {
        position: relative;
        padding: 2px;
        border-bottom: 2px solid transparent;
        color: $text-light-body;
        text-decoration: none;
        @extend .text--benton-book;
        transition: color .5s, border .5s;

        &:hover {
          color: $text-negative;
        }
      }
    }

    li.active a {
      border-bottom: 2px solid $product-desktop;
      color: $text-negative;
    }
  }

  @include breakpoint($mobile-only) {
    padding: 0;

    .subnav__title,
    .subnav__links,
    .subnav__cta {
      float: none;
    }


    .subnav__links {
      position: relative;
      margin: 0;
      border-top: 1px solid $text-medium-body;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 80px;
        height: 44px;
        top: 0;
        right: 0;
        z-index: 1;
        pointer-events: none;
        background-image: linear-gradient(to left, $bg-dark-gray-1, transparent);
      }

      .subnav__links__wrapper {
        width: 100%;
        overflow-x: auto;
        padding: 0.25em 0;

        ul.link-list {
          white-space: nowrap;
        }

        li {
          padding: .5em 1em .5em 0;
        }
      }

    }

    .subnav__cta {
      position: absolute;
      top: 5px;
      right: 1em;

      .cta {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }
}
