/*
Subnavigation

Each Product page on TableauSoftware.com uses a simplified navigation. It is has
main categories throughout the page as jump links.

Markup: subnav.hbs

Style guide: navigation.subnav
*/

.subnav {
  padding: .5em 0;

  .subnav__title,
  .subnav__links,
  .subnav__cta {
    float: left;
  }

  .subnav__cta {
    opacity: 0;
    height: 0;
    float: right;
    transition: opacity .5s;

    .cta {
      margin: 0;
    }
  }

  &.stuck .subnav__cta {
    opacity: 1;
    height: auto;
  }

  .subnav__title {
    @extend .text--sub-nav;
    @extend .text--negative;
  }

  .subnav__links {
    margin: 0.8em 0 0 2em;
    padding: 0;
    
    li {
      padding: 0 10px;
      
      a {
        position: relative;
        padding: 2px;
        border-bottom: 2px solid transparent;
        color: $text-light-body;
        text-decoration: none;
        @extend .text--benton-book;
        transition: color .5s, border .5s;

        &:hover {
          color: $text-negative;
        }
      }
    }

    li.active a {
      border-bottom: 2px solid $product-desktop;
      color: $text-negative;
    }
  }
}
