<div class="subnav box--dark-gray-1 sticky">
  <div class="content-container content-container--wide">
    <h5 class="subnav__title heading--label">{{ title }}</h5>

    {{# anchors}}
      <ul class="subnav__links">
        {{> link-list}}
      </ul>
    {{/anchors}}

    {{# cta}}
      <div class="subnav__cta">
        {{> cta}}
      </div>
    {{/ cta}}
  </div>
</div>