/*
Grids

Used for creating a columned layout. To use these classes, just pick the number
of columns wide you want your element to be relative to the total number of
columns. The default is 12 columns. For example, you can use `.grid--4` to make
an element 4 columns wide followed by an element with `.grid--8` to take up the
remaining eight columns of the container's width.

Markup: grid.hbs

Weight: 20

Style guide: layout.grids
*/


$grid-columns: 12;
$susy: (
  columns: $grid-columns,
  gutters: 1/3,
  gutter-position: after
);

@for $i from 1 through $grid-columns {
  .grid--#{$i} {
    position: relative;
    box-sizing: border-box;

    @include breakpoint($tablet-min) {
      @include span($i);

      &.grid--last {
        margin-right: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .push--#{$i} {
    @include breakpoint($tablet-min) {
      @include push($i);
    }
  }
  .pull--#{$i} {
    @include breakpoint($tablet-min) {
      @include pull($i);
    }
  }
}


// Special handling for grid--3 on tablet and mobile.
@include breakpoint((max-width $tablet-mid) (min-width $mobile-two-thirds)) {
  .grid--tablet-mobile-split {
    .grid--3 {
      @include span(6);

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
}

@include breakpoint($tablet-only) {
  .grid--tablet-full {
    width: 100%;
    margin-right: 0;
  }

  .grid--tablet-half {
    @include span(6);

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}


/*
Half-column Push/Pull

This is just a utility to allow for pushing and pulling by half-column units 
rather than needing to push by a full unit. This should only be used if you need
to center content in an uneven number of columns
 */

$susy: (
  columns: 24,
  gutters: 2/3,
  gutter-position: after
);

@for $i from 1 through 24 {
  .push-half--#{$i} {
    @include breakpoint($tablet-min) {
      @include push($i);
    }
  }
  .pull-half--#{$i} {
    @include breakpoint($tablet-min) {
      @include pull($i);
    }
  }
}

// Resetting default susy settings
$susy: (
  columns: $grid-columns,
  gutters: 1/3,
  gutter-position: after
);
