/*
Global Navigation

The global navigation bar that sits at the top of each page. Contains primary, 
secondary, and sub navigation as well as the global search bar.

Markup: global-nav.hbs

Style guide: navigation.global
*/

.global-nav {

}

.global-nav__top {
  position: relative;
  height: 100px;
  padding: 2em 0;
  background: #fff;
 
  .global-nav__logo {
    max-width: 200px;
    float: left;

    @include breakpoint(max-width 1300px) {
      max-width: 140px;
      margin-top: 6px;
    }
    
    a {
      display: block;
      line-height: 0;
    }
  }

  @include breakpoint($desktop-only) {
    .global-nav__logo,
    .global-nav__primary-menu,
    .global-nav__secondary-menu {
      float: left;
      opacity: 1;
      transition: opacity .75s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .global-nav__secondary-menu {
      float: right;
    }
  

    .global-nav__primary-menu {

      ul {
        margin: 0.8em 0 0 3em;
      }
      
      li a {
        position: relative;
        padding: 10px;
        color: $text-nav-items;
        font-family: $text--benton-book;

        @include breakpoint(max-width 1300px) {
          padding: 10px 8px;
        }
      }

      li.expandable a:after {
        content: "";
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        top: 47px;
        left: 50%;
        margin-left: -20px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid $nav-drawer-gray-1;
        pointer-events: none;
        transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1);
      }

      li.expanded a:after {
        opacity: 1;
      }
    }
    
    .global-nav__secondary-menu {
      padding-right: 45px;
      text-align: right;

      li a.link {
        padding: 10px;
        color: $text-headlines;

        @include breakpoint(max-width 1300px) {
          padding: 10px 8px;
        }
      }

      li a.cta {
        margin: 0 0 0 10px;
      }
    }
  
    // Global Search Bar Styles
    .global-nav__search {
      position: absolute;
      right: 0;
      width: 45px;
      height: 100%;
      transition: all .75s cubic-bezier(0.77, 0, 0.175, 1);

      input[type='search'] {
        position: absolute;
        right: 0;
        width: 45px;
        height: 100%;
        border: none;
        cursor: pointer;
        padding: 0 0 0 45px;
        background-image: url('../images/icons/icon-magnifying-glass.svg');
        background-repeat: no-repeat;
        background-size: 18px;
        background-position: 15px center;
        text-align: left;
        @extend .text--large-copy;
        transition: all .75s cubic-bezier(0.77, 0, 0.175, 1);

        &:focus {
          outline: none;
        }

        ::-webkit-input-placeholder,
        :-moz-placeholder,
        ::-moz-placeholder,
        :-ms-input-placeholder {  
          color: $text-medium-body;
        }
        
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration { 
          display: none; 
        }
      }

      .global-nav__search__close {
        position: absolute;
        opacity: 0;
        width: 0;
        background-image: url('../images/global/x-close-nav.png');
        background-repeat: no-repeat;
        background-size: 18px;
        background-position: center center;
        top: 0;
        right: 0;
        transition: all .75s cubic-bezier(0.77, 0, 0.175, 1);
      }
    }
  }

  // Tweaks for when the search bar is shown
  &.global-nav--search-shown {
    
    .global-nav__search {
      width: 100%;
      
      input[type='search'] {
        width: 100%;
        padding-left: 2em;
        cursor: inherit;
      }
      
      .global-nav__search__close {
        opacity: 1;
        width: 45px;
        height: 45px;
      }
    }

    .global-nav__logo,
    .global-nav__primary-menu,
    .global-nav__secondary-menu {
      opacity: 0;
    }
  }

  // Mobile nav
  @include breakpoint($tablet-max) {
    padding-top: 1em;
    padding-bottom: 1em;
    height: 64px;

    .relative {
      position: initial;
    }

    .global-nav__mobile-wrapper {
      position: absolute;
      top: 64px;
      left: 0;
      width: 100%;
      z-index: 10;
      background: $nav-drawer-gray-1;
    }

    .global-nav__hamburger {
      position: absolute;
      top: 0;
      right: 0;
      width: 36px;
      height: 36px;
      padding: 14px;
      transition: background .75s;

      &.open {
        background: $nav-drawer-gray-1;
      }
    }

    .global-nav__primary-menu {
      padding-top: 1.5em;

      li {
        display: block;
        padding: 0 1em;
       
        a {
          display: block;
          padding: 6px 0.5em;
          border-bottom: 1px solid $nav-drawer-gray-2;
          color: $text-nav-items;
          font-family: $text--benton-light;
          font-size: em(24px);
          color: $text-dark-body;
        }


        &:last-child a {
          border-bottom: 0;
        }
      }

      .expandable a:after {
        content: url('../images/icons/expand-right.png');
        float: right;
        margin-top: -2px;
      }
    }

    .global-nav__secondary-menu {
      text-align: center;
      padding: 24px;

      li:last-child {
        display: block;
      }

      a.link,
      a.search {
        padding: 12px;
        color: $text-headlines;
      }

      a.search {
        // @todo remove all this grossness once we have a proper icon font.
        zoom: .7;
        display: inline-block;
        vertical-align: middle;
      }


    }
  }

  @include breakpoint($tablet-only) {
    .global-nav__primary-menu li {
      padding: 0 2em;

      a {
        padding: 6px 0;
      }
    }

    .global-nav__secondary-menu {
      a.cta {
        display: inline-block;
        width: 100%;
        max-width: 550px;
        margin-left: 0;
        margin-right: 0;
        box-sizing: border-box;
        text-align: center;
      }
    }
  }

}


@include breakpoint($desktop-only) {
  .global-nav__drawers {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    width: 100%;
    
    .global-nav__drawers__drawer {
      display: none;
    }
    
    .global-nav__drawer__inner {
      display: flex;
      align-items: center;
    }

    .sub-nav__item__link {
      margin-bottom: 0;
    }

    .global-nav__drawer__secondary {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        z-index: 1;
        background: $nav-drawer-gray-2;
      }

      & > * {
        z-index: 2;
        position: relative;
      }
      
      .sub-nav__item__title,
      .sub-nav__item__description {
        margin: 0;
        line-height: 1.5;
      }

      .sub-nav__item {
        margin-top: .75em;
      }
    }
  }
}

@include breakpoint($tablet-max) {
  .global-nav__drawers {
    position: absolute;
    width: 100%;
    overflow: hidden;

    .global-nav__drawers__drawer {
      display: none;
      width: 100%;
      margin-left: 100%;
      position: relative;
      z-index: 15;

    }

    .content-container {
      padding: 0;
    }

    .global-nav__drawers__drawer__controls {
      padding:1em 2em 0;
    }
    .global-nav__drawer__primary,
    .global-nav__drawer__secondary {
      padding: 2em;
    }

    .global-nav__drawer__primary {
      padding-top: 1em;
    }

    .global-nav__drawer__primary,
    .global-nav__drawer__secondary,
    .sub-nav__item {
      width: auto;
      float: none;
      clear: both;
      margin: 0;
    }
    

    .sub-nav__item {
      border-bottom: 1px solid $nav-drawer-gray-2;

      &:last-child {
        border-bottom: 0;
      }

      .sub-nav__item__title {
        margin: .5em 0;
        padding: 0;

        &:before {
          display: none;
        }
      }
    }

    .global-nav__drawer__secondary .sub-nav__item {
      border-bottom-color: $text-light-body;
    }

  }
}

@include breakpoint($tablet-only) {
  .global-nav__drawers {
    .sub-nav__item {
      .sub-nav__item__title {
        display: inline-block;
        width: 250px;
      }

      .sub-nav__item__description {
        display: inline-block;
      }
    }
  }
}


// Autocomplete
.ui-autocomplete {
  display: block;
  position: absolute;
  z-index: 20;
  padding: 10px 45px;
  list-style: none;

  // @todo this is a dirty hack to push the autocomplete list down. Find better fix.
  border-top: 27px solid #fff;
  background: #fefefe;
  outline: none;
  @extend .text--large-copy;
}
