/*
Global Navigation

The global navigation bar that sits at the top of each page. Contains primary, 
secondary, and sub navigation as well as the global search bar.

Markup: global-nav.hbs

Style guide: navigation.global
*/

.global-nav {
  position: relative;
  height: 100px;
  padding: 2em 0;
  background: #fff;

  .global-nav__logo,
  .global-nav__primary-menu,
  .global-nav__secondary-menu {
    float: left;
    opacity: 1;
    @include transition(opacity 1s);
  }

  .global-nav__secondary-menu {
    float: right;
  }

  .global-nav__logo {
    max-width: 200px;
    
    a {
      display: block;
      line-height: 0;
    }
  }

  .global-nav__primary-menu {

    ul {
      margin: 0.8em 0 0 3em;
    }
    
    li a {
      position: relative;
      padding: 10px;
      color: $text-nav-items;
      @extend .text--benton-book;
    }

    li.expandable a:after {
      content: "";
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      top: 47px;
      left: 50%;
      margin-left: -20px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid $nav-drawer-gray-1;
      pointer-events: none;
      @include transition(opacity .5s);
    }

    li.expanded a:after {
      opacity: 1;
    }
  }

  .global-nav__secondary-menu {
    padding-right: 45px;
    text-align: right;

    li a.link {
      padding: 10px;
      color: $text-headlines;
    }

    li a.cta {
      margin: 0 0 0 10px;
    }
  }

  // Global Search Bar Styles
  .global-nav__search {
    position: absolute;
    right: 0;
    width: 45px;
    height: 100%;

    @include transition(all 0.5s);

    input[type='search'] {
      position: absolute;
      right: 0;
      width: 45px;
      height: 100%;
      border: none;
      cursor: pointer;
      padding: 0 0 0 45px;
      background-image: url('/assets/images/icons/icon-magnifying-glass.svg');
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: 15px center;
      text-align: left;
      @extend .text--large-copy;
      @include transition(all 0.5s);

      &:focus {
        outline: none;
      }

      ::-webkit-input-placeholder,
      :-moz-placeholder,
      ::-moz-placeholder,
      :-ms-input-placeholder {  
        color: $text-medium-body;
      }
      
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration { 
        display: none; 
      }
    }

    .global-nav__search__close {
      position: absolute;
      opacity: 0;
      width: 0;
      background-image: url('/assets/images/global/x-close-nav.png');
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: center center;
      top: 0;
      right: 0;
      @include transition(opacity .5s);
    }
  }

  // Tweaks for when the search bar is shown
  &.global-nav--search-shown {
    
    .global-nav__search {
      width: 100%;
      
      input[type='search'] {
        width: 100%;
        padding-left: 2em;
        cursor: inherit;
      }
      
      .global-nav__search__close {
        opacity: 1;
        width: 45px;
        height: 45px;
      }
    }

    .global-nav__logo,
    .global-nav__primary-menu,
    .global-nav__secondary-menu {
      opacity: 0;
      @include transition(opacity .5s);
    }
  }

}


.global-nav__drawer {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 10;
  
  .global-nav__drawer__secondary {
    position: relative;

    .global-nav__drawer__secondary__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      z-index: -1;
    }
  }
}

// Autocomplete
.ui-autocomplete {
  display: block;
  z-index: 20;
  padding: 10px 45px;
  list-style: none;

  // @todo this is a dirty hack to push the autocomplete list down. Find better fix.
  border-top: 27px solid #fff;
  background: #fefefe;
  outline: none;
  @extend .text--large-copy;
}



/*******************************************************************************
HUGE STYLES 
*******************************************************************************/

.navigation-global {

  // @include at-medium-breakpoint {
  //   overflow: visible;
  //   padding-top: $outer-gutter;
  //   padding-bottom: $outer-gutter;
  // }

  &.small {
    display: none;
    padding: 0;

    .content {
      position: relative;
      overflow: visible;
    }

    .navigation-global-primary {
      flex-direction: column;
      float: none;
      height: auto;
      li {
        width: 100%;
        a {
          display: flex;
        }
      }
    }

    .navigation-global-secondary {
      justify-content: center;
      float: none;
      height: auto;
      li {
        width: auto;
        a {
          display: flex;
        }
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    .navigation-global-secondary {
      margin: 1% 0 0 0;
    }
  }

  // @include at-medium-breakpoint {
  //   display: none;
  //   &.small {
  //     display: block;
  //   }
  // }

  li {
    position: relative;

    &:last-child {
      a {
        margin: 0;
      }
    }

  }

  a {
    // @include archetype-heading-small;
    // text-decoration: none;
    // margin: 0 20px 0 0;
    // @include at-breakpoint(1200px) {
    //   margin: 0 1.3em 0 0;
    // }
    &:hover {
      text-decoration: underline;
    }
  }

  .logo {
    a {
      display: inline-block;
      margin: 0 50px 0 0;
      width: 200px;
      // @include at-breakpoint(1200px) {
      //   margin: 0 1em 0 0;
      //   width: 140px;
      // }
      // @include at-small-breakpoint {
      //   width: 120px;
      // }
    }
  }

  .global-search {
    position: absolute;
    right: 0;
    width: 18px;
    input {
      transition: width 0.5s ease;
    }
    // a {
    //   @include font-size(18,auto, $tracking-normal);
    // }
  }


  // Small navigation
  .navigation-global-header {
    display: flex;
    align-items: center;
    width: 100%;
    // padding: $outer-gutter 0;
    li {
      &.hamburger {
        float: right;
        padding: 0;
        margin-left: auto;
        a {
          padding: 10px;
        }
      }
    }
  }

  .navigation-global-dropdown {
    // background-color: map_get($color,white-fo);
    padding: 0;
    position: absolute;
    display: none;
    width: 100%;
    z-index: 10;

    .navigation-global-container {
      position: relative;
    }

    .navigation-global-primary {
      li {
        // border-bottom: 1px solid map_get($color,grey-D);
        &:last-child {
          border-bottom: none;
        }
      }
      a {
        // @include content;
        // @include archetype-title;
        display: flex;
        align-items: center;
        padding: 15px 0;
      }
    }

    .navigation-global-secondary {
      margin: 0;
      li  {
        margin: 0 0 10px 0;
      }
    }

    .icon-target {
      margin-left: auto;
      padding: 5px 10px;
    }

    .global-search {
      // @include content;
      position: relative;
      width: auto;
      margin-bottom: 0;
      // a {
      //   @include font-size(18,auto,$tracking-normal);
      // }
      .close-search {
        display: none;
        line-height: normal;
        position: absolute;
        right: 0;
        top: 3px;
        padding: 0;
        margin: 0;
        width: auto;
      }
    }

    input[type='search'] {
      background-color: transparent;
      padding-left: 20px;
      position: relative;
      right: 0;
      top: 0;
    }

    .button-container {
      display: table;
      margin: 0 auto;
      // @include at-small-breakpoint {
      //   width: 100%;
      // }
    }
    .button {
      // @include content;
      margin-bottom: 40px;

      // @include at-small-breakpoint {
      //   width: 93%;
      // }
      .button-label {
        justify-content: center;
      }
      a {
        // @include archetype-heading-uppercase-small;
        margin: 0;
      }
    }
  }


  .hamburger {
    margin-left: 0;
    margin-right: 0;
    a {
      background: url(../images/global/hamburger.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 25px;
    }
  }

  .hamburger-close {
    // background-color: map_get($color,white-fo);
    display: none;
    position: absolute;
    top: 0;
    // right: -$outer-gutter;
    height: 100%;
    padding: 4.2%;
    a {
      display: block;
      background-image: url(../images/global/x-close-nav.png);
      // background-color: map_get($color,white-fo);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
      margin: 0;
      width: 15px;
      height: 15px;
    }
  }

}

// SubNavigation Drawer
.sub-navigation-global-drawer {
  display: none;
  // background-color: map_get($color,white-fo);
  position: absolute;
  top: 95px;
  width: 100%;
  z-index: 10;

  &.small {
    // background-color: map_get($color, grey-D);
    display: block;
    left: 100%;
    top: 0;
    height: 100%;

    .sub-navigation-global-container {
      display: block;
      position: relative;
      height: 100%;
    }

    .sub-navigation {
      width: 100%;
      float: none;
      margin-right: 0;
      padding: 0;
    }

    .sub-navigation-more {
      width: 100%;
      height: auto;
      float: none;
      margin-right: 0;
      padding: 0;

      ul {
        // li {
        //   border-bottom: 1px solid map_get($color,grey-C);
        // }
      }
    }

    .sub-navigation-more-bg {
      width: 100%;
    }

    ul {
      flex-direction: column;
      li {
        // border-bottom: 1px solid map_get($color,grey-D);
        margin-right: 0;
        margin-bottom: 0;
        &:last-child {
          border-bottom: none;
        }
        .title {
          // @include archetype-title;
          line-height: normal;
          padding: 10px 0;
          margin-bottom: 0;
          margin-top: 0;
        }
      }
      a {
        // @include font-sans-serif(23, 62, $tracking-normal, light);
        margin: 0;
        display: block;
      }
    }


    .title {
      // @include content;
      padding-top: 19px;
    }

    .sub-navigation-header {
      // @include content;
      .block-link {
        // @include archetype-heading-uppercase-small;
        margin: 0;
        padding: 16px 0;
        &:first-child {
          float: left;
        }
        &:last-child {
          float: right;
        }
      }
    }

    .block-link {
      padding: 16px 0 0;
    }

    .title-line,
    .description,
    .block-link-container {
      display: none;
    }
  }

  .content {
    overflow: visible;
  }
}

.sub-navigation-global-container {
  display: flex;
  justify-content: stretch;
}

.sub-navigation-primary-container {
  // background: map_get($color,white-fo);
}
.sub-navigation {
  // @include span(8);
  padding: 80px 0;

  ul {
    display: flex;
    justify-content: space-between;
    li {
      // margin-right: gutter();
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .title {
    &:hover {
      text-decoration: underline;
    }
  }

  a {
    text-decoration: none;
  }

  .title {
    // @include archetype-title;
    margin: 0 0 10px 0;
    .description {
      display: none;
      margin: 0 0 0 50px;
      // @include at-medium-breakpoint {
      //   display: inline-block;
      // }
      // @include at-small-breakpoint {
      //   display: none;
      // }
    }
  }

  .description {
    margin: 0 0 15px 0;
  }
}

.sub-navigation-more {
  // @include span(4);
  margin-right: 0;
  padding: 3% 0 3% 3%;
  position: relative;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .title {
    // @include archetype-heading-uppercase-small;
    margin: 0 0 15px 0;
    .description {
      // @include font-size(12,auto);
      display: none;
      margin: 0 0 0 50px;
      // @include at-medium-breakpoint {
      //   display: inline-block;
      // }
      // @include at-small-breakpoint {
      //   display: none;
      // }
    }
  }

  li {
    margin: 0 0 15px 0;
    &:last-child {
      margin: 0;
    }
    .title {
      // @include archetype-heading-small;
      margin: 0;
    }
  }

  .description {
    // @include font-size(13,20,30);
  }
}

.sub-navigation-more-bg {
  // background-color: map_get($color,grey-D);
  width: 41vw;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  // @include at-medium-breakpoint {
  //   height: auto;
  // }
}
