// Specific overrides for stories section search. overflow: hidden rules
// conflict heavily with contextual search results

.topic-nav--stories-overview .topic-nav {
  // Specifically override the overflow to allow section search results to not be cut off.
  .topic-nav__drawers.is-open {
    overflow: initial !important;
  }

  .topic-nav__search {
    &.is-active .content-container {
    // Avoids a bad margin spacing error.
      padding-top: 0.1px;
      overflow: initial;
    }
  }
}
