/*
Topic Navigation

Used to navigate through different topics or categories of a section.

Markup: topic-nav.hbs

Style Guide: navigation.topic-nav
*/

.topic-nav {
  a {
    text-decoration: none;
    transition: color .25s;
  }

  .topic-nav__tabs {
    @extend %inline-list;
    @extend .text--large-copy;
    margin-bottom: 1em;
    text-align: center;

    li {
      margin: 0 1em;
    }

    a {
      position: relative;
      color: $text-light-body;

      &:after {
        content: "";
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        top: 45px;
        left: 50%;
        margin-left: -20px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid $bg-light-gray-2;
        pointer-events: none;
        transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1);
      }

      &:hover {
        color: $text-dark-body;
      }

      &.is-active {
        color: $text-dark-body;

        &:after {
          opacity: 1;
        }
      }
    }

    @include breakpoint($mobile-only) {
      li {
        margin: 0 .5em;
      }

      a:after {
        display: none;
      }
    }
  }

  .topic-nav__drawers {
    @extend .reveal__content;
    background: $bg-light-gray-2;
  }

  .topic-nav__drawer {
    @extend .tabs__tab-content;

    .content-container {
      overflow: hidden;
    }
  }

  .topic-nav__topic-list {
    @extend %plain-list;
    // @TODO provide support for IE <10 - https://github.com/BetleyWhitehorne/CSS3MultiColumn
    -webkit-column-count: 3;
    -moz-column-count:    3;
    column-count:         3;
    -webkit-column-gap:   4em;
    -moz-column-gap:      4em;
    column-gap:           4em;
    -webkit-column-rule:  1px solid $accent-dividers;
    -moz-column-rule:     1px solid $accent-dividers;
    column-rule:          1px solid $accent-dividers;
    padding: 4em;

    @include breakpoint($tablet-max) {
      -webkit-column-count: 2;
      -moz-column-count:    2;
      column-count:         2;
      padding: 3em 0;
    }

    li {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }

    a {
      color: $text-medium-body;
      font-family: $text--benton-light;
      font-size: 1.14em;

      &:hover {
        color: $text-dark-body;
      }
    }
  }

  .topic-nav__toggle-wrapper {
    height: 0;
    z-index: 5;
    position: relative;
    text-align: center;

    .topic-nav__toggle {
      display: inline-block;
      position: relative;
      top: -20px;
      width: 40px;
      height: 40px;
      background-color: $white;
      background-image: url('../images/shame/icons/drop-down-arrow-gray.png');
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $accent-dividers;
      border-radius: 50%;
      line-height: 40px;
      transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);

      &.is-open {
        transform: rotate(180deg);
      }
    }
  }
}
