/* 
Standard Unordered List

A standard unordered list with bullets.

Weight: 1

Markup: list.hbs

Style guide: lists.standard
*/

ul {
  list-style-image: url(../images/icons/bullet.png);
  padding-left: 1em;
}
