/*
Basic Teaser List

A basic list of teasers, used for things like a list of blog posts.

Weight: 20

Markup: teaser-list.hbs

Style guide: lists.teaser
*/
.teaser-list {
  @extend %clearfix;

  & > a {
    display: block;
    color: $text-dark-body;
    @include transition(color .25s);

    &:hover {
      color: $text-link;
      text-decoration: none;
    }

    &:hover img {
      opacity: 0.85;
    }
  }

  .teaser-list__title {
    margin: 0.5em 0;
  }

  @include breakpoint($mobile-only) {
    .teaser-list__item {
      margin-bottom: 2em;
    }
  }
}


/*
Full-width Teaser List

A full-width list of teasers, used for things like a list of blog posts.

Weight: 5

Markup:
<div class="teaser-list teaser-list--full-width">
  <div class="teaser-list__thumbnail grid-3">
    <a href="#">
      <img src="http://placecage.com/223/223">
    </a>
  </div>
  <div class="teaser-list__info grid-9 grid-last">
    <h2 class="teaser-list__title">
      <a href="#">Blog Post or something</a>
    </h2>
    <div class="teaser-list__secondary-label">
      <span>Friday, April 10, 2015</span> - <span>Make Me Smarter</span>
    </div>
    <p class="teaser-list__description">
      Semper. Recusandae, vestibulum! Viverra cupidatat nostrud similique class mollis. Eius eget, nam! Pharetra? Litora condimentum expedita amet numquam, adipiscing pulvinar at interdum fringilla purus possimus fames.
    </p>
    <div class="class="teaser-list__read-more">
      <a href="/blog/another-post">Read More</a>
    </div>
  </div>
</div>

################################################################################
# Style guide: lists.full-width ################################################
################################################################################
*/

.teaser-list.teaser-list--full-width {
  padding: 2em 0;
  border-bottom: 1px solid $light-gray;

  .teaser-list__title {
    margin: 0 0 0.5em;
  }
}
