/*
Image

An image with an optional caption.

Markup: image.hbs

.image--left - Left aligned image
.image--center - Centered imaged
.image--right - Right aligned imaged

Style guide: images.image
*/
.image {
  display: table;
  clear:both;

  &.image--left {
    float: left;
  }

  &.image--center {
    margin-left: auto;
    margin-right: auto;
  }

  &.image--right {
    float: right;
  }

  .caption--image {
    display: table-caption;
    caption-side: bottom;
  }
}
