/*
Full Bleed Slideshow

A slideshow that spans full bleed across the page

Markup: fullbleed-slideshow.hbs

Style guide: interactive.fullbleed-slideshow
*/

.fullbleed-slideshow {
  position: relative;
  margin: 0 auto;
  max-width: $content-max;

  .large-teaser {
    margin-left: 50px;
    margin-right: 50px;
  }


  // Arrow Controls
  .fullbleed-slideshow__arrow {
    position: absolute;
    display: block;
    height: 26px;
    width: 26px;
    top: 42%;
    z-index: 5;
    margin-top: -13px;
    padding: 0;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    border: none;
    outline: none;

    .icon:before {
      vertical-align: middle;
      color: $text-dark-body;
      font-size: $base-font-size * 1.5;
    }

    &.fullbleed-slideshow__arrow--prev {
      left: 187px;
    }

    &.fullbleed-slideshow__arrow--next {
      right: 187px;
    }
  }

  // Cancel out some default slick styles
  // @todo remove this once we're not loading slick-theme.css
  .fullbleed-slideshow__arrow:before {
    display: none;
  }

  .large-teaser__copy {
    opacity: 0;
    transition: opacity 650ms;
  }

  .slick-active .large-teaser__copy {
    opacity: 1;
  }

  @include breakpoint($desktop-only) {
    &:before,
    &:after {
      display: none;
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 180px;
      height: 100%;
      background-image: linear-gradient(to right, $white, transparent);

      @include breakpoint($content-max) {
        display: block;
      }
    }

    &:after {
      background-image: linear-gradient(to left, $white, transparent);
      left: auto;
      right: 0;
    }
  }

  @include breakpoint($tablet-only) {

    .large-teaser {
      margin-left: 1.5em;
      margin-right: 1.5em;
    }

    .fullbleed-slideshow__arrow.fullbleed-slideshow__arrow--prev {
      left: 37px;
    }

    .fullbleed-slideshow__arrow.fullbleed-slideshow__arrow--next {
      right: 37px;
    }
  }

  @include breakpoint($mobile-max) {

    .large-teaser {
      margin-left: .5em;
      margin-right: .5em;
    }
  }
}
