/*
Text Statistic

This format is used to display a large, prominent, usually numerical statistic
with an optional suffix. Other text format classes can be allpied to this
component, for instance to change the text color.

Markup: text-stat.hbs

Weight: 60

Style guide: typography.text-stat
*/

.text-stat {
  margin: 0;
  line-height: 1;
  font-size: 7em;
  font-family: $text--benton-thin;

  .text-stat__suffix {
    font-size: 0.5em;
  }
}
