/*
Slideshow

@todo description

Markup: slideshow.hbs

Style guide: interactive.slideshow
*/

.slideshow {
  margin: 0 auto;

  &.slideshow--hero {
    .slideshow__slide {
      position: relative;
    }
  }


  // Slick dots
  .slick-dots {
    height: 20px;
    bottom: 0;

    li {
      margin: 0;

      &.slick-active button:before {
        opacity: .75;
        color: $button-orange;
      }

      button:before {
        color: $white;
        font-size: 9px;
        opacity: 1;
        width: 30px;
        height: 30px;
        transition: color .25s;
      }
    }
  }


  // Arrow Controls
  .slideshow__arrow {
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 1;
    margin-top: -12px;
    line-height: 18px;
    text-decoration: none;
    overflow: visible;
    color: $white;
    @extend .text--label;

    .slideshow__arrow__title {
      display: none;
      position: absolute;
      top: -10px;
      right: -15px;
      width: auto;
      padding: 15px 15px 15px 40px;
      overflow: hidden;
      white-space: nowrap;
    }

    // @todo handle these as actual icons
    .icon-slideshow-arrow-left,
    .icon-slideshow-arrow-right {
      position: relative;
      display: block;
      margin: 0;
      z-index: 1;
      width: 13px;
      height: 25px;
      background: url('../images/icons/slideshow-prev-light.png') 0 0 no-repeat;
      transition: all 1s ease;
    }

    .icon-slideshow-arrow-right {
      background: url('../images/icons/slideshow-next-light.png') 0 0 no-repeat;
    }

    &.inverted:hover .icon-slideshow-arrow-left {
      background: url('../images/icons/slideshow-prev-dark.png') 0 0 no-repeat;
    }

    &.slideshow__arrow--left .slideshow__arrow__title {
      left: -15px;
      right: auto;
    }

    &.slideshow__arrow--right {
      right: 5%;
      left: auto;

      &.inverted:hover .icon-slideshow-arrow-right {
        background: url('../images/icons/slideshow-next-dark.png') 0 0 no-repeat;
      }

      &:hover .slideshow__arrow__title {
        padding: 15px 40px 15px 15px;
      }

    }

  }
}


/*******************************************************************************
HUGE STYLES
*******************************************************************************/

/* HERO CAROUSEL */

#hero-slide-show {

  // @include at-small-breakpoint {
  //   // background-color: map_get($color,white);
  // }

  .hero-slide-show-container {
    // max-width: $breakpoint-extra-large;
    margin: 0 auto;
  }



  .hero-slide-image {
    height: 0;
    padding-bottom: 33%;
    .fade {
      background-image: url(../images/global/img-fade-left.png), url(../images/global/img-fade-right.png);
      background-position: left top, right top;
      background-repeat: no-repeat, no-repeat;
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      // @include at-extra-large-breakpoint {
      //   display: block;
      // }
    }
    img {
      position: absolute;
    }
  }

  img {
    margin: 0;
  }

  .carousel-arrow {
    // @include archetype-heading-small;
    // @include clearfix;
    // @include font-size(11,auto);
    position: absolute;
    z-index: 1;
    // color: map_get($color,white);
    margin: 0 0 5px 0;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: visible;

    &:hover {
      .title {
        width: auto;
        padding: 15px 40px 15px 15px;
        opacity: 1;
      }
    }

    &.inverted {
      &:hover {
        .icon-hero-carousel-arrow-right {
          background: url('../images/global/hero-carousel-arrow-right-inverted.png') 0 0 no-repeat;
        }
      }
    }


    &.left {
      &.inverted {
        &:hover {
          .icon-hero-carousel-arrow-left {
            background: url('../images/global/hero-carousel-arrow-left-inverted.png') 0 0 no-repeat;
          }
        }
      }

      &:hover {
        .title {
          padding: 15px 15px 15px 40px;
        }
      }

      .title {
        left: -15px;
        right: auto;
      }
    }

    span {
      display: block;
    }

    .square {
      // background-color: map_get($color,grey-A1);
      position: relative;
      width: 2px;
      height: 30px;
      margin: 0 20px;
      float: right;
    }

    .title {
      top: -10px;
      right: -15px;
      width: 0px;
      height: 45px;
      padding: 15px 0px;
      position: absolute;
      opacity: 0;
      overflow: hidden;
      transition: all 1s ease;
    }

    .text {
      position: relative;
      white-space: nowrap;
    }

    .inverted {
      // color: map_get($color, black);
    }

  }

}
