<div class="slideshow slideshow--hero  {{ slideshow_id }}">
  {{#each slides }}
    <div class="slideshow__slide" data-title="{{hover_title}}" data-title-class="{{hover_class}}">
      {{> hero }}
      
      <a href="#" class="slideshow__arrow slideshow__arrow--left">
        <span class="slideshow__arrow__title"></span>
        <span class="icon-slideshow-arrow-left"></span>
      </a>

      <a href="#" class="slideshow__arrow slideshow__arrow--right">
        <span class="icon-slideshow-arrow-right"></span>
        <span class="slideshow__arrow__title"></span>
      </a>

    </div>
  {{/each}}
</div>
