<div class="slideshow slideshow--hero  {{ slideshow_id }}">
  {{#each this }}
    <div class="slideshow__slide" data-title="{{hover_title}}" data-title-class="{{hover_class}}">
      {{# img }}
        <div class="slideshow__image">
          <img src="{{ src }}"/>
        </div>
      {{/ img }}

      {{# text }}
        <div class="slideshow__copy content-container">
          <div class="slideshow__copy__inner">
            {{# sub_title }}
              {{> heading }}
            {{/ sub_title }}
            
            {{# headline }}
              {{> heading }}
            {{/ headline }}
            
            {{# cta }}
              {{> cta }}
            {{/ cta }}
          </div>
        </div>
      {{/ text }}
    </div>
    
  {{/each}}
</div>
