/*
Special Hero

Heroes on need to accomplish two main tasks. First, they need to convey a
specific story as simply and beautifully as they can in order to drive traffic.
Secondly, they need to set the tone for the page they are setting up.

Very simple type and imagery treatments can create different feels for pages
that need to stand on their own.

Markup: special-hero.hbs

Weight: 30

Style guide: compound.special-hero
*/

.special-hero {
  @extend .bg--dark-gray-3;
  position: relative;
  width: 100%;
  overflow: hidden;

  .special-hero__background,
  .special-hero__video {
    position: relative;
    max-width: $layout-max;
    margin: 0 auto;
    line-height: 0;
  }

  .special-hero__background .special-hero__background-inner {
    height: 0;
    padding-bottom: 33%;
    background-size: cover;
  }

  .special-hero__video video {
    width: 100%;
  }

  // If a  video is present, hide the background image.
  .special-hero__video + .special-hero__background {
    display: none;
  }

  @include breakpoint($tablet-min) {
    .special-hero__content {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      // @todo add fallback for older browsers
      display: flex;
      align-items: center;

      .special-hero__content__inner {
        width: 100%;
      }

      h1 {
        margin: 0;
      }

      h4 + .special-hero__content__headline {
        margin-top: .5em;
      }

      .special-hero__content__cta {
        margin-top: 1em;
      }
    }
  }

  @include breakpoint($desktop-only) {
    // Gradients to transition hero image to dark background on wider screens
    .special-hero__background:before,
    .special-hero__background:after,
    .special-hero__video:before,
    .special-hero__video:after {
      display: none;
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 200px;
      height: 100%;
      background-image: linear-gradient(to right, $bg-dark-gray-3, transparent);

      @include breakpoint($layout-max) {
        display: block;
      }
    }

    .special-hero__background:after,
    .special-hero__video:after {
      background-image: linear-gradient(to left, $bg-dark-gray-3, transparent);
      left: auto;
      right: 0;
    }
  }

  @include breakpoint($tablet-max) {
    .special-hero__video {
      display: none;
    }

    .special-hero__video + .special-hero__background {
      display: block;
    }

    .special-hero__background .special-hero__background-inner {
      padding-bottom: 50%;
    }

    .special-hero__content h1.heading--homepage br {
      display: none;
    }
  }

  @include breakpoint($mobile-only) {
    background: $bg-white;
    color: $text-dark-body;

    h1, h4.heading--label {
      color: $text-dark-body;
    }

    .special-hero__content {
      padding: 2em 0;

      h1.heading--homepage {
        margin-top: .2em;

        br {
          display: none;
        }
      }

      .cta {
        display: block;
        text-align: center;

        &.cta--light {
          background-color: $text-dark-body;
          color: $text-negative;

          &.cta--secondary {
            background-color: transparent;
            border-color: $text-dark-body;
            color: $text-dark-body;
          }
        }
      }
    }
  }
}
