/*
Vertical Spacer

Used to create vertical spacing between sections of content without just a stack
of <code>&lt;br&gt;</code> tags. Vertical spacers are made with horizontal rules
(<code>&lt;hr&gt;</code>). These examples put a spacer between two divs to
dempnstrate the amount of space that will be added with each modifier.

Markup: spacer.hbs

.spacer--one - Spacer with 1em of space.
.spacer--two - <strong>[Default]</strong> Spacer with 2em of space.
.spacer--three - Spacer with 3em of space.
.spacer--four - Spacer with 4em of space.
.spacer--five - Spacer with 5em of space.
.spacer--six - Spacer with 6em of space.

Style guide: layout.spacer
*/

$heights: (
  one: 1em,
  two: 2em,
  three: 3em,
  four: 4em,
  five: 5em,
  six: 6em
);

.spacer {
  clear: both;
  padding: 0;
  border: 0;

  @each $height, $value in $heights {
    &.spacer--#{$height} {
      margin: ($value/2) 0 ($value/2) 0;
    }
  }
}
