/*
Body Copy

Default copy formatting for body copy and other areas with longer chunks of
copy.

Markup: body-copy.hbs

Nodefault: true

Weight: 10

.text--body-base - Default base body copy (16px/30)
.text--body-small - Small body copy (14px/26)
.text--body-medium - Medium body copy (20px/35)
.text--body-large - Large body copy (30px/46)

Style guide: typography.body-copy
 */

$base-font-size: 16px;

body,
.text--body-base,
.kss-example-preview-wrapper {
  font-family: $text--merriweather-light;
  font-weight: normal;
  font-style: normal;
  font-size: $base-font-size;
  color: $text-dark-body;
  line-height: 1.88;
  -webkit-font-smoothing: antialiased;
}

.text--body-small {
  font-size: em(14px);
  line-height: 1.86;
}

.text--body-medium {
  font-size: em(20px);
  line-height: 1.75;
}

.text--body-large {
  font-size: em(30px);
  line-height: 1.53;
}
