/*
Content Flyout

Simple tool to make content hidden and flyout when a trigger is clicked.

**Trigger Options:**
* `data-flyout-target="[CONTENT ID]"` - (required) - The ID of the container around the flyout content
* `data-flyout-scroll-down="true"` - (optional) - Whether or not clicking this trigger should scroll down to the top of the flyout content container. Useful when the trigger referencing a flyout section lower down on the page

Markup: flyout.hbs

Style guide: interactive.flyout
*/

.flyout__slideout {
  width: 100%;
  overflow: inherit;
}
.flyout__content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
}

.flyout__close-wrapper {

  .flyout__close-link {
    position: relative;
    z-index: 5;
    float: right;


    &:hover {
    }
  }
}
