/*
Content Section

Used to wrap a section of content and apply vertical padding between wrappers 
and content.

Markup: section-kss.hbs

Weight: 40

.section--padded-one - Section with 1em of vertical padding
.section--padded-two - Section with 2em of vertical padding (1em on mobile)
.section--padded-three - Section with 3em of vertical padding (1em on mobile)
.section--padded-four - Section with 4em of vertical padding (2em on mobile)
.section--padded-six - Section with 6em of vertical padding (3em on mobile)
.section--padding-top-none - Cancels out all top padding
.section--padding-bottom-none - Cancels all bottom padding

Style guide layout.section
*/


$section-padding: (
  one: 1em,
  two: 2em,
  three: 3em,
  four: 4em,
  six: 6em
);

.section {
  position: relative;
  padding-top: 4em;
  padding-bottom: 4em;
  
  @each $size, $value in $section-padding {
    &.section--padded-#{$size} {
      padding-top: $value;
      padding-bottom: $value;
    }
  }

  &.section--background-image {
    background-size: cover;
    background-position: center;
  }

  @include breakpoint($mobile-only) {
    padding-top: 2em;
    padding-bottom: 2em;
    
    $section-padding: (
      one: 1em,
      two: 1em,
      four: 2em,
      six: 3em
    );  
    
    @each $size, $value in $section-padding {
      &.section--padded-#{$size} {
        padding-top: $value;
        padding-bottom: $value;
      }
    }
  }

  &.section--padding-top-none {
    padding-top: 0;
  }

  &.section--padding-bottom-none {
    padding-bottom: 0;
  }
}

