/*
Badges

The branding system makes use of a location-specific badge, including the dates and associated conference hashtag. As the conference travels, the badge can be updated to reflect the new locations, adding a custom element to the branding system. An outlined badge uses the <code>badge-outlined</code> class.

Markup: badge.hbs

Weight: 4

.badge--white - White BG colored badge.
.badge--light-gray-1 - Light Gray 1 colored badge.
.badge--light-gray-2 - Light Gray 2 colored badge.
.badge--dark-gray-1 - Dk Gray 1 colored badge.
.badge--dark-gray-2 - Dk Gray 2 colored badge.
.badge--dark-gray-3 - Dk Gray 3 colored badge.
.badge--about-featured - About/Feat colored badge.
.badge--data-sources - Data Sources colored badge.

Styleguide boxes.badge
 */

.badge {
  width: 200px;
  height: 200px;
  display: inline-block;
  padding: 20px;
  background: $bg-about-featured;
  border: 3px solid $bg-about-featured;
  color: $white;
  border-radius: 50%;
  text-align: center;
  font-size: 0.7em;


  &.badge--outlined {
    background: none;
  }

  @each $name, $colors in $background-colors {
    &.badge--#{"" + $name} {
      background: nth($colors, 1);
      border-color: nth($colors, 1);
      color: nth($colors, 2);

      &.badge--outlined {
        background: none;
        color: nth($colors, 1);
      }
    }
  }
}
