<div class="badge {{modifier_class}}">
  <div class="badge__content">
    <h2>
      Example<br> 
      Badge
    </h2>
    <h1>Number</h1>
    <h5>Some details and stuff</h5>
    <h6>Something Else</h6>
  </div>
</div>

&nbsp;&nbsp;&nbsp;&nbsp;

<div class="badge badge--outlined {{modifier_class}}">
  <div class="badge__content">
    <h2>
      Example<br> 
      Badge
    </h2>
    <h1>Number</h1>
    <h5>Some details and stuff</h5>
    <h6>Something Else</h6>
  </div>
</div>
