/*
Thumbnail Image

A small image that shows a preview of the content that it is linking to.

Markup: thumbnail.hbs

.thumbnail--play - A play button superimposed over the middle of the thumbnail

Style guide: images.thumbnail
*/

.thumbnail {
  position: relative;
  display: inline-block;
  overflow: hidden;
  line-height: 0;
  
  img {
    max-width: 100%;
    @include transition(all 750ms ease);
  }

  img:hover {
    @include transform(scale(1.04));
  }

  &.thumbnail--play:after {
    content: url(../images/icons/icon-play-xlarge.png);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -36px 0 0 -36px;
    pointer-events: none;
  }
}
