/*
Search Highlight

Searches through a list of items and highlights items that match the term.

Markup: search-highlight.hbs

Bgcolor: #F7F9FB;

Style Guide: interactive.search-highlight
*/

.search-highlight__search {
  position: relative;
  max-width: 300px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.7);

  input[type=search] {
    width: 100%;
    padding: 1em 3em 1em 1em;
    border: 0;
    background: none;

    &:focus {
      outline: 0;
    }
  }

  button {
    position: absolute;
    right: 1em;
    top: 0.8em;
    border: 0;
    background: none;
    font-size: 1em;

    &:focus {
      outline: 0;
    }
  }
}
