<div class="box--desktop">
  <input type="search" class="search-highlight" data-content="{{ contentId }}" data-highlight-class="{{ highlightClass }}"/>

  <div id="{{ contentId }}">
    {{#with list}}
      {{> list }}
    {{/with}}
  </div>
</div>
