/*
Agenda List

An agenda list with a time and a description per item.

Markup: agenda-list.hbs

Style guide: lists.agenda
*/

.agenda-list {
  @extend %plain-list;
  display: table;
}

.agenda-list__item {
  display: table-row;

  .agenda__time {
    @extend .text--label;
    display: table-cell;
    min-width: 10em;
  }

  .agenda__description {
    position: relative;
    display: table-cell;
    padding-left: 2.5em;
    // Padding to simulate margin, since we are in a table display.
    // This is on the description element because it can potentially be longer,
    // and should define the spacing.
    padding-bottom: 1em;

    // Simulated mid-dash divider.
    &:before {
      position: absolute;
      display: block;
      content: '';
      border-top: 1px solid $accent-dividers;
      width: 1em;
      top: 0.85em;
      left: 0.5em;
    }
  }
}
