/*
Teaser Slideshow

A slideshow of teaser items. The slideshow shows three items per slide on
desktop, to on tablet, and one on mobile.

Markup: teaser-slideshow.hbs

Style guide: interactive.teaser-slideshow
*/

.teaser-slideshow {
  position: relative;
  
  .teaser-item {
    margin-left: 1em;
    margin-right: 1em;
  }

  @include breakpoint($tablet-only) {
    .teaser-item {
      margin-left: .5em;
      margin-right: .5em;
    }
  }

  @include breakpoint($mobile-max) {
    margin-left: -1em;
    margin-right: -1em;
    padding-left: 0;
    padding-right: 0;
  }
}
