/*
Section Search

Section-level search form used within a specific section to search only content
of that section. Displays autocomplete list and submits to global search results
page filtered down to the corresponding section.

@TODO add dropdonw autocomplete handling/styles as well as the clear "X" in
place of magnifying glass icon when text is in the field.

Markup: section-search.hbs

Weight: 10

Style guide: forms.section-search
*/

.section-search {
  width: 60%;
  position: relative;
  margin: 2em auto;
  background: $bg-light-gray-1;
  box-shadow: 2px 2px 3px $accent-dividers inset;
  border-radius: 50px;

  input[type="search"] {
    width: 100%;
    margin: 0;
    padding: 0.9em 64px 0.9em 1.3em;
    background: none;
    outline: 0;
    border: 0;
    font-size: 1.5em;
    color: $text-medium-body;
    font-family: $text--merriweather-light;

    &::-webkit-input-placeholder {
      color: $text-light-body;
    }
  }

  input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    border: 0;
    outline: 0;
    overflow: hidden;
    font-size: 0em;
    text-indent: -99em;
    background: none;
    background-image: url("../images/icons/icon-magnifying-glass.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  @include breakpoint($mobile-only) {
    width: 100%;
  }
}
