/*
Content Container

A wrapper element around content to keep it in a centered column on the page.

Markup: content_container.hbs

Weight: 30

.content-container--narrow - A narrow content container
.content-container--wide - An extra wide content container
.content-container--text-column - A narrower content container for text columns

Style guide: layout.container
*/

.content-container {
  @extend %clearfix;
  box-sizing: border-box;
  max-width: $content-max;
  margin-left: auto;
  margin-right: auto;
  padding-left: 11%;
  padding-right: 11%;

  h2:first-child {
    margin-top: 0;
    margin-bottom: .75em;
  }

  &.content-container--narrow {
    padding-left: 16%;
    padding-right: 16%;
  }

  &.content-container--wide {
    padding-left: 3%;
    padding-right: 3%;
  }

  &.content-container--text-column {
    padding-left: 22%;
    padding-right: 22%;
  }
}

// Responsive handling to set all content contaners to the same width on tablet
// and mobile
.content-container,
.content-container--wide,
.content-container--narrow,
.content-container--text-column {
  @include breakpoint($tablet-max) {
    padding-left: 2em;
    padding-right: 2em;
  }

  @include breakpoint($mobile-only) {
    padding-left: 1em;
    padding-right: 1em;
  }
}
