/*
CTA

CTA buttons should be used when a single or important page action is required.

Markup: cta.hbs

Weight: 20

Bgcolor: #F7F9FB

.cta--orange - Orange colored CTA button.
.cta--light - Light colored CTA button.
.cta--dark - Dark colored CTA button.

Style guide: buttons-links.cta
*/
.cta {
  display: inline-block;
  margin: .5em 0;
  padding: 17px 25px;
  background-color: $button-orange;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  letter-spacing: 1px;
  line-height: 1;
  font-family: $text-open-sans;
  font-size: 11px;
  color: $text-white;
  text-transform: uppercase;
  -webkit-appearance: none;
  -webkit-font-smoothing: auto;
  transition: background-color 0.25s, color 0.35s;

  &:nth-child(n+2) {
    margin-left: 1em;
  }

  &:hover,
  &:focus {
    background-color: $button-orange-hover;
    text-decoration: underline;
  }

  &:active {
    background-color: $button-final;
    text-decoration: underline;
  }

  @each $name, $colors in $button-colors {
    &.cta--#{"" + $name} {
      background-color: nth($colors, 1);

      &:hover,
      &:focus {
        background-color: nth($colors, 2);
      }

      &:active {
        background-color: $button-final;
        text-decoration: underline;
      }
    }
  }

  &.cta--light {
    color: $text-dark-body;
  }
}

// Mobile-only tweaks
@include breakpoint($mobile-only) {
  .cta {
    display: block;
    text-align: center;

    &:nth-child(n+2) {
      margin-left: 0;
    }
  }

  button.cta {
    width: 100%;
  }
}
