/*
Content Reveal

Simple tool to make content hidden and revealed when a trigger is clicked. It 
doesn't matter where on the page the trigger and target content are, but the
trigger element must target the content via a <code>data-reveal-target="target-id"</code>
attribute. The <code>.reveal--content</code> container must have am <code>id</code>
attribute that matches the <code>data-reveal-target</code>.

Markup: reveal.hbs

Styleguide interactive.reveal
*/
.reveal--content {
  position: relative;
  display: none;
}
.reveal--close {
  position: absolute;
  z-index: 5;
  right: 10px;
  top: 10px;
  line-height: 0;
  font-size: em(24px);
}
