/* line 2, ../sass/_layout.scss */
#kss-nav {
  width: 20%;
  background-color: #eee;
  box-shadow: inset -15px 0px 15px -15px rgba(45, 45, 45, 0.25);
}
/* line 6, ../sass/_layout.scss */
#kss-nav nav > ul {
  padding: 0;
  margin: 2em;
  margin-top: 2.5em;
  list-style-type: none;
}

/* line 16, ../sass/_layout.scss */
#kss-header h1 {
  font-size: 1.5em;
  margin-top: 5/3em;
  margin-left: 4/3em;
}

/* line 22, ../sass/_layout.scss */
#kss-main, #kss-nav {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 28, ../sass/_layout.scss */
#kss-main {
  padding-left: 2.5%;
  width: 77.5%;
  max-width: 48em;
  left: 20%;
}

/* line 35, ../sass/_layout.scss */
.kss-mod-list {
  width: 100%;
}

/* line 39, ../sass/_layout.scss */
.kss-mod-name {
  text-align: right;
  width: 20%;
  font-size: 0.75em;
}

/* line 45, ../sass/_layout.scss */
.kss-mod-example {
  padding-bottom: 20px;
  display: block;
}
/* line 49, ../sass/_layout.scss */
.kss-mod-example > td {
  display: block;
}

/* line 52, ../sass/_layout.scss */
.kss-markup {
  margin-bottom: 40px;
}

/* line 56, ../sass/_layout.scss */
.kss-depth-1 > h1 {
  font-size: 2.375em;
}

/* line 57, ../sass/_layout.scss */
.kss-depth-2 > h1 {
  font-size: 2.25em;
}

/* line 58, ../sass/_layout.scss */
.kss-depth-3 > h1 {
  font-size: 2.125em;
}

/* line 59, ../sass/_layout.scss */
.kss-depth-4 > h1 {
  font-size: 2em;
}

/* line 60, ../sass/_layout.scss */
.kss-depth-5 > h1 {
  font-size: 1.875em;
}

/* line 61, ../sass/_layout.scss */
.kss-depth-6 > h1 {
  font-size: 1.75em;
}

/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* line 69, ../sass/_layout.scss */
.pln {
  color: #000;
}

/* plain text */
@media screen {
  /* line 72, ../sass/_layout.scss */
  .str {
    color: #080;
  }

  /* string content */
  /* line 73, ../sass/_layout.scss */
  .kwd {
    color: #008;
  }

  /* a keyword */
  /* line 74, ../sass/_layout.scss */
  .com {
    color: #800;
  }

  /* a comment */
  /* line 75, ../sass/_layout.scss */
  .typ {
    color: #606;
  }

  /* a type name */
  /* line 76, ../sass/_layout.scss */
  .lit {
    color: #066;
  }

  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* line 78, ../sass/_layout.scss */
  .pun, .opn, .clo {
    color: #660;
  }

  /* line 79, ../sass/_layout.scss */
  .tag {
    color: #008;
  }

  /* a markup tag name */
  /* line 80, ../sass/_layout.scss */
  .atn {
    color: #606;
  }

  /* a markup attribute name */
  /* line 81, ../sass/_layout.scss */
  .atv {
    color: #080;
  }

  /* a markup attribute value */
  /* line 82, ../sass/_layout.scss */
  .dec, .var {
    color: #606;
  }

  /* a declaration; a variable name */
  /* line 83, ../sass/_layout.scss */
  .fun {
    color: red;
  }

  /* a function name */
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  /* line 88, ../sass/_layout.scss */
  .str {
    color: #060;
  }

  /* line 89, ../sass/_layout.scss */
  .kwd {
    color: #006;
    font-weight: bold;
  }

  /* line 90, ../sass/_layout.scss */
  .com {
    color: #600;
    font-style: italic;
  }

  /* line 91, ../sass/_layout.scss */
  .typ {
    color: #404;
    font-weight: bold;
  }

  /* line 92, ../sass/_layout.scss */
  .lit {
    color: #044;
  }

  /* line 93, ../sass/_layout.scss */
  .pun, .opn, .clo {
    color: #440;
  }

  /* line 94, ../sass/_layout.scss */
  .tag {
    color: #006;
    font-weight: bold;
  }

  /* line 95, ../sass/_layout.scss */
  .atn {
    color: #404;
  }

  /* line 96, ../sass/_layout.scss */
  .atv {
    color: #060;
  }
}
/* Put a border around prettyprinted code snippets. */
/*pre.prettyprint { padding: 2px; border: 1px solid #888 }*/
/* Specify class=linenums on a pre to get line numbering */
/* line 103, ../sass/_layout.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
/* line 104, ../sass/_layout.scss */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}

/* Alternate shading for lines */
/* line 113, ../sass/_layout.scss */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}

@media screen and (max-width: 768px) {
  /* line 123, ../sass/_layout.scss */
  #kss-main {
    position: static;
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
  }

  /* line 130, ../sass/_layout.scss */
  #kss-nav {
    position: static;
    display: block;
    width: auto;
    margin: 0;
    background: 0;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
  }
  /* line 138, ../sass/_layout.scss */
  #kss-nav nav > ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  /* line 142, ../sass/_layout.scss */
  #kss-nav nav > ul > li {
    display: inline-block;
    padding-right: 1.5em;
  }

  /* line 149, ../sass/_layout.scss */
  #kss-header > hgroup > h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  /* line 156, ../sass/_layout.scss */
  #kss-github {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
