/*
Padded box

Adds padding to a container element. You will usually want to use a padded
box on a container with a background color.

Markup: padded-box.hbs

Nocode: true

Weight: 1

.padded-box--one - A box with 1em of padding
.padded-box--two - A box with 2em of padding (Default)
.padded-box--three - A box with 3em of padding
.padded-box--four - A box with 4em of padding

Style guide: layout.padded
*/
.padded-box {
  padding: 2em;

  &.padded-box--one {
    padding: 1em;
  }

  &.padded-box--three {
    padding: 3em;
  }

  &.padded-box--four {
    padding: 4em;
  }
}
