// Base font size:
$base-font-size: 14px;

// Font Families
$text--benton-thin: 'Benton Sans Thin', Helvetica, sans-serif;
$text--benton-light: 'Benton Sans Light', Helvetica, sans-serif;
$text--benton-book: 'Benton Sans Book', Helvetica, sans-serif;
$text--benton-medium: 'Benton Sans Medium', Helvetica, sans-serif;
$text--merriweather-light: 'Merriweather', serif;
