/**
 * SASS vars
 */

// Breakpoints
$mobile-max: max-width 639px;
$tablet-min: 640px;
$tablet-max: max-width 960px;
$desktop-min: 961px;
$content-max: 1550px;
$layout-max: 1920px;

// Layout-exclusive breakpoints
$mobile-only: $mobile-max;
$tablet-only: (min-width $tablet-min) ($tablet-max);
$desktop-only: min-width $desktop-min;
