/**
 * SASS vars
 */

// Breakpoints
$mobile: max-width 640px;
$tablet: max-width 960px;
$desktop: min-width 961px;
$content-max: 1550px;
$layout-max: 1920px;


// Mobile-first breakpoints
$mf-mobile: max-width 639px;
$mf-tablet: 640px;
$mf-desktop: 960px;
$mf-desktop-max: 1920px;
$mf-content-max: 1550px;


// Font sizes
$base-font-size: 14px;
