/**
 * SASS vars
 */

// Breakpoints
$mobile-max: 639px;
$tablet-min: 640px;
$tablet-max: 960px;
$desktop-min: 961px;
$content-max: 1550px;
$layout-max: 1920px;

// Layout-exclusive breakpoints
$mobile-only: max-width $mobile-max;
$tablet-only: $tablet-min $tablet-max;
$desktop-only: min-width $desktop-min;



// Font sizes
$base-font-size: 14px;
