// Extend component to work with Drupal DOM.

.l-region--content-top {

  &.bg-cover {
    text-align: center;
    position: relative;

    .content-inner {
      padding: 2em 0;
    }
  }

  &.bg-cover,
  &.bg-cover h1 {
    color: $text-negative;
    font-family: $text--benton-light;
  }

  &.bg-overlay .hero__bg-cover-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: #333;

    ~ * {
      position: relative;
    }
  }
}
