<div class="quote {{ modifier_class }}">
  <p class="quote__text">{{ quoteText }}</p>
  <p class="quote__byline">
    <span class="quote__byline-name">{{ bylineName }},</span>
    <span class="quote__byline-detail">{{ bylineDetail }}</span>
  </p>
</div>
