/*
Simple Pager

Used to navigate between content of a similar type. A simple previous and next style navigation. The navigation links are placed at the vertical center, on the left and right side of the content area.

Markup: pager-simple.hbs

.pager-simple--light - Used on

Style guide: navigation.pager-simple
*/

.pager-simple {
  @extend %inline-list;

  .pager-simple__prev,
  .pager-simple__next {
    @extend %vertical-centered;
    @extend %underline-none;
    left: 0;
  }

  .pager-simple__next {
    left: auto;
    right: 0;
  }

  .pager-simple__label {
    @extend %element-invisible;
  }

  &.pager-simple--light {
    .pager-simple__prev,
    .pager-simple__next {
      color: $text-medium-body;
    }
  }
}
