/*
Content Container

A wrapper elemnt to go around content to keep it in a centered column on the 
page.

Markup: content_container.hbs

Weight: 2

Style guide: layout.container
*/

.content-container {
  @extend %clearfix;
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}