/*
Content Container

A wrapper elemnt to go around content to keep it in a centered column on the 
page.

Markup: content_container.hbs

Weight: 30

.content-container--wide - An extra wide content container

Style guide: layout.container
*/

.content-container {
  @extend %clearfix;
  box-sizing: border-box;
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 11%;
  padding-right: 11%;

  &.content-container--wide {
    padding-left: 3%;
    padding-right: 3%;
  }
}
