/*
Base Form Styles

A basic form.

Markup: form.hbs

Weight: 0

.form--full-width - Full width text inputs and select menus.

Style guide: forms.base
*/

.form__intro {
  text-align: center;
  margin-bottom: 1.5em;
}

.form--full-width {
  .form__field {
    margin-left: auto;
    margin-right: auto;
    max-width: 432px;
  }

  .form__control,
  input[type="text"],
  input[type="search"],
  input[type="tel"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
  }
}


/*
Form Fields

Form fields with their related controls, labels, error messaging, etc.

Markup: form_fields.hbs

Weight: 1

Style guide: forms.fields
*/
.form-field {
  @extend %clearfix;
  position: relative;
  margin-bottom: 1em;

  .form-field__label,
  .form-field__description {
    @extend .text--label;
    // Due to the @extend rules getting grouped at an unknown location, any
    // property overrides will need !important.
    text-transform: none !important;
  }

  .form-field__label {
    color: $text-form-float-label;
  }

  .form-field__description {
    margin-top: 0.25em;
  }

  &.form-field--invalid .form-field__label,
  &.form-field--invalid .form-field__error {
    color: $msg-error-text;
  }

  // Floated label overrides.
  &.has-float-label {
    .form-field__label {
      position: absolute;
      pointer-events: none;
      opacity: 0;
      left: 0.7em;
      top: 0.5em;

      // These are javascript activated state classes.
      // @see jquery.floatlabel.js
      // &.has-focus,
      &.is-active {
        pointer-events: all;
        display: block;
        transform: translateY(-0.2em);
        opacity: 1;
        z-index: 1;
      }
      &.has-focus {
        @include transition(opacity 50ms ease, transform 150ms ease);
      }
    }

    .form-field__control,
    input[type="text"],
    input[type="search"],
    input[type="tel"],
    input[type="password"],
    input[type="number"],
    input[type="email"],
    select,
    textarea {
      padding-top: 1.7em;
      padding-bottom: 0.3em;
    }

    select.is-empty {
      color: $text-light-body;
    }
  }
}

// Avoiding `.form-field--invalid &` sass selector, for kss compatibility.
.form-field--invalid .form-field__control,
.form-field--invalid input[type="text"],
.form-field--invalid input[type="search"],
.form-field--invalid input[type="tel"],
.form-field--invalid input[type="password"],
.form-field--invalid input[type="number"],
.form-field--invalid input[type="email"],
.form-field--invalid select,
.form-field--invalid textarea {
  border-color: $msg-error-text;
}

.form-field__control,
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="email"],
select,
textarea {
  @include transition(border-color 250ms);
  display: block;
  box-sizing: border-box;
  border: 1px solid $form-border;
  border-radius: 0;
  padding: 0.5em;
  background: $white;
  color: $text-dark-body;
  font-size: $base-font-size;
  outline: none;
  text-align: left;

  &:hover,
  &:focus {
    border-color: $form-border-accent;
  }

  &:focus {
    border-color: $text-form-float-label;
  }
}

// Un-color label on checkboxes.
.form-field--checkbox .form-field__label,
.form-field--checkbox label {
  color: inherit;
}

input::placeholder {
  color: $text-light-body;
}

@include breakpoint($mobile-only) {
  input {
    text-align: center;
  }
}

select {
  @extend %cover-absolute;
  position: relative;
  width: 100%;
  appearance: none;
  outline: none;
  font-size: 1em;
  color: $text-dark-body;
  // Inline SVG generator: http://codepen.io/jakob-e/pen/doMoML
  // Note: adjusted svg[width], svg[height], path[fill] attributes.
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 512 512'%3E%3Cpath fill='%23787878' d='M5.2,176.9a12.5,12.5,0,0,1-2.7-17.5,12.5,12.5,0,0,1,17.5-2.7L256,326.8,492.2,156.6A12.5,12.5,0,1,1,506.7,177L256,357.8Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 10px auto;
}

// Separate, because IE is lame.
select::-ms-expand {
  display: none;
}

.form-field__option-none {
  color: $text-medium-body;
}


/*
Submit Buttons

Form action elements.

Markup: form_button.hbs

Weight: 2

Style guide: forms.actions
*/

.form {
  .form__button,
  input[type="submit"] {
    @extend .cta;
    @extend .cta--secondary;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: none;

    @include breakpoint($tablet-min) {
      width: auto;
    }

    &.is-submitting,
    &.is-submitted,
    &.is-errored {
      cursor: inherit;
    }
  }
}


/*
Validation Messages

Warnings, errors, etc.

Markup: form_validation.hbs

Weight: 3

Nodefault: true

.form-field--invalid - Invalid form field

Style guide: forms.validation
*/
.form-field--invalid {
  color: $msg-error-text;
}



/*
Confirmation Messages

Nothing to see here yet...

Markup: form_confirmation.hbs

Weight: 4

Style guide: forms.confirmation
*/
