/*
Base Form Styles

A basic form with layout modifiers.

Markup: form.hbs

Weight: 0

.form--full-width - 100% width of container. Suggested in combination with grid containers.
.form--centered - Centered with a maximum width.
.form--sized - Defined widths, with a maximum width, but not centered.

Style guide: forms.base
*/

fieldset,
.form__intro,
.form__fieldset {
  margin-bottom: 1.5em;
}

legend,
.form__legend {
  @extend .heading--h3;
  padding-bottom: 0.5em;
}

.form--centered,
.form--sized,
.form--full-width {
  .form__control,
  .form__field,
  input[type="text"],
  input[type="search"],
  input[type="tel"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
  }

  // Buttons should be 100% width on mobile only.
  .form__button {
    @include breakpoint($mobile-only) {
      width: 100%;
    }
  }
}

.form--centered {
  .form__intro {
    text-align: center;
  }

  .form__intro,
  .form__control,
  .form__field,
  .form__button,
  input[type="text"],
  input[type="search"],
  input[type="tel"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  select,
  textarea {
    margin-left: auto;
    margin-right: auto;
  }
}

.form--centered,
.form--sized {
  .form__intro,
  .form__control,
  .form__field,
  input[type="text"],
  input[type="search"],
  input[type="tel"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  select,
  textarea,
  .form__button {
    max-width: 432px;
  }
}


/*
Form Fields

Form fields with their related controls, labels, error messaging, etc.

Markup: form_fields.hbs

Weight: 1

Style guide: forms.fields
*/

.form-field {
  @extend %clearfix;
  position: relative;
  margin-bottom: 1em;

  .form-field__label,
  .form-field__description {
    // Avoiding @extend .text--label since overriding text-transform is not
    // straightforward.
    font-family: $text--benton-book;
    letter-spacing: 1px;
    line-height: 1.5;
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      -webkit-font-smoothing: subpixel-antialiased;
    }
  }

  .form-field__label {

  }

  .form-field__description {
    margin-top: 0.25em;
    font-size: em(14px); // Same size as .text--body-small

    // Remove margin-top when empty.
    &:empty {
      margin-top: 0;
    }
  }

  &.form-field--invalid .form-field__label,
  &.form-field--invalid .form-field__error {
    color: $text-form-error;
  }

  // Floated label overrides.
  &.has-float-label {
    .form-field__label {
      position: absolute;
      font-size: em(11px);
      pointer-events: none;
      opacity: 0;
      left: 0.7em;
      top: 0.5em;

      // These are javascript activated state classes.
      // @see jquery.floatlabel.js
      // &.has-focus,
      &.is-active,
      &.is-msie {
        pointer-events: all;
        display: block;
        transform: translateY(-0.2em);
        opacity: 1;
        z-index: 1;
      }
      &.has-focus {
        transition: opacity 50ms ease, transform 150ms ease;
      }
    }

    .form-field__control,
    input[type="text"],
    input[type="search"],
    input[type="tel"],
    input[type="password"],
    input[type="number"],
    input[type="email"],
    select,
    textarea {
      padding-top: 1.7em;
      padding-bottom: 0.3em;
    }

    // The first "non-option" in a select should look like a placeholder.
    select.is-empty {
      color: $gray;

      option {
        color: $text-dark-body;
      }
    }
  }
}

// Avoiding `.form-field--invalid &` sass selector, for kss compatibility.
.form-field--invalid {
  .form-field__control,
  input[type="text"],
  input[type="search"],
  input[type="tel"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  select,
  textarea {
    border-color: $text-form-error;
  }
}

.form-field__control,
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="email"],
select,
textarea {
  transition: border-color 250ms;
  display: block;
  box-sizing: border-box;
  border: 1px solid $form-border;
  border-radius: 0;
  padding: 0.5em;
  background: $white;
  color: $text-dark-body;
  font-size: $base-font-size;
  outline: none;
  text-align: left;

  &:hover,
  &:focus {
    border-color: $form-border-accent;
  }

  &:focus {

  }
}

// Allow inline modifier on form fields.
.form-field--inline {
  display: inline-block;

  .form-field__control,
  input[type="text"],
  input[type="search"],
  input[type="tel"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  select,
  textarea {
    display: inline-block;
  }
}

// Disabled fields.
input[disabled="disabled"],
button[disabled="disabled"],
select[disabled="disabled"],
textarea[disabled="disabled"] {
  @extend .disabled;
}

// Reduce margins checkbox, radio form items.
.form-field--checkbox,
.form-field--radio {
  margin-bottom: 0;
}

// Un-color labels on checkbox, radio form items.
.form-field--checkbox .form-field__label,
.form-field--radio .form-field__label {
  color: inherit;
}

input::placeholder {
  color: $gray;
}

// Hide extraneous placeholder in IE 10-11.
.has-float-label {
  input.has-duplicate-placeholder:-ms-input-placeholder {
    color: transparent;
  }
}

@include breakpoint($mobile-only) {
  input {
    text-align: center;
  }
}

select {
  @extend %cover-absolute;
  position: relative;
  padding-right: 2.5em;
  appearance: none;
  outline: none;
  font-size: 1em;
  color: $text-dark-body;
  // Inline SVG generator: http://codepen.io/jakob-e/pen/doMoML
  // Note: adjusted svg[width], svg[height], path[fill] attributes.
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 512 512'%3E%3Cpath fill='%23787878' d='M5.2,176.9a12.5,12.5,0,0,1-2.7-17.5,12.5,12.5,0,0,1,17.5-2.7L256,326.8,492.2,156.6A12.5,12.5,0,1,1,506.7,177L256,357.8Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 10px auto;
}

// Separate, because IE is lame.
select::-ms-expand {
  display: none;
}

.form__button {
  display: block;
  outline: none;

  @include breakpoint($tablet-min) {
    width: auto;
  }
}

/*
Form on Dark Backgrounds

Nodefault: true

Markup: form_fields.hbs

Weight: 1

Bgcolor: #333

.form--negative - Negative default text color and heavier font weight for readability on dark backgrounds.

Style guide: forms.fields-dark
*/

.form--negative {
  color: $bg-light-gray-2;

  // Reduces the contrast on dark backgrounds.
  .form-field__control,
  input[type="text"],
  input[type="search"],
  input[type="tel"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  select,
  textarea {
    background-color: $bg-light-gray-2;
  }

  input::placeholder {
    color: $medium-gray;
  }

  // Hide extraneous placeholder in IE 10-11.
  .has-float-label {
    input.has-duplicate-placeholder:-ms-input-placeholder {
      color: transparent;
    }

    // The first "non-option" in a select should look like a placeholder.
    select.is-empty {
      color: $medium-gray;

      option {
        color: $text-dark-body;
      }
    }
  }

  .form__legend {
    color: $text-white;
  }

  // Use a bolder font for labels and description text.
  .form-field__label,
  .form-field__description {
    font-family: $text--benton-medium;
  }

  // But, float labels should be benton-book.
  .form-field.has-float-label {
    .form-field__label {
      font-family: $text--benton-book;
    }
  }
}

/*
Invalid Form Fields

For missing/invalid form element submissions.

Nodefault: true

Markup: form_validation.hbs

Weight: 2

.form-field--invalid - Invalid form field.

Style guide: forms.validation
*/

.form-field--invalid {
  color: $text-form-error;
}

/*
Inline form elements.

Form element that sits within lines of text content, currently only `<select>` elements.

Weight: 3

Style guide: forms.text-inline
*/
.form-field--text-inline {
  display: inline-block;
  margin: 0;

  select {
    display: inline-block;
    margin: 0 0.25em;
    padding: 0.25em 2em 0.25em 0.5em;
    font-size: 1.5em;
  }

  .form-field {
    margin: 0;
  }
}

@include breakpoint($mobile-only) {
  .form-field--text-inline select {
    display: block;
    width: 100%;
    margin: 0;
    font-size: 1.25em;
  }
}


/*
Confirmation Messages

Nothing to see here yet...

Markup: form_confirmation.hbs

Weight: 4

Style guide: forms.confirmation
*/
