/*
Base Form Styles

A basic form.

Markup: form.hbs

Weight: 0

Style guide: forms.base
*/

.form__intro {
  text-align: center;
  margin-bottom: 1.5em;
}

.form-field__wrapper {
  @extend %clearfix;
  position: relative;
  margin-bottom: 1em;
}

.form-field__label {
  @extend .text--label;
  color: $text-form-label;
}

.has-float-label {
  .form-field__label {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    left: 0.7em;
    top: 0.5em;

    // These are javascript activated state classes.
    // @see jquery.floatlabel.js
    // &.has-focus,
    &.is-active {
      pointer-events: all;
      display: block;
      transform: translateY(-0.2em);
      opacity: 1;
      z-index: 1;
    }
    &.has-focus {
      @include transition(opacity 50ms ease, transform 150ms ease);
    }
  }

  input[type="text"],
  input[type="search"],
  input[type="tel"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  textarea {
    padding-top: 1.7em;
    padding-bottom: 0.3em;
  }

  .form__select {
    padding-top: 3em;
    padding-bottom: 0.3em;
    
    &:before {
      top: 20px;
    }

    &:after {
      top: 19px;
    }

    select {
      padding-top: 1.1em;
    }
  }
}

/*
Input Fields

Text inputs on a form. Including text fields types, textareas

Markup: form_input.hbs

Weight: 1

Style guide: forms.input

Nocode: true
*/
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea,
.form__select {
  @include transition(border-color 250ms);
  box-sizing: border-box;
  border: 1px solid $form-border;
  border-radius: 0;
  padding: 0.5em;
  background: $white;
  color: $text-dark-body;
  font-size: $base-font-size;
  outline: none;
  text-align: left;

  // @TODO see if we even need this.
  // @include breakpoint($mobile-only) {
  //   width: 100%;
  // }

  &:hover {
    border-color: $gray;
  }

  &.input--full-width {
    width: 100%;
  }

  .form--single-field & {
    text-align: center;
  }
}

input::input-placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: $text-medium-body;
}

@include breakpoint($mobile-only) {
  input {
    text-align: center;
  }
}

.form__select {
  position: relative;
  padding: 2em 0.5em 0.3em;

  // Select arrow through pseudo selector triangles
  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
    pointer-events: none;
  }

  /* Stroke */
  &:before {
    top: 15px;
    right: 11px;
    border-top-color: $form-border;
    border-width: 8px;
  }

  /* Fill */
  &:after {
    top: 14px;
    right: 12px;
    border-top-color: $white;
    border-width: 7px;
  }


  select {
    @extend %cover-absolute;
    width: 100%;
    left: 0.5em;
    border: 0;
    appearance: none;
    outline: none;
    background: transparent;
    font-size: 1em;
    color: $text-dark-body;
  }

  select::-ms-expand {
    display: none;
  }
}

select {
  .select-placeholder {
    color: $text-medium-body;
  }
}

/*
Submit Buttons

Form action elements.

Markup: form_button.hbs

Weight: 2

Style guide: forms.actions
*/

// .form-action--primary__wrapper {
//   @extend .cta;
//   @extend .cta--secondary;
// }

// input[type="submit"] {
//   @extend %reset-box;
//   @extend .link;
//   font-size: 1em;
//   background: transparent;

//   &.is-submitting,
//   &.is-submitted,
//   &.is-errored {
//     cursor: inherit;
//   }
// }

.form__wrapper {
  input[type="submit"] {
    @extend .cta;
    @extend .cta--secondary;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($tablet-min) {
      width: auto;
      min-width: 60%;
    }

    @include breakpoint($desktop-min) {
      min-width: 40%;
    }


    &.is-submitting,
    &.is-submitted,
    &.is-errored {
      cursor: inherit;
    }
  }
}



/*
Validation Messages

Nothing to see here yet...

Markup: form_validation.hbs

Weight: 3

Style guide: forms.validation
*/
.form__field--invalid {
  display: none;
  color: $error;
}



/*
Confirmation Messages

Nothing to see here yet...

Markup: form_confirmation.hbs

Weight: 4

Style guide: forms.confirmation
*/
