/*
Text Teaser List

Short list of related/recommeded items, used for page footers.

Weight: 10

Markup: text_teaser_list.hbs

Style guide: lists.text_teaser
*/

.text-teaser-list {
  @extend %clearfix;
  @extend %plain-list;

  .text-teaser-list__item {
  }

  .text-teaser-list__title a {
    font-family: $text--merriweather-light;
    color: $text-medium-body;
  }

  .text-teaser-list__type {
    @extend .text--label;
    @extend .text--border;
  }
}
