/*
Video Chapters

A list of chapters for Brightcove videos.

Markup: video_chapters.hbs

Bgcolor: #222222

Style guide: lists.video-chapters

Weight: 80
*/

.video-chapters {
  // _link_list.scss
  @extend .link-list--plain;
  // _reveal.scss
  @extend .reveal__content;
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
  color: $text-negative;
}

.video-chapters__chapter {
// _formatted_text.scss
  @extend .text--label;
  position: relative;
  cursor: pointer;
  margin-top: 0.5em;

  &:first-child {
    margin-top: 0;
  }

  // Custom arrow list item marker.
  &:before {
    position: absolute;
    display: inline-block;
    font-size: em(8px);
    left: -1.6em;
    top: 0.6em;
    content: '\25B6';
  }
}

.video-chapters__toggle-wrapper {
  .video-chapters__toggle {
    // _link_formatted.scss
    @extend .link;
    @extend .link--expand;
    @extend .text--label;
    display: inline-block;

    &.is-open {
      @extend .link--collapse;
    }
  }
}

/*
Video Chapters Demo

Interaction demo for Brightcove video chapters.

Markup: video_chapters_demo.hbs

Nocode: true

Style guide: media.video-chapters-demo
*/
