/*
Video Chapters

A list of chapters for On-Demand Training Videos.

Markup: video_chapters.hbs

Style guide: media.video-chapters
*/

.video-chapters {
  // _link_list.scss
  @extend .link-list--plain;
  // _formatted_text.scss
  @extend .text--caps;
  @extend .text--small;
  @extend .text--benton-book;
  // _reveal.scss
  @extend .reveal__content;
  padding-left: 2em;
  margin-top: 0;
  margin-bottom: 0;
  color: $white;
}

.video__chapter {
  position: relative;
  cursor: pointer;
  margin-top: 0.5em;

  &:first-child {
    margin-top: 0;
  }

  // Custom arrow list item marker.
  &:before {
    position: absolute;
    display: inline-block;
    font-size: em(8px);
    left: -1.6em;
    top: 0.6em;
    content: '\25B6';
  }
}

.video-chapters__toggle {
  // _link_formatted.scss
  @extend .link;
  @extend .link--expand;
  display: inline-block;
  margin-top: 1.5em;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
