/*
Video Chapters

Chapters for On-Demand Training Videos.

Markup: video_chapters.hbs

Style guide: media.video-chapters
*/

.video__chapters {
  @extend %plain-list;
  font-family: $text--benton-light;
  margin-left: 2em;
  color: $white;
}

.video__chapter {
  position: relative;
  cursor: pointer;

  &:before {
    position: absolute;
    display: inline-block;
    left: -1em;
    top: 0.6em;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 6.9px;
    border-color: transparent transparent transparent $white;
  }
}
