/*
Accordion

An accordion of content that allows you to expand and collapse sections of
content.

Markup: accordion.hbs

Style guide: interactive.accordion
*/
.accordion__item {
  position: relative;
  border-top: 1px solid $accent-dividers;

  &:last-child {
    border-bottom: 1px solid $accent-dividers;
  }
}

.accordion__title {
  position: relative;
  cursor: pointer;
  padding: 1em;

  h5 {
    margin: 0;
  }
}

.accordion__title:after {
  position: absolute;
  display: inline-block;
  content: $icon--chevron-down;
  right: 1em;
    top: 50%;
  font-family: "icons";
  line-height: 0;
}

.accordion__item.open .accordion__title:after {
  content: $icon--chevron-up;
}

.accordion__content {
  padding: 0 1em;
}
