/*
Formatted Text

Markup: formatted.hbs

Weight: 6

.text--bold - Bold text for emphasis. Same as `<strong>`
.text--light - Light text. Default for non-headings
.text--italic - Italic text for emphasis. Same as `<em>`
.text--caps - All caps text
.text--right - Right justified text
.text--left - Left justified text
.text--centered - Center justified text
.text--justified - Justified text
.text--huge - Huge text (36px)
.text--big - Big text (24px)
.text--base-size - Base size text (14px)
.text--small - Small text (12px)
.text--tiny - Tiny text - 10px
.text--lineheight-zero - Line height set to zero.

Style guide: typography.formatted
*/
strong,
.text--bold {
  font-weight: bold;
}
.text--light {
  font-weight: 100;
}
em,
.text--italic {
  font-style: italic;
}
.text--caps {
  text-transform: uppercase;
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--centered {
  text-align: center;
}
@include breakpoint($mobile-only) {
  .mobile-text--centered {
    text-align: center;
  }
}
.text--justified {
  text-align: justified;
}
.text--huge {
  font-size: em(36px);
}
.text--big {
  font-size: em(24px);
}
.text--base-size {
  font-size: $base-font-size;
}
.text--small {
  font-size: em(12px);
}
.text--tiny {
  font-size: em(10px);
}
.text--lineheight-zero {
  line-height: 0;
}


/*
Text Colors

Colors to be used in the text palette.

Markup: colors.hbs

Weight: 7

.text--negative - Negative Text colored text. `#fff;`
.text--light-body - Negative/light Body colored text. `#bbb`
.text--medium-body - Default Med. Body colored text. `#787878`
.text--dark-body - Default Dark Body colored text. `#333`
.text--link - Link Orange colored text. `#eb912c`
.text--headlines - Headlines colored text. `#000`
.text--nav-items - Nav Items colored text. `#212535`
.text--data-sources - Data Sources colored text. `#a3b9cb`
.text--stories - Stories colored text. `#847094`
.text--learning - Learning colored text. `#6f99a5`
.text--highlight - Highlight Text colored text. `#53bd92`
.text--desktop - Desktop colored text. `#23529c`
.text--server - Server colored text. `#7fa9bb`
.text--online - Online colored text. `#58a3b9`
.text--public - Public colored text. `#324E7A`
.text--reader - Reader colored text. `#B28CCF`
.text--mobile - Mobile colored text. `#DB8E6A`
.text--mission-1 - Mission 1 colored text. `#316cc8`
.text--mission-2 - Mission 2 colored text. `#7dcdf1`
.text--mission-3 - Mission 3 colored text. `#5facce`

Style guide: typography.colors
*/

/* Create a class for each text color */
@each $name, $color in $text-colors {
  .text--#{"" + $name} {
    color: $color !important;
  }
}


/*
Other Type Treatments

Other treatments used for text throughout the site

Markup: context-headings.hbs

Nodefault: true

Weight: 5

.text--large-copy - Large Copy
.text--sub-nav - Sub Nav Mission
.text--dropdown - Dropdown Copy
.text--label - Label/Nav item

Style guide: typography.other
*/

.text--large-copy {
  font-family: $text--benton-light;
  font-size: em(24px);
  color: $text-dark-body;
}

.text--sub-nav {
  font-family: $text--benton-light;
  font-size: em(22px);
  color: $text-headlines;
}

.text--dropdown {
  font-family: $text--benton-light;
  font-size: em(16px);
  color: $text-medium-body;
  line-height: 1.875;
}

.text--label {
  font-family: $text--benton-book;
  font-size: em(11px);
  letter-spacing: 1px;
  // color: $text-dark-body;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
}
