/*
Formatted Text

Markup: formatted.hbs

Weight: 30

Bgcolor: #F7F9FB

.text--bold - Bold text for emphasis. Same as `<strong>`
.text--light - Light text. Default for non-headings
.text--italic - Italic text for emphasis. Same as `<em>`
.text--caps - All caps text
.text--right - Right justified text
.text--left - Left justified text
.text--centered - Center justified text
.text--justified - Justified text
.text--lineheight-zero - Line height set to zero.

Style guide: typography.formatted
*/
strong,
.text--bold {
  font-weight: bold;
}
.text--light {
  font-weight: 100;
}
em,
.text--italic {
  font-style: italic;
}
.text--caps {
  text-transform: uppercase;
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--centered {
  text-align: center;
}
@include breakpoint($mobile-only) {
  .mobile-text--centered {
    text-align: center;
  }
}
.text--justified {
  text-align: justified;
}
.text--lineheight-zero {
  line-height: 0;
}


/*
Text Colors

Colors to be used in the text palette.

Markup: colored-text.hbs

Bgcolor: #F7F9FB

Weight: 32

.text--white - White Text colored text. `#fff;`
.text--light-body - Light Body colored text. `#bbb`
.text--medium-body - Default Med. Body colored text. `#787878`
.text--dark-body - Default Dark Body colored text. `#333`
.text--link - Link Orange colored text. `#eb912c`
.text--headlines - Headlines colored text. `#000`
.text--form-error  - Headlines colored text. `#c72035`

Style guide: typography.colors
*/

/* Create a class for each text color */
@each $name, $color in $text-colors {
  .text--#{"" + $name} {
    color: $color !important;

    h1, .heading--h1,
    h2, .heading--h2,
    h3, .heading--h3,
    h4, .heading--h4,
    h5, .heading--h5,
    h6, .heading--h6 {
      color: $color;

      a {
        color: $color;
      }
    }
  }
}
