/*
Person Teaser

Quick peek at a person, showing their name and associated metadata.

Weight: 60

Markup: person-teaser.hbs

Style guide: teasers.person-teaser
*/

.person-teaser {
  @extend %clearfix;
  position: relative;
  margin-top: 1em;
  color: $text-medium-body;

  &:first-child {
    margin-top: 0;
  }

  .person-teaser__image {
    @include span(1 of 4);

    @include breakpoint($tablet-min) {
      @include span(2);
    }
  }

  .person-teaser__info {
    // Isolated to keep the text wrap at the isolation column.
    @include span(isolate last 3 of 4 at 1);

    @include breakpoint($tablet-min) {
      @include span(4);
    }
  }

  .person-teaser__name {
    @extend .text--body-medium;
    margin-bottom: 0;
    margin-top: 0;
    color: $text-dark-body;
  }

  .person-teaser__job-title {
    @extend .text--label;
  }

  .person-teaser__bio {
    @extend .text--body-small;
  }

  .person-teaser__social {
    .link--social {
      display: inline-block;
      margin-right: 1em;
    }
  }
}
