<div class="clearfix">
  <div class="grid-4 box__padded--one">
    <p>
      <strong>.grid-4</strong>
    </p>
  </div>

  <div class="grid-4 box__padded--one">
    <p>
      <strong>.grid-4</strong>
    </p>
  </div>

  <div class="grid-4 box__padded--one">
    <p>
      <strong>.grid-4</strong>
    </p>
  </div>
</div>

<hr class="spacer">

<div class="clearfix">
  <div class="grid-2 box__padded--one">
    <p>
      <strong>.grid-2</strong>
    </p>
  </div>

  <div class="grid-7 box__padded--one">
    <p>
      <strong>.grid-7</strong>
    </p>
  </div>

  <div class="grid-3 box__padded--one">
    <p>
      <strong>.grid-3</strong>
    </p>
  </div>
</div>