/*
Social Share

A sharing element for social network widgets.

Markup: social-share.hbs

Style guide: interactive.social-share
*/

.social-share {
  @extend .text--label;
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: $text-link;

  &:hover {
    text-decoration: none;
  }

  .icon {
    font-size: 16px;
    vertical-align: top;
  }
}

.social-share__widgets {
  position: relative;
  overflow: hidden;
  height: 0;
}

.social-share__wrapper {
  margin-top: 1em;

  .social-share__widget  {
    display: inline-block;
    margin-left: 1em;
    color: $text-link;
    text-decoration: none;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }
  }
}

.text--negative .social-share {
  color: $text-negative;
}
