{{#with share}}
<div class="social-share__wrapper">
  <a class="social-share" href="#"><i class="icon icon_share"></i> {{label}}</a>

  <div class="social-share__widgets">
    {{#each widgets}}
      <a class="social-share__widget social-share__widet--{{type}}" data-social="{{type}}">
        <i class="icon icon_social-{{type}}"></i>
      </a>
    {{/each}}
  </div>
</div>
{{/with}}
