/*
Badges

The branding system makes use of a location-specific badge, including the dates and associated conference hashtag. As the conference travels, the badge can be updated to reflect the new locations, adding a custom element to the branding system. An outlined badge uses the <code>badge-outlined</code> class.

Markup: badge.hbs

.badge--dark-blue - Dark bluecolored badge
.badge--teal - Blue colored badge
.badge--salmon - Salmon colored badge
.badge--bright-teal - Bright teal colored badge
.badge--green - Green colored badge
.badge--navy - Navy colored badge
.badge--light-gray - Light graycolored badge
.badge--gray - Gray colored badge
.badge--dark-gray - Dark gray colored badge
.badge--white - White colored badge for colored backgrounds

Styleguide boxes.badge
 */

.badge {
  width: 200px;
  height: 200px;
  display: inline-block;
  padding: 20px;
  background: $dark-blue;
  border: 3px solid $dark-blue;
  color: $white;
  border-radius: 50%;
  text-align: center;
  font-size: 0.7em;


  &.badge--outlined {
    background: none;
    color: $dark-blue;
  }

  @each $name, $color in $theme-colors {
    &.badge--#{"" + $name} {
      background: $color;
      border-color: $color;

      &.badge--outlined {
        background: none;
        color: $color;
      }
    }
  }

  &.badge--light-gray,
  &.badge--white {
    color: $dark-blue;
  }
}
