// Basic utility, reusable grid classes

// Usage:
// Component: .grid (like .container)
// Element/Modifier:
// .grid-1, .grid-2, .grid-3, etc.

@import "susy";

$susy: (
  columns: $grid-columns,
  gutters: 1/2,
);

@for $i from 1 through $grid-columns {
  .grid-wide-#{$i} {
    position: relative;
    
    @include breakpoint($tablet) {
      @include span($i);
      
      &:last-child,
      &.grid-wide-last {
        margin-right: 0;
      }
    }
  }
  .push-wide-#{$i} {
    @include breakpoint($tablet) {
      @include push($i);
    }
  }
  .pull-wide-#{$i} {
    @include breakpoint($tablet) {
      @include pull($i);
    }
  }
}
