/*
Formatted Icons

Different formatting/style options for icons

Markup: icon-formatted.hbs

.icon--big - A big icon.
.icon--bigger - A bigger icon.
.icon--biggest - A very big icon.

Style guide: media.icon-formatted
*/

.icon--big {
  font-size: 2.5em;
}

.icon--bigger {
  font-size: 5em;
}

.icon--biggest {
  font-size: 7em;
}
