/*
Content Tabs

Tabbed content sections where one section is visible at a time. The following
options can be set via data attributes on the wrapper element:

**Wrapper Options:**
* `data-tabs-scroll="[wrapper|content]"` - (optional) - Smooth-scroll to either the top of the tabs wrapper or the target content when tabs are clicked.

Markup: tabs.hbs

Style guide: interactive.tabs
*/

.tabs__tabs {
  @extend %plain-list;
  @extend %inline-list;

  .tabs__tab-link {
    @extend .text--label;
    margin-right: 2em;

    &.is-active {
      font-weight: bold;
      border-bottom: 2px solid $text-link;
      text-decoration: none;
    }
  }
}

.tabs__tab-content {
  display: none;
  @extend %clearfix;

  &.is-active {
    display: inherit;
  }
}
