/*
Content Tabs

Tabbed content sections where one section is visible at a time.

Markup: tabs.hbs

Style guide: interactive.tabs
*/

.tabs__tabs {
  @extend %plain-list;
  @extend %inline-list;
  
  .tabs__tab-link {
    @extend .text--label;
    margin-right: 2em;

    &.active {
      font-weight: bold;
    }
  }
}

.box--data-sources .tabs__tab-link {
  color: $text-data-sources;

  &.active {
    color: $text-negative;
  }
}

.tabs__tab-content {
  display: none;
  @extend %clearfix;

  &.active {
    display: inherit;
  }
}