/*
Card Teaser

@todo Description

Markup: card.hbs

.card--wide - Double-wide version of a card.
.card--quote - A highlighted card used for promoting an item with a quote.

Style Guide: lists.card
*/

.card {
  margin-bottom: 1.5em;
  box-sizing: border-box;
  background: $white;
  border: 1px solid $bg-light-gray-2;
  border-radius: 2px;

  .card__thumbnail {
    border-radius: 2px;
  }

  .card__details {
    padding: 0.7em 1em;
  }

  .card__label {
    line-height: 1.4;
  }

  .card__title {
    position: relative;
    max-height: 4.8em;
    overflow: hidden;
    margin: 1em 0;
    font-size: 1.43em;
    line-height: 1.6;
    @extend .text--merriweather-light;

    &:after {
      // @todo handle ellipsis if content overflows
      // http://www.mobify.com/blog/multiline-ellipsis-in-pure-css/
      // content: "\2026";
      // position: absolute;
      // bottom: 0; 
      // right: 0;
      // background: $white;
    }
  }

  .card__tags {
    max-height: 1.86em;
    overflow: hidden;
  }

  &.card--wide {
    .card__title {
      max-height: 3.2em;
      margin: 0.66em 0;
      font-size: 2.14em;
    }
  }


  &.card--quote {
    background: $bg-data-sources;
    color: $white;
  }
  
  @include breakpoint($tablet-min) {
    @include span(4);
    
    &.card--wide {
      @include span(8);
    }
    
    &.card--row-end {
      margin-right: 0;
    }
  }
}
