<div class="viz-slideshow content-container--wide">
  <div class="viz-slideshow__slides">
    {{#each vizzes }}
      <div class="viz-slideshow__slide">
        {{# thumbnail}}
          <div class="clearfix">
            {{> thumbnail}}
          </div>
        {{/ thumbnail}}

        <div class="viz-slideshow__slide__copy">
          {{# title}}
            <div class="grid--4">
              {{> heading}}
            </div>
          {{/ title}}

          <div class="grid--8 grid--last vertical-divider shame__margin-top">
            {{#if description}}
              <p>{{{ description }}}</p>
            {{/ if}}

            {{# download}}
              <span>{{> link}}</span>
            {{/ download}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="viz-slideshow__controls">
    <button class="viz-slideshow__arrow viz-slideshow__arrow--prev">
      <i class="icon--slideshow-prev-dark">Previous</i>
    </button>
    <button class="viz-slideshow__arrow viz-slideshow__arrow--next">
      <i class="icon--slideshow-next-dark">Next</i>
    </button>
  </div>
</div>
