/*
Notification

Display global notification.

Markup: notification.hbs

Weight: 10

Style guide: interactive.notification
*/

.notification {
  .notification__message {
    padding-right: 3em;
  }

  .notification__close:after {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 1.25em;
    cursor: pointer;
    content: $icon--close-window-style2;
    font-family: "tableau-icons";
    font-size: 2em;
    color: $white;
  }

  @include breakpoint($tablet-max) {
    .notification__close:after {
      right: 0.5em;
    }
  }
}
