<div class="notification section section--padded-one bg--dark-gray-3">
  <div class="notification__wrapper content-container content-container--wide">
      <div class="notification__message">
      {{{ message }}}
    </div>
    <a href="#" class="notification__close"></a>
  </div>
</div>
