/* 
Standard Unordered List

A standard unordered list with bullets.

Weight: 10

Markup: list.hbs

.list-negative - Light colored bullets.

Style guide: lists.standard
*/

ul {
  list-style-image: url(../images/shame/icons/bullet.png);
  padding-left: 1em;
}

.list-negative {
  list-style-image: url(../images/shame/icons/bullet-white.png);
  padding-left: 1em;
}
