/* 
Standard Unordered List

A standard unordered list with bullets. Gray background applied in order to make sure light colored bullets show up.

Weight: 10

Markup: list.hbs

Bgcolor: #ccc

.list-negative - Light colored bullets.

Style guide: lists.standard
*/

ul {
  list-style-image: url(../images/icons/bullet.png);
  padding-left: 1em;
}

.list-negative {
  list-style-image: url(../images/icons/bullet-white.png);
  padding-left: 1em;
}
