<label for="text-field">Text Field:</label>
<input type="text" name="text-field" id="text-field"/>
<br>
<label for="email-field">Email Field:</label>
<input type="email" name="email-field" id="email-field"/>
<br>
<label for="password-field">Password Field:</label>
<input type="password" name="password-field" id="password-field"/>
