/* Base styles for general page setup */

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* reset margin/padding/border from UA stylesheet */
form,
fieldset,
legend {
  border: 0;
  margin: 0;
  padding: 0;
}

