/**
 * Helpers
 *
 * General helper styles that can be used to overcome various common issues.
 */

/*
Proportionately resize iframes. Add class to a wrapper around the iframe. See
also the responsive-placeholder mixin for custom sizes. These are just the two
most common proportions for video players.
*/
.iframe-4-3,
.iframe-16-9 {
  position: relative;
  padding-bottom: 75%; /* 4:3 */
  height: 0;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.iframe-16-9 {
  padding-bottom: 56.25%; /* 16:9 */
}

// Relatively position an element
.relative {
  position: relative;
}

// Absolutely position an element
.absolute {
  position: absolute;
}

// Display an element as an inline-block
.display-inline {
  display: inline;
}

// Zero out the margins of an element
.margin-zero {
  margin: 0;
}

// Zero out the padding of an element
.padding-zero {
  padding: 0;
}

// Float element to the right
.float-right {
  float: right;
}

// Float element to the left
.float-left {
  float: left;
}

// Zero out the lineheight of an element
.line-height-zero {
  line-height: 0;
}

// Set the overflow of an element to hidden
.overflow-hidden {
  overflow: hidden;
}

// Hide inner text of an element
.hide-text {
  @extend %hide-text;
}

// Remove default list style and spacing
.plain-list {
  @extend %plain-list;
}

// Same as .plain-list, but also makes list items inline-block
.inline-list {
  @extend %inline-list;
}

// Clear floating of child elements
.clearfix {
  @extend %clearfix;
}

// Hide the element from being displayed
.hide {
  display: none;
}

// Apply styles for a background image to cover the container
.bg-cover {
  background-size: cover;
  background-position: center;
}

@include breakpoint($mobile-only) {
  // Hide the element from display only on the mobile breakpoint
  .mobile-hide {
    display: none;
  }

  // Center element on mobile breakpoint
  .mobile-center {
    text-align: center;
  }
}

@include breakpoint($tablet-min) {
  // Show element only on the mobile breakpoint
  .mobile-show {
    display: none;
  }
}

@include breakpoint($tablet-max) {
  // Hide the element from display only on the tablet breakpoint
  .tablet-hide {
    display: none;
  }

  // Show element only on the desktop breakpoint
  .desktop-show {
    display: none;
  }
}

@include breakpoint($desktop-only) {
  // Hide the element from display only on the desktop breakpoint
  .desktop-hide {
    display: none;
  }

  // Show element only on the tablet and mobile breakpoint
  .tablet-show {
    display: none;
  }

  // Center element on desktop breakpoint
  .desktop-center {
    text-align: center;
  }
}
