/**
 * Spacing
 *
 * Add margin/padding to a component or element with shorthand classes.
 */

$spacer: 1em !default;

$properties: (
  margin,
  padding,
);

$multipliers: (
  -zero: 0,
  -one: 1,
  -two: 2,
  -three: 3,
);

$margins: (
  '': '',
  -t: -top,
  -r: -right,
  -b: -bottom,
  -l: -left,
  -x: (-right, -left),
  -y: (-top, -bottom),
);

@each $property in $properties {
  // Loop sizes.
  @each $label, $multiple in $multipliers {
    // Loop sides.
    @each $identifier, $sides in $margins {
      .#{$property}#{$identifier}#{$label} {
        @each $side in $sides {
          #{$property}#{$side}: $spacer * $multiple !important;
        }
      }
    }
  }
}


// Examples...
/*
.margin-zero { margin: 0em !important; }
.margin-t-zero { margin-top: 0em !important; }
.margin-r-zero { margin-right: 0em !important; }

.margin-b-one { margin-bottom: 1em !important; }
.margin-l-one { margin-left: 1em !important; }

.margin-x-two {
  margin-right: 2em !important;
  margin-left: 2em !important;
}
.margin-y-two {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.padding-zero { padding: 0em !important; }

.padding-t-two { padding-top: 2em !important; }

.padding-y-three {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}
*/
